<template>
  <div>
    <lay-layout/>
  </div>
</template>

<script>
  import LayLayout from './layout';
  import LayButton from './button';

  export default {
    components: {
      LayLayout,
      LayButton
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

</style>
