<template>
  <div class="shuoming">
    <header>
      <span>{{title}}玩法说明</span>
      <i class="iconfont icon-fork"
         @click="goBack"></i>
    </header>
    <h3>游戏规则</h3>
    <div v-html="rule"
         class="pre"></div>
    <h3>玩法说明</h3>
    <div v-for="(item, i) in ways"
         :key="i">
      <p class="pre p1">
        {{item.way}}
      </p>
      <p class="pre">
        {{item.explain}}
      </p>
    </div>

  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {Toast} from "mint-ui";
  import {lotteryPlayIntroduce_api} from "@/common/api";

  export default {
    created() {
      this.title = this.$route.params.title
      lotteryPlayIntroduce_api({lottery_id: this.$route.params.id}).then(res => {
        if (res.code == 200) {
          this.rule = res.data.rule
          this.ways = res.data.ways
        }
      })
    },
    data() {
      return {
        title: '',
        rule: '',
        ways: []
      };
    },
    methods: {
      goBack() {
        window.history.back()
      }
    },
    components: {}
  };
</script>

<style lang="less" scoped>
  .shuoming {
    padding: 0.3rem;
    color: #333;
    font-size: 12px;

    > header {
      position: relative;
      top: 0;
      text-align: center;
      width: 100%;
      font-size: 24px;
      margin-bottom: 10px;

      > i {
        position: absolute;
        top: 5px;
        right: 5px;
        float: right;
        color: #979797;
      }
    }

    > h3 {
      color: #fe3959;
      height: 0.5rem;
      font-size: 18px;
      margin-bottom: .2rem;
    }

    .pre {
      font-size: 13px;
      color: #666;
      line-height: 1.8;
    }

    .p1 {
      color: #fe3900;
    }
  }
</style>
