<template>
  <div class="center-page">
    <div class="swipe-con">

      <my-header></my-header>

      <my-tabs></my-tabs>

      <p class="titles">
        娱乐中心
      </p>

      <div class="play-tab">
        <div class="play-tab-bar">
          <img src="" alt="">
          <span>DG</span>
        </div>
        <div class="play-tab-bar">
          <img src="" alt="">
          <span>体育</span>
        </div>
        <div class="play-tab-bar">
          <img src="" alt="">
          <span>电竞</span>
        </div>
        <div class="play-tab-bar">
          <img src="" alt="">
          <span>直播</span>
        </div>
      </div>

      <my-slide></my-slide>


      <div class="other-con">
        <div class="other-con-item">
          <span>在线客服</span>
          <span>24小时</span>
          <img src="" alt="">
        </div>

        <div class="other-con-item">
          <span>在线客服</span>
          <span>24小时</span>
          <img src="" alt="">
        </div>

        <div class="other-con-item">
          <span>在线客服</span>
          <span>24小时</span>
          <img src="" alt="">
        </div>

        <div class="other-con-item">
          <span>在线客服</span>
          <span>24小时</span>
          <img src="" alt="">
        </div>
      </div>

    </div>


    <p class="titles">
      热门活动
    </p>


    <div class="activity-con">

      <div class="activity-con-item">
        <img src="" alt="">
        <div class="pop">首次彩金</div>
      </div>


      <div class="activity-con-item">
        <img src="" alt="">
        <div class="pop">首次彩金</div>
      </div>

      <div class="activity-con-item">
        <img src="" alt="">
        <div class="pop">首次彩金</div>
      </div>

      <div class="activity-con-item">
        <img src="" alt="">
        <div class="pop">首次彩金</div>
      </div>

    </div>


    <div class="media-con">

    </div>

    <my-footer></my-footer>

    <!--<div class="guanggao">-->
    <!--<div>-->
    <!--<span class="quduo iconfont icon-shengyinkai"-->
    <!--@click="conso"></span>-->
    <!--<cycle v-if="lists.length>0"-->
    <!--:lists="lists"></cycle>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="game game1">-->
    <!--<p>-->
    <!--<i class="title-icon"></i>-->
    <!--<span class="game-title">推荐游戏</span>-->
    <!--</p>-->
    <!--<swiper class="tab-bar" :options="swiperOption2">-->
    <!--<swiper-slide v-for="(item1,index1) in lotteryHome['recommend']" class="tab-item1" :key="index1">-->
    <!--<div @click="toGame(item2)" v-for="(item2,index2) in item1" :key="index2">-->
    <!--<img class="icon" :src="item2.icon" alt="图片" width="100px">-->
    <!--<span class="span1">-->
    <!--{{item2['lottery_name']}}-->
    <!--<i v-if="active===1" class="fang"></i>-->
    <!--</span>-->
    <!--</div>-->
    <!--</swiper-slide>-->
    <!--<div class="swiper-pagination" slot="pagination"></div>-->
    <!--</swiper>-->
    <!--<p>-->
    <!--<i class="title-icon"></i>-->
    <!--<span class="game-title">热门游戏</span>-->
    <!--</p>-->
    <!--&lt;!&ndash;<Promotion v-show="promotionLoad" :closeHeader='false'></Promotion>&ndash;&gt;-->
    <!--<div class="game-body">-->
    <!--<div @click="games('ky')">-->
    <!--<img src="@/assets/ceshi/kyqp.png" alt="">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="right_pop"-->
    <!--v-show="rightPop">-->
    <!--<div class="mask"-->
    <!--@click="rightPopEventOff"-->
    <!--style="z-index:11"></div>-->
    <!--<div class="pop_box">-->
    <!--<div v-for="(item,i) in menuList" :key="i">-->
    <!--<p>{{item.name}}</p>-->
    <!--<div class="pop_lottery">-->
    <!--<div @click="toGame(items)"-->
    <!--v-for="(items,index) in item.list"-->
    <!--:key="index">-->
    <!--<img class="icon"-->
    <!--:src="items.icon"-->
    <!--alt="图片"-->
    <!--width="100px">-->
    <!--<span class="tab-label">-->
    <!--{{items['lottery_name']}}-->
    <!--<i v-if="active===1" class="fang"></i>-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!-- 维护弹框 -->
    <wei-hu v-if="popShow.weihuPop"
            @weihu='weihu'
            :weiHuMsg='weiHuMsg'></wei-hu>
    <!-- 银行卡弹框 -->
    <bind-code v-if="popMsg"
               @closeMark="closeMark"></bind-code>
    <!-- 公告弹框 -->
    <gong-gao v-if="popShow.gonggaoshow"
              :gonggao="gonggao"
              @closeGonggao="closeGonggao"></gong-gao>
    <!-- 用户名弹框 -->
    <user-name-pop v-if="popShow.usernameShow"
                   @closeusername="closeusername"
                   :username="personalData.username"></user-name-pop>
    <!--注册送钱弹框-->
    <reg-pop v-if="popShow.regShow"
             :regMsg="regMsg"
             @closereg="closereg"></reg-pop>
  </div>
</template>

<script type="text/ecmascript-6">
  import GongGao from "../../index/main/pop/gonggao";
  import WeiHu from "../../index/main/pop/weihuPop"
  import UserNamePop from "../../index/main/pop/userNamePop";
  import BindCode from "../../index/main/pop/bindCode";
  import RegPop from "../../index/main/pop/regPop";
  import Cycle from "@/bass/cycle";
  import {mapMutations, mapGetters} from "vuex";
  import Promotion from '../../index/main/promotion'
  import Swiper from "swiper";
  import {
    home_api, // 个人中心首页
    announcement_api, // 公告列表
    lotteryHome_api, // 首页接口
    lotteryLobbyInfo_api,
    lotteryMenu_api  // 右侧弹框彩票列表
  } from "@/common/api";
  import {Indicator, MessageBox, Toast} from "mint-ui";
  import weihuPopVue from '../../index/main/pop/weihuPop.vue';
  import k from "kiana-js";
  import store from '@/utils/sessionStorage';
  import MyFooter from '@/components/homes/layout/footer.vue';
  import MySlide from '@/components/homes/layout/slide.vue';
  import MyHeader from '@/components/homes/layout/header.vue';
  import MyTabs from '@/components/homes/layout/tabs.vue';

  export default {
    components: {
      GongGao,
      BindCode,
      Cycle,
      UserNamePop,
      RegPop,
      WeiHu,
      Promotion,
      MyFooter,
      MySlide,
      MyHeader,
      MyTabs
    },
    props: {
      height: {
        default: 40,
        type: Number
      },
      lineNum: {
        default: 5,
        type: Number
      }
    },
    computed: {
      username() {
        return this.initData.username;
      },
      transform: function () {
        return "translateY(-" + this.num * this.height + "px)";
      },
      ...mapGetters(["initData"])
    },
    data() {
      return {
        search: '',
        promotionLoad: false,
        swiperOption: {
          pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true
          }
        },
        rightPop: false,
        menuList: [], //右侧弹框彩票列表
        lists: [],
        gameAG: "",
        contentArr: [],
        mask: 0,
        randomName: "", // 随机名称
        gonggao: [], // 公告弹框数据
        user: "", // 是否可设置用户名
        regMsg: [], // 注册奖励弹框数据
        weiHuMsg: {},
        popShow: {
          gonggaoshow: false, // 公告弹框显示
          usernameShow: false, //用户名弹框->手机号弹框
          weihuPop: false
          // regShow: false // 奖励弹框控制
        },
        num: 0,
        isLogin: "", // 是否登录
        setPwd: false, // 是否设置资金密码
        gameUrl: "",
        gameList: [],
        popMsg: false,
        noName: false,
        noCard: false,
        arrSort: {},
        swipe: {},
        clickNum: 0,
        active: 0,
        select: [{name: "传统模式", num: 0}, {name: "房间模式", num: 1}],
        lotteryHome: {}
      };
    },
    created: function () {

      home_api().then(res => {
        console.log(res);
      });


      Indicator.close();
      //首页初始化home数据
      // this.initHomeData();
    },
    methods: {
      ...mapMutations({
        initData_Mua: "INIT_DATA"
      }),
      rightPopEventOff() {
        this.rightPop = false
      },
      rightPopEvent() {
        this.rightPop = true
      },
      initHomeData() {
        //延迟加载一些内容,提升一下速度
        setTimeout(() => {
          lotteryMenu_api().then(menu => {
            this.menuList = menu.data;
          });

          lotteryLobbyInfo_api().then(lottery => {
              if (lottery.code === 200) {
                const {lottery_list} = lottery.data;
                this.gameList = lottery_list;
              }
            }
          );
          this.promotionLoad = true;
        }, 0);

        lotteryHome_api().then(res => {
          if (res.code === 200) {
            console.log('res.data', res.data);
            const {recommend, slide, award, game, revolving, alert} = res.data;
            this.lotteryHome = res.data;
            console.log('res.data', res.data);
            this.lotteryHome["slide"] = slide; //轮播图
            console.log(this.lotteryHome);
            this.hotGame = res.data.game

            let arr = [];
            let s = [];
            let length = recommend.length;
            if (length > 12) {
              for (let i = 0; i < length; i++) {
                s.push(recommend[i]);
                if (s.length >= 12) {
                  arr.push(s);
                  s = [];
                }
              }
              this.lotteryHome["recommend"] = arr; //推荐游戏
            } else {
              this.lotteryHome["recommend"] = [recommend]; //推荐游戏
            }

            res.data.arr = arr;
            k.setSession("homeData", res.data);
            this.regMsg = award;
            this.gameAG = game;
            this.lists = revolving || [];
            this.gonggao = alert;
            if (!sessionStorage.getItem('gonggao')) {
              if (this.gonggao.length > 0) {
                this.popShow.gonggaoshow = true;
                sessionStorage.setItem('gonggao', 'true')
              } else {
                this.popShow.gonggaoshow = false;
              }
            }

            if (this.regMsg.length > 0) {
              this.popShow.regShow = true;
            } else {
              this.popShow.regShow = false;
            }
          }
        });

        home_api().then(res => {
          if (res.code == 200) {
            this.avatar = res.data.avatar
            let extra_data = {};
            extra_data.isShow = res.data.bankcard; // 是否绑定银行卡
            extra_data.isLogin = res.data.trier; // 登陆状态  yes为试玩账号  no 为正式用户
            extra_data.invi = res.data.invitation; // 登陆状态
            extra_data.pwd = res.data.password; // 是否设置登录密码
            extra_data.setPwd = res.data.fundpwd; // 是否设置资金密码
            extra_data.mask = res.data.mask; // 打码量

            sessionStorage.setItem("msg", JSON.stringify(res.data));
            sessionStorage.setItem("isMobile", res.data.mobile); // 是否绑定手机号
            sessionStorage.setItem("invi", res.data.invitation); // 登陆状态
            sessionStorage.setItem("isLogin", res.data.trier); // 登陆状态  yes为试玩账号  no 为正式用户
            sessionStorage.setItem("mask", res.data.mask); // 打码量
            sessionStorage.setItem("pwd", res.data.password); // 是否设置登录密码
            sessionStorage.setItem("setPwd", res.data.fundpwd); // 是否设置资金密码
            sessionStorage.setItem("isShow", res.data.bankcard); // 是否绑定银行卡
            sessionStorage.setItem("realname", res.data.realname); // 是否有真实姓名
            res.data.setable_username === "1"
              ? (this.popShow.usernameShow = true)
              : (this.popShow.usernameShow = false);
            this.mask = String(res.data.mask);
            this.personalData = res.data;
            this.isShow = res.data.bankcard; // 是否绑定银行卡
            this.setPwd = res.data.fundpwd;

            this.isLogin = res.data.trier;
            res.data.mobile.length > 0
              ? (extra_data.isMobile = res.data.mobile)
              : (extra_data.isMobile = false); // 是否绑定手机号

            let assign_data = Object.assign({}, res.data, extra_data);

            this.initData_Mua(assign_data);
          } else {
            if (res.code === 400) {
              sessionStorage.setItem("isLogin", "false"); // 是否登录
            }
            this.initData_Mua({
              isLogin: "false"
            });
          }
          console.log('this.isLogin', this.isLogin);
          if (this.isLogin !== 'no') {
            this.$router.push("login");
          }
        });
      },
      selected(n) {
        this.active = n;
      },
      conso() {
        this.clickNum++;
        this.clickNum == 6 && new VConsole();
      },
      goHall() {
        this.$router.push("hall");
      },
      // 关闭随机用户名弹框
      closeRandomName() {
        this.popMsg = false;
        Toast({
          message: "用户名设置成功",
          iconClass: "iconfont icon-chenggong"
        });
      },
      games(str) {
        if (k.isWx()) {
          MessageBox({
            title: "提示",
            message: "由于微信禁止访问外部网站，请下载APP进行游戏",
            confirmButtonText: "下载",
            showCancelButton: true
          }).then(action => {
            if (action === "confirm") {
              this.$router.push("download");
            }
          })
        } else {
          if (this.isLogin === "false") {
            MessageBox.confirm("您还未登录")
              .then(() => {
                this.$router.push("login");
              })
          } else if (this.isLogin === "yes") {  // 试玩账号
            MessageBox.confirm("正式会员才可以使用该功能", "提示", {
              confirmButtonText: "成为会员"
            }).then(() => {
              this.$router.push("reg");
            })
          } else {
            try {
              // let find = this.gameAG.find(item => {
              //   return item.transfer === str;
              // });

              let find = {
                game: "ky",
                icon: "http://192.168.0.164/pub/icon/game_ky.png",
                id: "4",
                name: "开元棋牌",
                servicing: {status: 1},
                status: "open",
              };

              if (this.hotGame[0].status && this.hotGame[0].servicing.status === 1) {
                this.$router.push({
                  name: "Transfer",
                  params: {
                    msg: str
                  }
                });
              } else {
                this.popShow.weihuPop = true;
                this.weiHuMsg = this.hotGame[0].servicing;
              }
            } catch (err) {
              console.log(err);
            }
          }
        }
      },
      toGame(msg) {
        console.log('this.active', this.active);
        if (this.isLogin == "false") {
          MessageBox.confirm("您还未登录")
            .then(action => {
              this.$router.push("login");
            })
            .catch(res => {
            });
          return;
        } else if (msg.status == 2) {
          Toast("该彩种维护中");
          return;
        } else if (this.active == 0) {
          this.$router.push({
            name: "GamesMain",
            params: {
              msg: msg
            }
          });
        } else if (this.active == 1) {
          this.$router.push({
            name: "GamesMainLiaoTian",
            params: {
              msg: msg
            }
          });
        }
      },
      closeGonggao(msg) {
        this.popShow.gonggaoshow = msg;
      },
      closeMark(e) {
        this.popMsg = e;
      },
      weihu(e) {
        this.popShow.weihuPop = e
      },
      closeusername(e) {
        this.popShow.usernameShow = e;
      },
      closereg(e) {
        this.popShow.regShow = e;
      },
      addCard() {
        this.$router.push("/addCard");
      },
      unbound(route) {
        if (route == "unBound") {
          if (this.isLogin == "false") {
            MessageBox.confirm("您还未登录")
              .then(action => {
                this.$router.push("login");
              })
              .catch(res => {
              });
          } else if (this.isLogin == "yes") {
            MessageBox.confirm("正式会员才可以使用该功能", "提示", {
              confirmButtonText: "成为会员"
            })
              .then(action => {
                this.$router.push("reg");
              })
              .catch(res => {
              });
          } else {
            if (this.setPwd) {
              // 设置过资金密码
              if (this.mask == 0) {
                this.$router.push(route);
              } else {
                MessageBox.confirm(
                  "您还有" +
                  this.mask +
                  "打码量未完成,请完成后再进行提现</br><small style='color:red'>(注: 视讯及电子游戏打码量延时10分钟结算)</small>",
                  "提示",
                  {
                    closeOnClickModal: false,
                    showCancelButton: true,
                    cancelButtonText: "打码量详情"
                  }
                )
                  .then(action => {
                  })
                  .catch(res => {
                    this.$router.push("maskDetail");
                  });
              }
            } else if (!this.setPwd) {
              MessageBox.confirm("您还未设置资金密码哟！", "提示", {
                closeOnClickModal: false
              })
                .then(action => {
                  this.$router.push("setPwd");
                })
                .catch(res => {
                  // this.$router.push("center");
                });
              this.noCard = true;
            }
          }
        } else if (route == "recharge") {
          this.isShiWan(route);
        } else if (route == "share") {
          this.isShiWan(route);
        } else {
          this.$router.push(route);
        }
      },
      //试玩账号是否登录
      isShiWan(path) {
        if (this.isLogin == "false") {
          if (path == "share") {
            this.$router.push(path);
          } else {
            MessageBox.confirm("您还未登录")
              .then(action => {
                this.$router.push("login");
              })
              .catch(res => {
              });
          }
        } else if (this.isLogin == "yes") {
          MessageBox.confirm("正式会员才可以使用该功能", "提示", {
            confirmButtonText: "成为会员"
          })
            .then(action => {
              this.$router.push("reg");
            })
            .catch(res => {
            });
        } else {
          this.$router.push(path);
        }
      },
      goDetail(id) {
        if (id && id !== "") {
          if (/share/.test(id)) {
            if (this.isLogin === "yes") {
              MessageBox.confirm("正式会员才可以使用该功能", "提示", {
                confirmButtonText: "成为会员"
              })
                .then(action => {
                  this.$router.push("reg");
                })
                .catch(res => {
                });
            } else {
              this.$router.push("share");
            }
          } else {
            location.href = id;
          }
        }
      }
    },
    mounted() {
      // document.body.style.background = "#f7f7f7";
      // setTimeout(() => {
      //   new Swiper(".swiper-container", {
      //     direction: "horizontal",
      //     loop: true,
      //     autoplay: true,
      //     slidesPerView: "auto",
      //     centeredSlides: true,
      //     spaceBetween: 5,
      //     loopAdditionalSlides: 100
      //   });
      // }, 200);
    },
    watch: {
      rightPop(o) {
        o ? document.body.style.overflow = "hidden" : document.body.style.overflow = "scroll"
      }
    },

  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../../style/global.less";

  .game-body {

    div {
      height: 210px;
      margin-bottom: 15px;
    }

    p {
      width: 100%;
      height: 70px;
      background: #fff;
      color: #fff;
      font-size: 14px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    span {
      width: 100%;
      display: inline-block;
      text-indent: 15px;
      font-size: 16px;
      color: #333333;
      letter-spacing: -0.23px;
      line-height: 45px;
      font-weight: bold;
    }

    small {
      width: 100%;
      display: inline-block;
      text-indent: 15px;
      font-size: 12px;
      color: #333333;
      line-height: 12px;
      letter-spacing: -0.17px;
    }

    img {
      width: 100%;
      border-radius: 8px;
    }
  }


  .play-tab {
    padding: 0 15px;
    display: flex;
    height: 75px;

    .play-tab-bar {
      flex: 1;
      text-align: center;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -25px;
        display: inline-block;
        height: 50px;
        width: 50px;
      }

      > span {
        position: absolute;
        top: 55px;
        display: inline-block;
        height: 25px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
      }

    }
  }

  .titles {
    margin: 15px;
    border-left: 3px solid #3D71FF;
    padding-left: 10px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
  }

  .right_pop {
    width: 100%;
    height: 100%;
  }

  .pop_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: #fff;
    z-index: 12;
    font-size: 16px;
    color: #333;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0.5rem 0.3rem 0;

    > div > p {
      margin-bottom: 0.3rem;
      font-weight: bold;
    }

    .pop_lottery {
      display: flex;
      flex-flow: wrap;
      margin-bottom: 0.5rem;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        margin-bottom: 0.2rem;

        > img {
          width: 1rem;
          height: 1rem;
        }

        > span {
          margin-top: 0.1rem;
        }
      }
    }
  }


  .other-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    .other-con-item {
      flex: 0 0 23%;
      position: relative;
      text-align: center;
      height: 69px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      border: 1px solid rgba(214, 214, 214, 1);
      overflow: hidden;

      > span:nth-child(1) {
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 50%;
        margin-left: -28px;
        width: 56px;
        height: 20px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
      }

      > span:nth-child(2) {
        display: inline-block;
        position: absolute;
        top: 33px;
        left: 50%;
        margin-left: -20px;
        width: 40px;
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      > img {
        display: inline-block;
        width: 27px;
        height: 27px;
        position: absolute;
        bottom: -7px;
        right: -7px;
        background: black;
      }
    }
  }


  .activity-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .activity-con-item {
      flex: 0 0 48%;
      position: relative;
      height: 94px;
      background: rgba(216, 216, 216, 1);
      border-radius: 4px;
      margin-bottom: 10px;

      > img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }

      .pop {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20px;
        background: rgba(0, 0, 0, 1);
        opacity: 0.5;
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
        line-height: 20px;
        text-align: center;
      }
    }
  }


  .media-con {
    margin: 0 15px;
    height: 163px;
    background: rgba(216, 216, 216, 1);
    border-radius: 4px;
  }


  .center-page {
    width: 100%;
    height: 100%;

    .tab-bar {
      position: relative;
      border: 0;
      background-color: #fff;
      height: 5.3rem;

      .tab-item {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 15px;
        margin-bottom: 20px;
        border-right: 1px solid #20294e;

        &:nth-child(4) {
          border-right: none;
        }

        img.icon2 {
          width: 0.6rem;
          height: 0.6rem;
        }
      }
    }

    .game2 {
      margin-top: 1rem;
      position: relative;

      .tab-item {
        height: auto;
        padding: 3%;
        width: 27%;

        .icon {
          width: 72px;
          height: 72px;
        }
      }

      .games_tab-bar {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        justify-content: flex-start;
        padding: 0.2rem 0 1.2rem;
      }

      .lastBox {
        width: 100%;
        position: absolute;
        top: -0.8rem;
        height: 0.8rem;
        line-height: 0.8rem;

        > span {
          display: inline-block;
          margin-left: 3%;
          margin-right: 3%;
          width: 44%;
          height: 0.8rem;
          border-radius: 10px 10px 0 0;
          background: #1b233e;
          text-align: center;
          color: #fff;
        }

        > .active {
          background: #2c3353;
          color: #f8c96e;
        }
      }
    }

    .game1 {
      padding: 0.2rem 0.3rem 0 0.3rem;

      .tab-bar {
        // display: flex;
        // flex-wrap: wrap;
        // padding: 0.3rem 0;
        background: #f7f7f7;

        .tab-item1 {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          text-align: center;
          // margin-bottom: 0.2rem;
          > div {
            display: flex;
            flex-direction: column;
            width: 25%;
            align-items: center;
            height: 1.8rem;
            font-size: 12px;
          }

          .tab-label {
            display: inline-block;
            height: 16px;
            margin-top: 0.1rem;
          }

          .icon {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }

    .game {
      font-size: 16px;
      background-color: #f7f7f7;
      margin-bottom: 0.2rem;

      .games_tab-bar {
        padding: 0.2rem 0.3rem 61px 0.3rem;
        display: flex;
        flex-flow: wrap;
        width: calc(100% - 0.6rem);
        justify-content: flex-start;
        min-height: 2rem;
      }

      .tab-label {
        overflow: inherit;
        font-size: 14px;
        margin-top: 0.2rem;
        position: relative;
        color: #333;
      }

      > p {
        margin-bottom: 0.2rem;

        .game-title {
          color: #333;
          font-weight: bold;
        }

        > i {
          display: inline-block;
          width: 17px;
          height: 19px;
          vertical-align: bottom;
          background: url("../../../assets/remen.png") no-repeat;
          background-size: contain;
        }
      }
    }

    .rollScreen_container {
      height: 100%;
      display: inline-block;
      position: relative;
      overflow: hidden;
    }

    .rollScreen_list {
      margin: 0;
      transition: 1s linear;
    }

    .rollScreen_list_unanim {
      transition: none;
    }

    .guanggao {
      height: 0.5rem;
      line-height: 0.5rem;
      margin: 0.2rem 0.3rem;
      padding: 0.05rem 0;
      font-size: 12px;
      background: #fff;
      border-radius: 8px;

      > div {
        height: 0.5rem;
        line-height: 0.5rem;
        display: flex;
        border-radius: 0.3rem;
        padding: 0 0.2rem;

        > .quduo {
          text-align: center;
          display: inline-block;
          width: 40px;
          height: 0.4rem;
          line-height: 0.5rem;
          color: #6c2dfe;
        }
      }
    }

    .mint-cell {
      min-height: 40px;
    }

    .router-link-active > .iconfont,
    .router-link-active > span {
      color: #fff;
    }

    .fang {
      position: absolute;
      bottom: 0;
      right: -25px;
      width: 16px;
      height: 16px;
      background: url("../../../assets/fang.png") no-repeat;
      background-size: contain;
    }

    .userInput {
      padding: 0 0.5rem;
    }

    .icon-fork {
      position: absolute;
      right: 5px;
      top: 5px;
      color: #dedede;
    }

    .randomName {
      margin: 0.3rem 0;
      color: #333;
      font-size: 16px;
    }
  }
</style>
