<template>
  <div id="teamMoney"
       style="
            background: rgba(242, 242, 242, 1);
            width: 7.5rem;
            min-height: 16rem;"
  >
    <mt-header class="my-header2"
               style="color: #fff!important;"
               title="下级管理">
      <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
      <mt-button style="color: #dfdfdf;font-size: 0.3rem;" slot="right" @click="addMember">新增</mt-button>
    </mt-header>
    <div class="tabs">
      <div>
        <span>下级总人数</span>
        <b>{{topbar.team_members}}</b>
      </div>
      <div>
        <span>下1级</span>
        <b>{{topbar.level_one}}</b>
      </div>
      <div>
        <span>今日新增</span>
        <b>{{topbar.register_today}}</b>
      </div>
      <div>
        <span>今日上线</span>
        <b>{{topbar.online_today}}</b>
      </div>
    </div>

    <div class="searchBox">
      <div class="searchLeft">
        <span>全部</span>
        <span>代理</span>
        <span>会员</span>
      </div>
      <div class="searchRight">
        <mt-search style="width: 90%"
                   cancel-text=""
                   placeholder="搜索团队成员"
        >
        </mt-search>
      </div>
    </div>

    <div class="linkItem">
      <div class="fistLine">
        <span style="margin-left: 0.3rem" class="left"><img class="avatar" src="http://www.dhf.com/pub/avatar/photo0483.jpg"></span>
        <span style="font-size: 16px;color: #333;" class="left">22222</span>
        <span style="color: #6AA4FF;font-size: 12px;" class="left">会员</span>
        <span style="color: #FF669C;font-size: 12px;" class="left">代理</span>
      </div>
      <div class="secondLine" style="font-size: 0.28rem;">
        <span style="width: 30%;float: left">返点：aaa</span>
        <span style="width: 65%;float: left;">注册日期：2018-08-15 22:25:45</span>
      </div>
      <div class="thirtyLine">
        <div class="left" style="width: 100%;font-size: 0.28rem;">
          <span>最后登录时间：</span>
          <span>2018-08-15 22:25:45</span>
        </div>
      </div>
      <div class="fortyLine">
        <mt-button class="fortyBtn" @click="levelUpHaha" plain>升为代理</mt-button>
        <mt-button class="fortyBtn" @click="openVisible('adjustVisible')" plain>调点</mt-button>
        <mt-button class="fortyBtn" @click="openVisible('transferVisible')" plain>转账</mt-button>
        <mt-button class="fortyBtn" plain @click="subordinateDetail">详情</mt-button>
      </div>
    </div>

    <div class="v-modal"
         v-show="filterPop || detailPop"
         @click="filterPop = false"
         ref="modal"></div>

    <div class="filter_pop"
         v-show="filterPop">
      <div v-for="(item,i) in popData"
           :key="i">
        <h4>{{item.title}}</h4>
        <div class="btn_box">
          <span v-for="(v,j) in item.list"
                :key="j"
                :class="
                (initDatas['level']==v.value || initDatas['active']==v.value ||initDatas['recharge']==v.value ||initDatas['betting']==v.value)?'active':''
                "
                @click="itemClick(v,i)">{{v.name}}</span>
        </div>
      </div>
      <p class="select_btn">
        <span @click="resetting">重置</span>
        <span @click="filterData(0)">筛选</span>
      </p>
    </div>

    <div class="detail_pop"
         v-show="detailPop">
      <p>
        <span>用户ID </span>
        <b>{{itemDetailData.uid}}</b>
      </p>
      <p>
        <span>用户名 </span>
        <b>{{itemDetailData.username}}</b>
      </p>
      <p>
        <span>上级代理 </span>
        <b>{{itemDetailData.agent_username}}</b>
      </p>
      <p>
        <span>注册时间 </span>
        <b>{{itemDetailData.dateline}}</b>
      </p>
      <p>
        <span>最后登录时间 </span>
        <b>{{itemDetailData.lasttime}}</b>
      </p>
      <p>
        <span>累计投注金额 </span>
        <b>{{itemDetailData.betting_amount}}</b>
        <i @click="$router.push({
                       name:'TeamReport',
                       params:{
                         msg:'下级投注',
                         uname:itemDetailData.username
                       }
                     })">详情</i>
      </p>
      <p>
        <span>累计充值金额 </span>
        <b>{{itemDetailData.recharge_amount}}</b>
        <i @click="$router.push({
                       name:'TeamReport',
                       params:{
                         msg:'下级充值',
                         uname:itemDetailData.username
                       }
                     })">详情</i>
      </p>
      <p>
        <span>累计提现金额 </span>
        <b>{{itemDetailData.withdraw_amount}}</b>
        <i @click="$router.push({
                       name:'TeamReport',
                       params:{
                         msg:'下级提现',
                         uname:itemDetailData.username
                       }
                     })">详情</i>
      </p>
      <div @click="detailPop=false">
        关闭
      </div>
    </div>

    <mt-popup v-model="popupVisible"
              popup-transition="popup-fade">
      <img src="../../../assets/bindCard.png"
           alt="">
    </mt-popup>

    <div v-if="error!==''"
         class="error">
      {{error}}
    </div>

    <level-up v-if="false"/>
    <Transfer @changeVisible="closeVisible('transferVisible')" v-if="transferVisible"/>
    <Adjust @changeVisible="closeVisible('adjustVisible')" v-if="adjustVisible"/>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import Date from "@/bass/date";
  import {
    get_agent_team_child_member_v2,  //下级成员管理列表
    get_agent_team_topbar,           // 头部信息
    get_agent_team_child_info        // 下级成员详情
  } from "@/common/api";
  import {Toast, MessageBox, Indicator} from "mint-ui";
  import {mapGetters} from 'vuex'
  import LevelUp from "./pop.levelup";
  import Transfer from "./pop.transfer";
  import Adjust from "./pop.adjust";

  export default {
    created() {
      this.isAllowRecharge = sessionStorage.getItem("setPwd");
      // this.uname = JSON.parse(sessionStorage.getItem('msg')).username
      this.topbar_api()
      this.initApi()
    },
    computed: {
      uname() {
        return this.initData ? this.initData.username : ''
      },
      ...mapGetters([
        'initData'
      ])
    },
    data() {
      return {
        transferVisible:false,
        adjustVisible:false,

        active: '',
        listLoading: false,
        listEnd: false,
        filterPop: false,
        detailPop: false,
        popData: [
          {
            title: '代理层级筛选',
            list: [
              {
                name: '下1级',
                value: '1'
              },
              {
                name: '下2级',
                value: '2'
              },
              {
                name: '下3级',
                value: '3'
              },
              {
                name: '3级以后',
                value: 'more'
              },
            ],
          },
          {
            title: '活跃状态',
            list: [
              {
                name: '今日上线',
                value: 'today'
              },
              {
                name: '7日内上线',
                value: 'week'
              },
              {
                name: '30日内上线',
                value: 'month'
              }
            ]
          },
          {
            title: '充值状态',
            list: [
              {
                name: '有充值',
                value: 'yes'
              },
              {
                name: '无充值',
                value: 'no'
              }
            ]
          },
          {
            title: '投注状态',
            list: [
              {
                name: '有投注',
                value: 'y'
              },
              {
                name: '无投注',
                value: 'n'
              }
            ]
          },
        ],
        statusSelect: [
          {name: '下1级', level: '1'},
          {name: '今日上线', active: 'today'},
          {name: '有充值', recharge: 'yes'},
          {name: '有投注', betting: 'y'},
        ],
        timeSelect: [
          {
            name: '注册时间',
            value: '1'
          },
          {
            name: '登录时间',
            value: '2'
          }
        ],
        error: "",
        popupVisible: false,
        showLinkage: false,//控制子组件的显示隐藏
        initDatas: {
          page: 0,
          higher_id: '', // 上级代理id
          level: '',     //层级筛选(1,2,3,more)
          active: '',    //活跃状态(today,week,month)
          recharge: '',  //充值状态(yes,no)
          betting: '',   //投注状态(y,n)
          order: 'regtime_asc'      //排序(regtime_asc,regtime_desc,logintime_asc,logintime_desc)
        },
        allData: [],     // 所有数据
        higher_list: [],  // 上级列表
        topbar: {},       // 顶部数据
        list: [],          // 表格数据
        page: 0,
        actions: [
          'level',
          'active',
          'recharge',
          'betting'
        ],
        itemDetailData: {}
      }
    },
    methods: {
      openVisible(v){
        this[v] = true
      },
      closeVisible(v){
        this[v] = false
      },
      levelUpHaha(){
        MessageBox({
          title: '提示',
          message: '是否确认升级为代理?',
          showCancelButton: true,
          confirmButtonText:'确认升级',
        });
      },
      addMember() {
        this.$router.push("createUserCenter");
      },
      resetting() {
        this.actions.forEach((element, i) => {
          this.statusSelect[i][element] = '0'
          this.initDatas[element] = ''
        });
      },
      checkLower(item, force) {
        this.initDatas.page = 0
        if (item == 0) {
          this.initDatas.higher_id = 0
          this.higher_list = []
        }
        if (item && item.click || force) {
          this.initDatas.higher_id = item.uid
        }
        this.list = []
        this.initApi()
      },
      itemClick(v, i) {
        this.statusSelect[i].name = v.name
        this.initDatas[this.actions[i]] = v.value
        this.statusSelect[i][this.actions[i]] = v.value
      },
      loginDateSelect() {
        this.initDatass.order == 'logintime_asc' ? this.initDatas.order = 'logintime_desc' : this.initDatas.order = 'logintime_asc'
        this.initDatas.page = 0
        this.list = []
        this.initApi()
      },
      regDateSelect() {
        this.initDatas.order == 'regtime_asc' ? this.initDatas.order = 'regtime_desc' : this.initDatas.order = 'regtime_asc'
        this.initDatas.page = 0
        this.list = []
        this.initApi()
      },
      filterData(v, i) {
        this.initDatas.page = 0
        this.list = []
        if (v) {
          this.active = v.name

          this.initDatas[this.actions[i]] = v[this.actions[i]]
          this.initApi()
          this.initDatas[this.actions[i]] = ''
        } else {
          this.initApi()
          this.filterPop = false
          this.$refs.modal.style.zIndex = 11
        }
      },
      filterEvent() {
        this.filterPop = true
        this.$refs.modal.style.zIndex = 1
      },
      subordinateDetail(item) {
        this.detailPop = true
        get_agent_team_child_info({id: item.uid}).then(res => {
          if (res.code == 200) {
            this.itemDetailData = res.data
          } else {
            Toast(res.msg)
          }
        })
      },
      backto() {
        this.$router.push("agentInfo");
      },
      topbar_api() {
        get_agent_team_topbar().then(res => {
          this.topbar = res.data
        })
      },
      initApi(init = 1) {
        if (init) {
          this.listEnd = false;
          this.listLoading = false;
        }
        if (!this.listEnd && !this.listLoading) {
          this.listLoading = true;
          this.initDatas.page++
          get_agent_team_child_member_v2(this.initDatas).then(res => {
            this.listLoading = false;
            if (res.code == 200) {
              this.page = Math.ceil(Number(res.data.total) / Number(res.data.limit))
              if (this.initDatas.page == this.page) {
                this.listEnd = true
              }
              this.allData = res.data
              if (res.data.list.length > 0) {
                this.list = this.list.concat(res.data.list);
              } else {
                this.listEnd = true;
                // res.data.page != 1 ? Toast("没有更多数据了!") : ''
              }
              res.data.higher_list ? this.higher_list = res.data.higher_list : ''
            }
          })
        }
      }
    },
    components: {
      MyHeader,
      Date,
      LevelUp,
      Transfer,
      Adjust,
    }
  };
</script>

<style lang="less">
  .searchBox {
    width: 100%;
    height: 0.7rem;
    background: #fff;
    margin-top: 0.05rem;
    padding: 0.1rem;
    margin-bottom: 0.1rem;
  }

  .searchLeft {
    width: 40%;
    height: 100%;
    color: #999;
    font-size: 0.3rem;
    float: left;
    line-height: 0.7rem;

    span {
      float: left;
      width: 30%;
      text-align: right;
    }
  }

  .searchRight {
    width: 60%;
    height: 100%;
    line-height: 0.7rem;
    float: left;
  }

  .linkItem {
    width: 94%;
    height: 130px;
    background: #fff;
    border-radius: 8px;
    margin: 3%;
    text-indent: 0.3rem;
    padding: 0.3rem 0 0.2rem 0;

    .fistLine {
      width: 100%;
      height: 38px;
      color: #333;
      font-size: 16px;
      line-height: 30px;
      font-weight: bold;
    }

    .avatar {
      width: .6rem;
      height: .6rem;
      float: left;
      border-radius: 0.5rem;
    }

    .secondLine {
      width: 100%;
      height: 26px;
      color: #999;
      font-size: 13px;
      line-height: 22px;
    }

    .thirtyLine {
      width: 100%;
      height: 26px;
      color: #999;
      font-size: 12px;
      line-height: 26px;
    }

    .fortyLine {
      height: 35px;
      line-height: 35px;
      width: 100%;
      float: right;
    }

    .title {
      display: block;
      width: 30%;
      float: left;
      overflow: hidden;
      word-break: keep-all;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }

  .fortyBtn {
    height: 0.5rem;
    border-radius: 1rem;
    margin-top: 5px;
    float: right;
    margin-right: 0.2rem;
    font-size: 14px;
    line-height: 0.5rem;
    border-color: #979797 !important;
    color: #666;
  }


  .tabs {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    padding: 0.3rem 0;
    position: relative;
    background: #fff;

    > div {
      display: flex;
      flex-direction: column;
      text-align: center;

      > span {
        margin-bottom: 0.2rem;
        color: #999;
      }

      > b {
        color: #333;
        font-size: 0.3rem;
      }
    }
  }

  #teamMoney {
    width: 7.5rem;
    // min-height: 15.24rem;
    // background: rgba(242, 242, 242, 1);
    padding-bottom: 0.3rem;


    .filter_pop {
      width: 92%;
      padding: 0.3rem;
      position: absolute;
      top: 50px;
      background: #fff;
      z-index: 2;

      h4 {
        font-size: 0.3rem;
        margin: 0.3rem 0;
      }
    }

    .v-modal {
      background: rgba(0, 0, 0, 0.5);
      z-index: 11;
    }

    .detail_pop {
      width: 70%;
      padding: 0.5rem 0.4rem 0.5rem;

      position: fixed;
      font-size: 0.3rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      z-index: 12;
      border-radius: 10px;

      > p {
        margin-bottom: 0.2rem;

        > span {
          display: inline-block;
          width: 35%;
          text-align: end;
          color: #999;
          font-size: 0.3rem;
        }

        > i {
          font-style: normal;
          color: #6c2dfe;
        }

        > b {
          font-weight: normal;
          margin: 0 0.2rem;
        }
      }

      > div {
        width: 60%;
        height: 0.8rem;
        line-height: 0.8rem;
        text-align: center;
        margin: 0.5rem auto 0;
        background: #6c2dfe;
        border-radius: 5px;
        color: #fff;
      }
    }

    .select_btn {
      font-size: 0.34rem;
      margin-top: 0.8rem;
      display: flex;
      justify-content: space-between;

      > span {
        width: 46%;
        height: 0.8rem;
        line-height: 0.8rem;
        text-align: center;
        border-radius: 5px;
      }

      > span:nth-child(1) {
        color: #6733c7;
        background: #f3edff;
      }

      > span:nth-child(2) {
        color: #fff;
        background: #6733c7;
      }
    }

    .btn_box {
      display: flex;
      // justify-content: space-between;
      font-size: 0.3rem;

      > span {
        // padding: 0.1rem 0.3rem;
        background: #f2f2f2;
        border-radius: 5px;
        color: #333;
        width: 24%;
        height: 0.6rem;
        line-height: 0.6rem;
        text-align: center;
        margin-right: 2%;
      }

      > .active {
        background: #6733c7;
        color: #fff;
      }
    }

    .tips {
      padding: 0.2rem 0.1rem 0 0.3rem;
      font-size: 0.3rem;
      color: #666;
    }

    .search-con {
      height: 0.72rem;
      width: 100%;
      padding: 0.1rem;
      border-bottom: 0.01rem solid rgba(229, 229, 229, 1);
      background: #fff;

      .mint-search {
        height: 100%;
      }
    }

    .mint-field-core {
      background: #fff;
      color: #666;
    }

    li > p,
    li > div {
      position: relative;
      padding-left: 0.3rem;
      padding-right: 0.2rem;
      margin-bottom: 0.2rem;
    }

    li > p {
      font-size: 14px;
      color: #333;
    }

    li > div {
      font-size: 13px;
      color: #666;
    }

    .is-selected::after {
      margin-bottom: -3px;
      font-size: 15px;
      background-color: #fe3959;
      position: absolute;
      right: 0;
      top: 0.8rem;
      left: 26%;
      height: 2px;
      content: "";
      width: 50%;
    }

    .detail-con {
      width: 7.5rem;
      height: 100%;
      color: #666;
      background: rgba(255, 255, 255, 1);
    }

    .defail-header {
      text-align: center;
      width: 7.5rem;
      height: 0.8rem;
      line-height: 0.8rem;
      font-size: 0.32rem;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
    }

    .detail-bottom {
      width: 7.2rem;
      border-radius: 0.16rem;
      padding: 0.15rem;
      display: flex;
      flex-wrap: wrap;
    }

    .detail-bottom .list01 {
      flex: 0 0 100%;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      width: 2.48rem;
      height: 0.42rem;
      font-size: 0.3rem;
      line-height: 0.42rem;
    }

    .detail-bottom .list01 .list-item {
      flex: 0 0 50%;
      height: 0.5rem;
      line-height: 0.5rem;
      font-size: 0.26rem;
      font-weight: 400;
      padding: 0 0.1rem;
    }

    .detail-bottom > p {
      padding: 0.3rem 0 0.2rem 0.1rem;
      flex: 1 0 auto;
      height: 0.42rem;
      font-size: 0.28rem;
      font-weight: 400;
      line-height: 0.42rem;
    }

    .detail-bottom > p.time {
      width: 100%;
      height: 0.42rem;
      font-size: 0.25rem;
      font-weight: 400;
      line-height: 0.42rem;
    }

    .detail-bottom .table-con {
      width: 7.2rem;
      padding: 0.1rem 0.1rem 0 0.1rem;
    }

    .detail-bottom .table-con ul {
      display: flex;
    }

    .detail-bottom .table-con li {
      text-align: center;
      flex: 1 0 25%;
      font-size: 0.24rem;
      height: 0.42rem;
      line-height: 0.42rem;
    }

    .detail-bottom div.btn {
      padding: 0 1rem;
      text-align: center;
      width: 100%;
    }
    .btn {
      font-size: 16px;
      margin: 0.3rem 0 0.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .mint-button--danger {
        width: 3rem;
        position: relative;
        left: 50%;
        margin-left: -1.5rem;
        background: #6733c7 !important;
      }
    }

    .mint-badge.is-size-small {
      border-radius: 5px;
      width: 20%;
      padding: 0.2rem 0.1rem;
      margin-bottom: 0.2rem;
    }

    .mint-badge {
      color: #000;
      background: #f2f2f2;
    }

    .mint-field-core {
      font-size: 0.25rem;
    }

    .btn .mint-field-core {
      font-size: 0.25rem;
    }
  }
</style>
