<template>
  <div class="mask">
    <div class="bill"
         v-show="bill">
      <i class="iconfont icon-fork closeIcon"
         @click="closeTransfer()"></i>
      <p class="fontFormat" style="width:100%;text-align:center;font-size: 0.35rem;">调点设置</p>
      <div style="width:100%;text-align:center;font-size: 0.4rem;margin-top: 0.5rem;color:#FE3959;">
        {{this.rangeValue}}
      </div>
      <div style="margin-top: 0.2rem;">
        <mt-range barHeight="5" :step="1" :min="100" :max="1000" v-model="rangeValue">
          <div slot="start">10</div>
          <div slot="end">1000</div>
        </mt-range>
      </div>

      <p class="explain">提示：用户奖金组设置成功后，只可调高，不可调低</p>
    </div>
  </div>
</template>

<script>
  import {Range} from 'mint-ui';

  export default {
    name: "transfer.pop",
    data() {
      return {
        bill: true,
        rangeValue: '100'
      }
    },
    methods: {
      closeTransfer() {
        this.$emit('changeVisible')
      },
    }
  }
</script>


<style scoped lang="less" rel="stylesheet/less">
  .bill {
    position: absolute;
    padding: 5% 10%;
    width: 60%;
    height: 5rem;
    top: 50%;
    left: 10%;
    background: rgba(255, 255, 255, 1);
    margin-top: -4rem;
    font-size: 16px;
    border-radius: 8px;
    color: #333;

    .money {
      margin-top: 0.1rem;
      margin-bottom: 0.4rem;
    }
  }

  .closeIcon {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
  }

  .fontFormat {
    font-size: 14px;
    color: #333;
    font-weight: bolder;
  }

  .transfer_ensure {
    margin-top: 0.5rem;
    text-align: center;
  }

  .explain{
    width: 100%;
    height: 3rem;
    color: #999;
    font-size: 0.3rem;
    margin-top: 0.3rem;
    line-height: 0.5rem;
  }

</style>
