<template>
  <transition name="fade">
    <div class="publish-pop" v-if="showPublish">
      <transition name="slide">
        <div class="publish-pop-con" v-if="showPublishCon">

          <div class="img-list">
            <div class="img-list-item" v-for="(item,index) in forumlist" :key="index" @click="sendPost(item)">
              <img :src="item['icon']" alt="">
              <div class="text">{{item['name']}}</div>
            </div>
          </div>

        </div>
      </transition>
    </div>
  </transition>
</template>

<script type="text/ecmascript-6">
  import {
    get_home_forums
  } from "@/common/api";

  export default {
    props: ['showPublish', 'showPublishCon'],
    data() {
      return {
        forumlist: [],
      }
    },
    created() {
      get_home_forums().then(res => {
        this.forumlist = res.forumlist;
      })
    },
    methods: {
      closeEvent() {
        this.$emit('close-event');
      },
      sendPost(item) {
        this.closeEvent();
        this.$router.push('/publishPost');
      }
    },

  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fade-enter-active {
    animation: fadeIn .2s;
  }

  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .fade-leave-active {
    animation: fadeOut .2s;
  }

  @-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .slide-enter-active {
    animation: slideInUp .5s;
  }


  @-webkit-keyframes slideOutDown {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    to {
      visibility: hidden;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }

  @keyframes slideOutDown {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    to {
      visibility: hidden;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }

  .slide-leave-active {
    animation: slideOutDown .5s;
  }

  .publish-pop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);

    .publish-pop-con {
      position: absolute;
      top: 150px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: rgba(255, 255, 255, 1);
      /*border-radius: 30px 30px 0px 0px;*/
      filter: blur(0px);
    }


    .img-list {
      margin-top: 20px;
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: space-between;

      .img-list-item {
        flex: 0 0 160px;
        position: relative;
        margin-bottom: 15px;
        height: 69px;
        background: rgba(245, 245, 245, 1);
        border-radius: 8px;

        > img {
          position: absolute;
          display: inline-block;
          left: 15px;
          top: 15px;
          height: 40px;
          width: 40px;
          background: red;
        }

        .text {
          position: absolute;
          top: 23px;
          left: 70px;
          height: 25px;
          line-height: 25px;
          font-size: 15px;
          font-family: PingFangSC-Medium;
          font-weight: 500;
          color: rgba(51, 51, 51, 1);
        }
      }
    }
  }
</style>
