<template>
  <!--<div class="popup-container"-->
       <!--:class="{'popup-showing active': state == 1, 'popup-showing popup-hidden': state == 2}">-->
    <!--<slot></slot>-->
  <!--</div>-->
</template>

<script>
  export default {}
</script>


