<template>
  <label class="lay-switch">
    <input class="lay-switch-input" :disabled="disabled" @change="onChange($event)" type="checkbox"
           v-model="currentValue">
    <span class="lay-switch-core"></span>
    <div class="lay-switch-label">
      <slot></slot>
    </div>
  </label>
</template>

<script>

  export default {
    props: {
      value: Boolean,
      disabled: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      currentValue: {
        get() {
          return this.value;
        },
        set(val) {
          this.$emit('input', val);
        }
      }
    },
    methods: {
      onChange(e) {
        e && e.preventDefault();
        this.$emit('switch-change', this.currentValue)
      }
    }
  };
</script>

<style scoped lang="less">
  .lay-switch {
    display: flex;
    align-items: center;
    position: relative;

    &-input {
      display: none;


      &:checked {
        + .lay-switch-core {
          border-color: #26a2ff;
          background-color: #26a2ff;

          &:before {
            transform: scale(0);
          }

          &:after {
            transform: translateX(20px);
          }
        }
      }
    }

    &-core {
      display: inline-block;
      position: relative;
      width: 52px;
      height: 32px;
      border: 1px solid #d9d9d9;
      border-radius: 16px;
      box-sizing: border-box;
      background: #d9d9d9;


      &:after, &:before {
        content: " ";
        position: absolute;
        transition: transform .3s;
        border-radius: 15px;
      }

      &:after {
        width: 30px;
        height: 30px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
      }

      &:before {
        width: 50px;
        height: 30px;
        background-color: #fdfdfd;
      }
    }

  }


  /*.lay-switch-checked {*/
  /*.lay-switch-core {*/
  /*border-color: #26a2ff;*/
  /*background-color: #26a2ff;*/

  /*&:before {*/
  /*transform: scale(0);*/
  /*}*/

  /*&:after {*/
  /*transform: translateX(20px);*/
  /*}*/
  /*}*/
  /*}*/

</style>
