<template>
  <div>
<div class="mask" @click="closeMark"></div>
    <div class="bindCode">
      <!-- 绑定银行卡弹框 -->
      <div>
        <p class="padded"><img src="../../../../assets/bindCard.png" alt=""></p>
        <h3 class="padded" style="margin-bottom:.2rem">绑定银行卡</h3>
        <p style="padding:0 15px" class="padded">为保障您的账户资金安全，需先成功绑定银行卡，才能进行安全提现</p>
        <p style="padding:0 .8rem">
          <mt-button type="danger" size="large" @click="addCard">立即绑定</mt-button>
        </p>
        <i class="iconfont icon-guanbi" @click="closeMark"></i>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  data() {
    return {
      popMsg: false // 弹框控制
    };
  },
  props: ["noCard"],
  methods: {
    addCard() {
      this.$router.push("/addCard");
    },
    closeMark() {
      document.body.style.overflow = "scroll";
      this.$emit("closeMark", this.popMsg);
    }
  },
  components: {}
};
</script>

<style scoped>
.bindCode {
  width: 75%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  z-index: 11;
}
.bindCode i {
  padding: 0.2rem;
  position: absolute;
  font-style: normal;
  left: 50%;
  bottom: -1rem;
  color: #fff;
  border-radius: 50%;
  transform: translate(-50%);
  z-index: 13;
}
.padded > img {
  width: 100px;
  padding: 0.3rem 0;
}
</style>
