<template>
  <div>
    <div class="mask" @click="closeMark"></div>
    <div class="bindCode">
      <!-- 绑定银行卡弹框 -->
      <div>
        <p class="padded">
          <span style="color:#333;font-weight:600;font-size:18px">系统公告</span>
          <!--<i class="iconfont icon-fork" @click="closeMark"></i>-->
        </p>
        <!-- <mt-swipe :auto="0" :show-indicators="false">
          <mt-swipe-item v-for="(item,i) in gonggao" :key="i" @click.native="goto(item.link)">
            <div class="swipe-inner-con">
              <div class="title">{{item.title}}</div>
              <div class="content" v-html="item.content"></div>
              <img :src="item.image" alt="">
            </div>
          </mt-swipe-item>
        </mt-swipe> -->
        <div v-for="(item,i) in gonggao" :key="i" v-if="i===active">
          <div class="swipe-inner-con">
            <div class="title">{{item.title}}</div>
            <!--            <div v-show="item.type==='1'" class="content" v-html="item.content"></div>-->
            <div v-if="!!!item.image" class="content" v-html="item.content"></div>
            <img :src="item.image" style="margin-left: 10%;margin-top: 0.2rem;border-radius: 4px" width="80%" alt="">
            <span v-if="!!!item.image" style="font-size: 14px;float: right;margin-right: 0.3rem;">{{item.date}}</span>
          </div>
        </div>
        <p style="padding:0 .8rem;">
          <span class="nextButton" style="margin-top: 0.3rem;" @click="closeMark">{{text}}</span>
          <!--          <mt-button type="danger" size="large" @click="closeMark">{{text}}</mt-button>-->
        </p>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {
    data() {
      return {
        gonggaoshow: false, // 弹框控制
        // text:'下一个',
        active: 0
      };
    },
    props: ["gonggao"],
    created() {

      this.gonggao = this.gonggao.reverse();
    },
    computed: {
      text() {
        return this.active == this.gonggao.length - 1 ? '关闭' : '下一条'
      }
    },
    methods: {
      itemClick() {

      },
      closeMark() {

        if (this.text == '关闭') {
          this.gonggaoshow = false;
          document.body.style.overflow = "scroll";
          this.$emit("closeGonggao", this.gonggaoshow);
        } else {
          this.active++
        }


      },
      goto(item) {
        location.href = item;
      }
    },
    watch: {
      gonggaoshow(n) {
        n
          ? (document.body.style.overflow = "hidden")
          : (document.body.style.overflow = "scroll");
      }
    }
  };
</script>

<style scoped lang="less">
  .bindCode {
    width: 75%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    z-index: 11;
    padding: .3rem;
  }

  .bindCode i {
    float: right;
    font-size: 12px;
    margin: 3px;
    color: #dedede;
  }


  .padded {
    position: relative;
    height: 0.5rem;

  }

  .padded > img {
    width: 100px;
    padding: 0.3rem 0;
  }

  .padded > span {
    display: inline-block;
    width: 3rem;
    position: absolute;
    left: 50%;
    margin-left: -1.5rem;
  }

  .mint-swipe {
    height: 3.9rem;
  }

  .mint-swipe img {
    width: 100%;
    margin-bottom: .3rem;
    margin-top: .3rem;
  }

  .mint-swipe-indicators {
    bottom: -10px;
  }

  .swipe-inner-con {
    height: 3.9rem;
    overflow-y: auto;
    overflow-x: hidden;

    .title {
      line-height: 0.5rem;
      text-align: center;
      font-size: 13px;
      font-weight: bold;
    }
  }

  .content {
    width: 100%;
    font-size: 16px;
    text-align: left;
    text-indent: 0.6rem;
    line-height: 28px;
    margin-top: 0.2rem;
    p {
      width: 100%;
    }
  }

  pre {
    padding: 0 0.3rem;
    font-size: 13px;
    color: #666;
    white-space: pre-wrap; /*css-3*/
    white-space: -moz-pre-wrap; /*Mozilla,since1999*/
    white-space: -pre-wrap; /*Opera4-6*/
    white-space: -o-pre-wrap; /*Opera7*/
    word-wrap: break-word; /*InternetExplorer5.5+*/
  }

  .nextButton {
    background: #FFCE6F;
    color: #333;
    width: 100%;
    height: 40px;
    display: block;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
  }
</style>
