<template>
 <div class="page">
    <my-header></my-header>
    <div class="login">
      <ul v-infinite-scroll="mt_game_transfer_list" infinite-scroll-disabled="listEnd" infinite-scroll-distance="10">
            <li class="mint-cell mt-cell-full-border" v-for="item in list" :key="item.id">
                <img src="../../assets/game-in.png" alt="" v-if="item.amount > 0" width="28">
                <img src="../../assets/game-out.png" alt="" v-else width="28">
                <div style="flex-grow:1">
                    <h3>{{item.amount > 0 ? '来自游戏' : '转到游戏'}}</h3>
                    <p>交易流水：<span>{{item.orderno}}</span></p> 
                    <span>{{item.dateline | moment}}</span>
                </div>
                <div style="flex-grow:0;align-items:flex-end">
                    <span style="margin-bottom:.55rem; color:#000">{{item.amount | fmoney}}元</span>
                    <small style="color:#FE3959">转账成功</small>
                </div>
            </li>
        </ul>
    </div>
 </div>
</template>

<script type="text/ecmascript-6">
import MyHeader from '@/bass/header'

import { game_transfer_list_api } from "@/common/api";
import { Toast, Indicator } from "mint-ui";

export default {
  components: {
    MyHeader
  },
  data() {
    return {
      page: 0,
      list:[],
      listEnd: false,
      loading: false,
    };
  },
  created: function() {
  },

  methods: {
    mt_game_transfer_list() {
      if(this.listEnd || this.loading) return;

      Indicator.open()
      this.loading = true;

      game_transfer_list_api({page:this.page + 1}).then(res => { 
        Indicator.close();
        this.loading = false;

        if (res.code == 200) {
          this.page = res.data.page;
          if(res.data.list.length>0){
            this.list = this.list.concat(res.data.list);
          }else{
             this.listEnd = true;
            res.data.page!=1?Toast("没有更多数据了!"):''
          }
        } else {
          Toast(res.msg);
        }
        
      });
    },
  }
}
</script>

<style scoped>
.login li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .2rem;
}
.login li>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.login li>div>h3{
    font-size: 16px;
    font-weight: normal;
}
.login li>img{
    flex-grow: 0;
    margin-right: .3rem;
}
.login li>div>p{
    font-size: 12px;
    margin: .1rem 0;
}
.login li>div>span{
    font-size: 13px;
    color: #999;
}

.mt-cell-full-border::after{
  left:0;
  width:100%;
  margin-bottom: 2px;
}
</style>
