<template>
  <div class="hall number-slide">
    <header>
      <p>
        <!-- <i class="mintui mintui-back" @click="goback"></i> -->
        购彩大厅
      </p>
      <div>
        <p>
          <span class="statistics">累计中奖用户</span>
          <span class="statistics">累计中奖金额</span>
        </p>
        <p v-if="gameList">
          <number
            :values='gameList.total_num'
            :types='1'
          ></number>
          <number
            :values='gameList.total_money'
            :types='2'
          ></number>
        </p>
      </div>
      <div class="lastBox">
        <span
          :class="active==i?'active':''"
          @click="selected(item.num)"
          v-for="(item,i) in select"
          :key="i"
        >{{item.name}}</span>
      </div>
    </header>
    <div>
      <nav class="games_tab-bar">
        <router-link
          to=""
          class="tab-item"
          v-for="(item,i) in list"
          :key="i"
          @click.native="toGame(item)"
        >
          <img
            class="icon"
            :src="item.img_url"
            width="100px"
          >
          <span class="tab-label">{{item.name_cn}}</span>
        </router-link>
      </nav>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import {lotteryLobbyInfo_api} from "@/common/api";
  import Number from "@/bass/number";
  import {MessageBox,Toast} from "mint-ui";

  export default {
    created() {
      // 游戏列表
      lotteryLobbyInfo_api().then(res => {
        if (res.code === 200) {
          this.gameList = res.data;
          this.list = this.gameList.lottery_list;

        }
      });
    },
    data() {
      return {
        active: 0,
        gameList: {},
        list: [],
        select: [{name: "传统模式", num: 0}, {name: "房间模式", num: 1}]
      };
    },
    methods: {
      goback() {
        window.history.back();
      },
      selected(n) {
        this.active = n;
      },
      toGame(msg) {
        let isLogin = sessionStorage.getItem("isLogin");
        if (isLogin === "false") {
          MessageBox.confirm("您还未登录")
            .then(action => {
              this.$router.push("login");
            })
            .catch(res => {
            });
        } else if (msg.status == 2) {
          Toast("该彩种维护中");
          return;
        } else if (this.active == 0) {
          this.$router.push({
            name: "GamesMain",
            params: {
              msg: msg
            }
          });
        } else if (this.active == 1) {
          this.$router.push({
            name: "GamesMainLiaoTian",
            params: {
              msg: msg
            }
          });
        }
      }
    },
    components: {
      Number
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../../../style/global";


  .number-slide {
    header {
      .changeColor;
      color: #fff;
      height: 150px;
      position: relative;
      font-size: 16px;

      .statistics {
        color: #ffce6f;
      }

      .wrap-container {
        color: @hover_color;
      }
    }

    header > p {
      font-size: 18px;
      text-align: center;
      position: relative;
      height: 50px;
      line-height: 50px;
    }

    header > p > i {
      position: absolute;
      left: 10px;
    }

    header > div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    header > div:last-child {
      display: flex;
      /* flex-direction: column; */
      justify-content: space-around;
    }

    header > div > p {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    header > div > p > div {
      font-size: 20px;
    }

    .lastBox {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .lastBox > span {
      width: 40%;
      height: 30px;
      line-height: 30px;
      border-radius: 10px 10px 0 0;
      background: #454b62;
      text-align: center;
    }

    .lastBox > .active {
      background: #fff;
      color: #333;
    }

    .games_tab-bar {
      display: flex;
      flex-flow: wrap;
      width: 100%;
      justify-content: flex-start;
      padding: 0.2rem 0 1.2rem;
    }

    .tab-item {
      height: auto;
      padding: 10px;
      width: 26%;
    }

    .tab-label {
      margin-top: 10px;
      color: #333;
    }

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

</style>
