//$light:                           #fff;
//$stable:                          #f8f8f8;
//$positive:                        #387ef5;
//$calm:                            #11c1f3;
//$balanced:                        #33cd5f;
//$energized:                       #ffc900;
//$assertive:                       #ef473a;
//$royal:                           #886aea;
//$dark:                            #444;

@light: #fff;
@stable: #f5f5f5;
//@positive: #4a90e2;
@calm: #11c1f3;
@balanced: #44cc00;
@energized: #ffbd17;
@assertive: #ea5a49;
@royal: #b5b5b5;
@dark: #484746;


@padding: 10px;

/* Page */
@default-page-bg: #f5f5f5;

/* Header */
@header-height: 44px;

/* Thin Border */
@default-border-color: #ddd;

@ios-transition-duration: 500ms;
@ios-transition-timing-function: cubic-bezier(.36, .66, .04, 1);

@android-transition-duration: 200ms;
@android-transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);

@font-stack: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;

// own
@violet: linear-gradient(45deg,rgba(61,113,255,1) 0%,rgba(67,180,255,1) 100%);
@positive: #6C2DFE;
@gray: #DADADA;
@orange: linear-gradient(-222deg, #FA6161 0%, #F78D1C 100%);
