<template>
  <div>
    <slot name="zonghe">
    </slot>
    <slot name="sanjun">
    </slot>
    <slot name="dianshu">
    </slot>
    <slot name="weishai">
    </slot>
    <slot name="changduanpai">
    </slot>
    <slot name="bichu">
    </slot>
    <slot name="bibuchu">
    </slot>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {
    data() {
      return {};
    },
    components: {}
  };
</script>

<style scoped>
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  li {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-bottom: 0.2rem;
    flex-direction: column;
    height: 1.2rem;
    text-align: center;
    font-size: 15px;
    align-items: center;
    width: 48%;
  }

  img {
    width: 24px;
    height: 24px;
  }

  small {
    color: #fe3959;
  }

  .zonghe > li {
    width: 48%;
  }

  .sanjun,
  .dianshu {
    justify-content: flex-start;
  }

  .sanjun,
  .dianshu > li:nth-child(3n + 3) {
    margin-right: 0;
  }

  .sanjun > li,
  .dianshu > li {
    width: 31%;
    margin: 0 3% 3% 0;
  }

  .quanbu {
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
  }

  .quanbu > div,
  .quanbu > p {
    display: flex;
    flex-wrap: wrap;
  }

  .quanbu > div {
    padding: 0.1rem;
    flex: 1;
  }

  .quanbu > div > p {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .quanbu > div > p:nth-child(2) {
    margin: 0.1rem 0;
  }

  .quanbu > p {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .changduanpai {
    display: block;
  }

  .changduanpai li {
    width: 30%;
    display: flex;
    flex-direction: row;

  }

  .changduanpai > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .changduanpai p {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
  }
</style>
