<template>
  <div class="main touzhu">

    <div v-if="lottery_type==='快三'">
      <kuaisan v-if="type==='xy'"></kuaisan>
      <gf-kuaisan v-if="type==='gf'"></gf-kuaisan>
    </div>

    <div v-if="lottery_type=='时时彩'">
      <ul class="liangmian"
          v-if="['两面','数字'].includes(active)">
        <li v-for="(item,i) in liangmianData"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''">
          <span>{{item.play_name}}</span>
          <small>{{item.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </ul>

      <div v-if="active=='龙虎斗'"
           style="padding-bottom:3rem">
        <ul class="longhu"
            v-for="(item,i) in itemData"
            :key="i">
          <p>{{item.class_type_name}}</p>
          <div>
            <li v-for="(v,k) in item.class_type_arr"
                :key="k"
                @click="betting(v)"
                :class="v.active?'active':''">
              <span>{{v.play_name}}</span>
              <small>{{v.odds}}</small>
            </li>
          </div>
        </ul>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </div>

      <ul class="liangmian"
          v-if="active=='猜总和'">
        <li v-for="(item,i) in itemData"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active?'active':''">
          <span>{{item.class_type_arr.play_name}}</span>
          <small>{{item.class_type_arr.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </ul>
    </div>


    <div v-if="lottery_type=='PK10'">
      <ul class="liangmian"
          v-if="active=='两面'">
        <li v-for="(item,i) in liangmianPK"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''">
          <span>{{item.play_name}}</span>
          <small>{{item.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </ul>

      <ul class="liangmian"
          v-if="['冠军', '亚军', '第三名', '第四名', '第五名', '第六名', '第七名', '第八名', '第九名', '第十名'].includes(active)">
        <li v-for="(item,i) in haomaPK"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''">

          <span>{{item.play_name}}</span>
          <small>{{item.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </ul>
      <ul class="liangmian"
          v-if="active=='冠亚和'">
        <li v-for="(item,i) in itemData"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active?'active':''">
          <span>{{item.class_type_arr.play_name}}</span>
          <small>{{item.class_type_arr.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </ul>
      <div v-if="active=='龙虎斗'"
           style="margin-bottom: 3rem">
        <ul class="longhu"
            v-for="(item,i) in itemData"
            :key="i">
          <p>{{item.class_type_name}}</p>
          <div>
            <li v-for="(v,k) in item.class_type_arr"
                :key="k"
                @click="betting(v)"
                :class="v.active?'active':''"
                style="flex-direction:row;justify-content: space-around;width:48%;height:.8rem;line-height:.8rem">
              <span>{{v.play_name}}</span>
              <small style="margin:0">{{v.odds}}</small>
            </li>
          </div>
        </ul>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </div>

      <ul class="liangmian"
          v-if="active=='猜冠亚'">
        <li v-for="(item,i) in guanyaData"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''"
            style="width:18%">
          <span>{{item.play_id}}</span>
          <!-- <small>{{item.class_type_arr.odds}}</small> -->
        </li>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </ul>


    </div>
    <div v-if="lottery_type=='11选5'">
      <ul class="liangmian"
          v-if="['整合'].includes(active)">
        <li v-for="(item,i) in zhenghe"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''">
          <span>{{item.play_name}}</span>
          <small>{{item.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </ul>
      <ul class="liangmian"
          v-if="['全5中1','组合'].includes(active)">
        <li v-for="(item,i) in itemData"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active?'active':''">
          <span>{{item.class_type_arr.play_name}}</span>
          <small>{{item.class_type_arr.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </ul>
      <div v-if="['两面','龙虎斗'].includes(active)" style="margin-bottom: 3rem">
        <ul class="longhu"
            v-for="(item,i) in itemData"
            :key="i">
          <p>{{item.class_type_name}}</p>
          <div>
            <li v-for="(v,k) in item.class_type_arr"
                :key="k"
                @click="betting(v)"
                :class="v.active?'active':''"
                style="flex-direction:row;justify-content: space-around;width:48%;height:.6rem;line-height:.6rem">
              <span>{{v.play_name}}</span>
              <small style="margin:0">{{v.odds}}</small>
            </li>
          </div>
        </ul>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </div>
    </div>
    <div v-if="lottery_type=='28'">
      <ul class="liangmian"
          v-if="active=='两面'">
        <li v-for="(item,i) in itemData"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active?'active':''">
          <span>{{item.class_type_arr.play_name}}</span>
          <small>{{item.class_type_arr.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </ul>

      <ul class="liangmian"
          v-if="active=='特码'">
        <li v-for="(item,i) in itemData"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active?'active':''">
          <span>{{item.class_type_arr.play_name}}</span>
          <small>{{item.class_type_arr.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </ul>
      <div v-if="active=='龙虎斗'"
           style="padding-bottom:3rem">
        <ul class="longhu"
            v-for="(item,i) in itemData"
            :key="i">
          <p>{{item.class_type_name}}</p>
          <div>
            <li v-for="(v,k) in item.class_type_arr"
                :key="k"
                @click="betting(v)"
                :class="v.active?'active':''">
              <span>{{v.play_name}}</span>
              <small>{{v.odds}}</small>
            </li>
          </div>
        </ul>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </div>

      <ul class="liangmian"
          v-if="active=='特殊玩法'">
        <li v-for="(item,i) in itemData"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active?'active':''">
          <span>{{item.class_type_arr.play_name}}</span>
          <small>{{item.class_type_arr.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(1)">玩法说明</span>
      </ul>
    </div>
    <div v-if="lottery_type=='六合彩'">
      <ul class="liangmian" v-if="['特码','正码'].includes(active)" style="padding-bottom:0">
        <li v-for="(item,i) in itemData.slice(0,49)"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active?'active':''"
            style="width:30%">
          <span class="bose"
                :class="filter(item.class_type_arr.play_name)">{{complete(item.class_type_arr.play_name)}}</span>
          <small>{{item.class_type_arr.odds}}</small>
        </li>
      </ul>
      <ul class="liangmian" v-if="['特码','正码'].includes(active)">
        <li v-for="(item,i) in itemData.slice(49)"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active?'active':''">
          <span>{{item.class_type_arr.play_name}}</span>
          <small>{{item.class_type_arr.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(active)">玩法说明</span>
      </ul>
      <ul class="liangmian" v-if="active=='正特码'" style="padding-bottom:0">
        <li v-for="(item,i) in zhengte.slice(0,49)"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''"
            style="width:30%">
          <span class="bose"
                :class="filter(item.play_name)">{{complete(item.play_name)}}</span>
          <small>{{item.odds}}</small>
        </li>
      </ul>
      <ul class="liangmian" v-if="active=='正特码'">
        <li class
            v-for="(item,i) in zhengte.slice(49)"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''">
          <span>{{item.play_name}}</span>
          <small>{{item.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(active)">玩法说明</span>
      </ul>
      <ul class="liangmian" v-if="active=='连码'">
        <li v-for="(item,i) in lianma"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''"
            style="width:30%;">
          <span class="bose"
                :class="filter(item.play_name)">{{complete(item.play_name)}}</span>
          <small>{{item.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(playShowTxt)">玩法说明</span>
      </ul>
      <ul class="liangmian" v-if="active=='半波'" style="justify-content: start;">
        <li v-for="(item,i) in itemData"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active?'active':''"
            style="width:100%;margin:5px 0;padding:.2rem .4rem;height:auto">
          <div style="margin-right:.3rem;">
            <p style="margin-bottom:5px;font-weight:bold">{{item.class_type_arr.play_name}}</p>
            <small>x{{item.class_type_arr.odds}}</small>
          </div>
          <div class="banbo"
               v-if="['红单','绿单','蓝单','红双','绿双','蓝双','红大','绿大','蓝大','红小','绿小','蓝小'].includes(item.class_type_arr.play_name)">
            <span class="bose"
                  :class="filter(d)"
                  v-for="(d,k) in liuhecaiData[item.class_type_arr.play_name]"
                  :key="k">{{complete(d)}}</span>
          </div>
        </li>
        <span class="explain"
              @click="explainEvent(active)">玩法说明</span>
      </ul>
      <ul class="liangmian" v-if="active=='尾数'" style="justify-content: start;">
        <li v-for="(item,i) in itemData"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active?'active':''"
            style="width:100%;margin:5px 0;padding:.2rem .4rem;height:auto">
          <div style="margin-right:.3rem;">
            <p style="margin-bottom:5px;font-weight:bold">{{item.class_type_arr.play_name[0]}}</p>
            <small>x{{item.class_type_arr.odds}}</small>
          </div>
          <div class="banbo">
            <span class="bose"
                  :class="filter(d)"
                  v-for="(d,k) in item.class_type_arr.play_name[1].split(',')"
                  :key="k">{{complete(d)}}</span>
          </div>
        </li>
        <span class="explain"
              @click="explainEvent(active)">玩法说明</span>
      </ul>

      <ul class="liangmian" v-if="active=='生肖'" style="justify-content: start;">
        <li v-for="(item,i) in shengxiao"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''"
            style="width:100%;margin:5px 0;padding:.2rem .4rem;height:auto">
          <div style="margin-right:.3rem;">
            <p style="margin-bottom:5px;font-weight:bold">{{item.play_name[0]}}</p>
            <small>x{{item.odds}}</small>
          </div>

          <div class="banbo">
            <span class="bose"
                  :class="filter(v)"
                  v-for="(v,i) in item.play_name[1].split(',')"
                  :key="i">{{complete(v)}}</span>
          </div>
        </li>
        <span class="explain"
              @click="explainEvent(playShowTxt)">玩法说明</span>
      </ul>

      <ul class="liangmian" v-if="active=='总肖'">
        <li v-for="(item,i) in itemData"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active?'active':''">
          <span>{{item.class_type_arr.play_name}}</span>
          <small>{{item.class_type_arr.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(active)">玩法说明</span>
      </ul>

      <ul class="liangmian" v-if="active=='连肖'" style="justify-content: start;">
        <li v-for="(item,i) in lianxiao"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''"
            style="width:100%;margin:5px 0;padding:.2rem .4rem;height:auto">
          <div style="margin-right:.3rem;">
            <p style="margin-bottom:5px;font-weight:bold">{{item.play_name[0]}}</p>
            <small>x{{item.odds}}</small>
          </div>
          <div class="banbo">
            <span class="bose"
                  :class="filter(v)"
                  v-for="(v,i) in item.play_name[1].split(',')"
                  :key="i">{{complete(v)}}</span>
          </div>
        </li>
        <span class="explain"
              @click="explainEvent(playShowTxt)">玩法说明</span>
      </ul>
      <ul class="liangmian" v-if="active=='连尾'" style="justify-content: start;">
        <li v-for="(item,i) in lianwei"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''"
            style="width:100%;margin:5px 0;padding:.2rem .4rem;height:auto">
          <div style="margin-right:.3rem;">
            <p style="margin-bottom:5px;font-weight:bold">{{item.play_name[0]}}</p>
            <small>x{{item.odds}}</small>
          </div>
          <div class="banbo">
            <span class="bose"
                  :class="filter(v)"
                  v-for="(v,i) in item.play_name[1].split(',')"
                  :key="i">{{complete(v)}}</span>
          </div>
        </li>
        <span class="explain"
              @click="explainEvent(playShowTxt)">玩法说明</span>
      </ul>
      <ul class="liangmian" v-if="active=='五行'" style="justify-content: start;">
        <li v-for="(item,i) in itemData"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active?'active':''"
            style="width:100%;margin:5px 0;padding:.2rem .4rem;height:auto">
          <div style="margin-right:.3rem;">
            <p style="margin-bottom:5px;font-weight:bold">{{item.class_type_arr.play_name}}</p>
            <small>x{{item.class_type_arr.odds}}</small>
          </div>
          <div class="banbo"
               v-if="['金','木','水','火','土'].includes(item.class_type_arr.play_name)">
            <span class="bose"
                  :class="filter(d)"
                  v-for="(d,k) in liuhecaiData[item.class_type_arr.play_name]"
                  :key="k">{{complete(d)}}</span>
          </div>
        </li>
        <span class="explain"
              @click="explainEvent(active)">玩法说明</span>
      </ul>

      <ul class="liangmian" v-if="active=='正码1~6'">
        <li v-for="(item,i) in zhengma16"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''">
          <span>{{item.play_name}}</span>
          <small>{{item.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(active)">玩法说明</span>
      </ul>
      <ul class="liangmian"
          v-if="active=='自选不中'">
        <li v-for="(item,i) in zixuan"
            :key="i"
            @click="betting(item)"
            :class="item.active?'active':''"
            style="width:30%">
          <span class="bose"
                :class="filter(item.play_name)">{{complete(item.play_name)}}</span>
          <small>{{item.odds}}</small>
        </li>
        <span class="explain"
              @click="explainEvent(playShowTxt)">玩法说明</span>
      </ul>
    </div>
    <div class="v-modal"
         v-show="explainShow"></div>
    <div class="mint-msgbox"
         v-show="explainShow">
      <i class="iconfont icon-fork"
         @click="explainShow=false"></i>
      <h4>玩法说明</h4>
      <li class="li1">
        <b> <i class="file"></i> 游戏说明</b>
        <div>{{explain}}</div>
      </li>
      <li>
        <b><i class="bulb"></i>示例说明</b>
        <div>{{shili}}</div>
      </li>
      <div @click="explainShow=false">我知道了</div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import bus from "@/common/bus";
  import {MessageBox} from "mint-ui";
  import {mapState} from "vuex";
  import store from '@/utils/sessionStorage';
  import kuaisan from '../kuaisan/credit/kuaisan';
  import GfKuaisan from '../kuaisan/official/kuaisan';

  export default {
    components: {
      kuaisan,
      GfKuaisan
    },
    created() {
      this.lottery_type = store.get("lottery_type");
    },
    props: {
      bettingMsg: Array,
      periods: Object,
      close: Boolean
    },
    data() {
      return {
        childActive: false, // 投注点击控制
        play_id: [], // 玩法ID
        pickerData: 0,
        playShowTxt: "",
        bassData: {},
        odds: [],
        present_odds: [], // 投注号码
        liangmianData: [], // 两面数据
        liangmianPK: [], // pk两面数据
        haomaPK: [], // 号码PK
        onePull: false,
        pickerShow: false,
        pullPickerData: [],
        clear_id: false,
        lottery_type: "",
        shaiImgs: {
          // 筛子图片
          se1: "../../../../static/touzhu/se1.png",
          se2: "../../../../static/touzhu/se2.png",
          se3: "../../../../static/touzhu/se3.png",
          se4: "../../../../static/touzhu/se4.png",
          se5: "../../../../static/touzhu/se5.png",
          se6: "../../../../static/touzhu/se6.png"
        },
        pullNum: [
          {name: "第一球", value: 0},
          {name: "第二球", value: 1},
          {name: "第三球", value: 2},
          {name: "第四球", value: 3},
          {name: "第五球", value: 4}
        ],
        guanyaData: [
          {play_id: "01", active: false},
          {play_id: "02", active: false},
          {play_id: "03", active: false},
          {play_id: "04", active: false},
          {play_id: "05", active: false},
          {play_id: "06", active: false},
          {play_id: "07", active: false},
          {play_id: "08", active: false},
          {play_id: "09", active: false},
          {play_id: "10", active: false}
        ],
        bettingData: [],
        weitou: [], // 围骰数据
        quantou: [], // 围骰数据
        changpai: [],
        changpaiodds: "",
        duanpaiodds: "",
        duanpai: [], // 长短牌数据
        zhengte: [],
        lianma: [],
        zhenghe: [],
        shengxiao: [],
        lianxiao: [],
        lianwei: [],
        zhengma16: [],
        zixuan: [],
        explain: "",
        shili: "",
        explainShow: false,
        liuhecaiData: {
          '金': [1, 6, 11, 16, 21, 26, 31, 36, 41],
          '木': [2, 7, 12, 17, 22, 27, 32, 37, 42, 47],
          '水': [3, 8, 13, 18, 23, 28, 33, 38, 43, 48],
          '火': [4, 9, 14, 19, 24, 19, 34, 39, 44, 49],
          '土': [5, 10, 15, 20, 25, 30, 35, 40, 45],
          '红单': [1, 7, 13, 19, 23, 29, 35, 45],
          '绿单': [5, 11, 17, 21, 27, 33, 39, 43, 49],
          '蓝单': [3, 9, 15, 25, 31, 37, 41, 47],
          '红双': [2, 8, 12, 18, 24, 30, 34, 40, 46],
          '绿双': [6, 16, 22, 28, 32, 38, 44],
          '蓝双': [4, 10, 14, 20, 26, 36, 42, 48],
          '红大': [29, 30, 34, 35, 40, 45, 46],
          '绿大': [27, 28, 32, 33, 38, 39, 43, 44, 49],
          '蓝大': [25, 26, 31, 36, 37, 41, 42, 47, 48],
          '红小': [1, 2, 7, 8, 12, 13, 18, 19, 23, 24],
          '绿小': [5, 6, 11, 16, 17, 21, 22],
          '蓝小': [3, 4, 9, 10, 14, 15, 20],
        },
        liuhecaiwanfa: {
          '特码': {
            explain:
              "开奖号码的最后一位号码为特码，当开出特码的属性与投注号码属性一致，即为中奖。",
            shili: "投注方案：“特码 38 ”开奖号码： 10 42 34 04 07 22 38；即中奖"
          },
          '正码': {
            explain:
              "当期开出前6个号码为正码，当开出正码的属性与投注号码属性一致，即为中奖。",
            shili: "投注方案：“正码 10 ”开奖号码： 10 42 34 04 07 22 38；即中奖"
          },
          '正特码': {
            explain:
              "正1特至正6特选择号码投注，开奖号码与投注号码开奖顺序及号码相同，即为中奖。",
            shili: "投注方案：“正2特 42 ”开奖号码： 10 42 34 04 07 22 38；即中奖"
          },
          '三全中': {
            explain:
              "所投注的每三个号码为一组合，若三个号码都是开奖号码之正码，即为中奖。",
            shili:
              "投注方案：“三全中 06、07、08 ”开奖号码： 06 42 07 08 42 22 38；即中奖"
          },
          '三中二': {
            explain:
              "所投注的每三个号码为一组合，若其中2个是开奖号码中的正码，即为中奖。",
            shili:
              " 投注方案：“三中二 06、07、08 ”开奖号码： 06 42 07 09 42 22 38；即中奖"
          },
          '二全中': {
            explain:
              "所投注的每二个号码为一组合，二个号码都是开奖号码之正码，即为中奖。",
            shili:
              "投注方案：“二全中 06、07 ”开奖号码： 06 42 07 09 42 22 38；即中奖"
          },
          中二特: {
            explain:
              "所投注的每二个号码为一组合，二个号码都是开奖号码之正码或一个正码、一个特码，即为中奖。",
            shili:
              " 投注方案：“中二特 06、07 ”开奖号码： 06 42 07 09 42 22 38；即中奖"
          },
          '特串': {
            explain:
              "所投注的每二个号码为一组合，开奖号码其中一个正码，一个特码，即为中奖。",
            shili:
              "投注方案：“中串 06、38 ”开奖号码： 06 42 07 09 42 22 38；即中奖"
          },
          '半波': {
            explain:
              "以特码色波和特码单双大小为一个投注组合,当开出的特码和投注属性相同，即为中奖；若当期特码开出49号，则视为和局，并返回全部本金。",
            shili:
              "投注方案：“红大 29 30 34 35 40 45 46  ”开奖号码： 06 42 07 09 42 22 46；即中奖"
          },
          '尾数': {
            explain:
              "指7个开奖号码中含有投注所属尾数的一个或多个号码，即为中奖，同尾数的号码出现一个或多个，只派奖一次。",
            shili: "投注方案：“5尾 ”开奖号码： 06 45 07 05 42 22 46；即中奖"
          },
          '特肖': {
            explain:
              "以特码和生肖为一个投注组合，当开出的特码出现在其投注组合中，即视为中奖。",
            shili:
              "投注方案：“马 05 17 29 41”开奖号码： 06 45 07 05 42 22 41；即中奖"
          },
          '一肖': {
            explain:
              "指7个开奖号码中含有投注所属生肖的一个或多个号码，即为中奖，同生肖的号码出现一个或多个，只派奖一次。",
            shili:
              "投注方案：“鼠 11 23 35 47 ”开奖号码： 11 45 07 05 42 22 41；即中奖"
          },
          '总肖': {
            explain:
              "正确猜中7个开奖号码中不同生肖的总数，相同生肖算一个，猜中即为中奖。",
            shili: "投注方案：“4肖 ”开奖号码： 11 23 10 22 09 21 44；即中奖"
          },
          '二连肖': {
            explain:
              "选择2个生肖为一投注组合，该注的2个生肖必须在7个开奖号码相对应的生肖中，即为中奖，组合的赔率以所选生肖中赔率较小的为准。",
            shili: "投注方案：“鼠 牛 ”开奖号码： 11 23 10 22 09 21 44；即中奖"
          },
          '三连肖': {
            explain:
              "选择3个生肖为一投注组合，该注的3个生肖必须在7个开奖号码相对应的生肖中，即为中奖，组合的赔率以所选生肖中赔率较小的为准。",
            shili: "投注方案：“鼠 牛 虎 ”开奖号码： 11 23 10 22 09 21 45；即中奖"
          },
          '四连肖': {
            explain:
              "选择4个生肖为一投注组合，该注的4个生肖必须在7个开奖号码相对应的生肖中，即为中奖，组合的赔率以所选生肖中赔率较小的为准。",
            shili:
              "投注方案：“鼠 牛 虎 兔 ”开奖号码： 11 23 10 22 09 20 44；即中奖"
          },
          '五连肖': {
            explain:
              "选择5个生肖为一投注组合，该注的3个生肖必须在7个开奖号码相对应的生肖中，即为中奖，组合的赔率以所选生肖中赔率较小的为准。",
            shili:
              "投注方案：“鼠 牛 虎 兔 蛇 ”开奖号码： 11 23 10 22 06 20 44；即中奖"
          },
          '二连尾': {
            explain:
              "选择2个尾数为一投注组合,该注的2个尾数必须在7个开奖号码相对应的尾数中，即为中奖，组合的赔率以所选尾数中赔率较小的为准。",
            shili: "投注方案：“0尾 1尾 ”开奖号码： 11 23 10 22 06 20 44；即中奖"
          },
          '三连尾': {
            explain:
              "选择3个尾数为一投注组合,该注的3个尾数必须在7个开奖号码相对应的尾数中，即为中奖，组合的赔率以所选尾数中赔率较小的为准。",
            shili:
              "投注方案：“0尾 1尾 3尾 ”开奖号码： 11 23 10 22 06 20 44；即中奖"
          },
          '四连尾': {
            explain:
              "选择4个尾数为一投注组合,该注的4个尾数必须在7个开奖号码相对应的尾数中，即为中奖，组合的赔率以所选尾数中赔率较小的为准。",
            shili:
              "投注方案：“0尾 1尾 3尾 4尾 ”开奖号码： 11 23 10 22 06 20 44；即中奖"
          },
          '五行': {
            explain:
              "当期开奖号码中的特码，开出下注五行中所属任意1个号码视为中奖，其余情况视为不中奖。",
            shili:
              "投注方案：“金 01 06 11 16 21 26 31 36 41 46 ”开奖号码： 11 23 10 22 06 20 46；即中奖"
          },
          "正码1~6": {
            explain:
              "开奖号码的前6个号码叫正码，当开出正码与投注号码属性一致，即视为中奖。",
            shili: "投注方案：“正码1 大 ”开奖号码：30 23 10 22 06 20 46；即中奖"
          },
          '五不中': {
            explain:
              "挑选最少5个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“五不中 01 25 06 45 30  ”开奖号码：31 24 46 02 07 20 46；即中奖"
          },
          '六不中': {
            explain:
              "挑选最少6个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“六不中 01 25 06 45 30 46  ”开奖号码：31 24 46 02 07 20 47；即中奖"
          },
          '七不中': {
            explain:
              "挑选最少7个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“七不中 01 25 06 45 30 46 40 ”开奖号码：31 24 46 02 07 20 47；即中奖"
          },
          '八不中': {
            explain:
              "挑选最少8个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“八不中 01 25 06 45 30 46 40 03 ”开奖号码：31 24 46 02 07 20 47；即中奖"
          },
          '九不中': {
            explain:
              "挑选最少9个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“九不中 01 25 06 45 30 46 40 03 05”开奖号码：31 24 46 02 07 20 47；即中奖"
          },
          '十不中': {
            explain:
              "挑选最少10个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“十不中 01 25 06 45 30 46 40 03 05 23”开奖号码：31 24 46 02 07 20 47；即中奖"
          },
          '十一不中': {
            explain:
              "挑选最少11个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“十一不中 01 25 06 45 30 46 40 03 05 23 21”开奖号码：31 24 46 02 07 20 47；即中奖"
          },
          '十二不中': {
            explain:
              "挑选最少12个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“十二不中 01 25 06 45 30 46 40 03 05 23 21 08”开奖号码：31 24 46 02 07 20 47；即中奖"
          }
        }
      };
    },
    computed: {
      ...mapState({
        active: state => state.currentXYLottery.play_type_name,
        type: state => state.activeType.type,
      })
    },
    mounted() {
      bus.$on("active", msg => {
        // 接收兄弟组件传值
        this.pullPickerData = [];
        console.log(this.bettingMsg)
        this.bettingMsg.map(items => {
          if (items.play_type_name == msg) {
            this.explain = items.game_instruction;
            this.shili = items.case_instruction;
          }
          // return items;
        });
        !this.pickerShow && bus.$emit("picherActive", "");
      });
      bus.$on("clear_data", c => {
        if (c) {
          this.clearData(this.itemData);
          bus.$emit("playId", this.play_id);
          this.$forceUpdate();
        }
      });
      bus.$on("clearSelected", msg => {
        this.present_odds = [];
      });
    },
    methods: {
      //号码补全
      complete(num) {
        num = Number(num);
        if (num < 10) {
          return "0" + num;
        } else {
          return num;
        }
      },
      filter(num) {
        num = String(num);
        if (
          [
            "3",
            "4",
            "9",
            "10",
            "14",
            "15",
            "20",
            "25",
            "26",
            "31",
            "36",
            "37",
            "41",
            "42",
            "47",
            "48"
          ].includes(num)
        ) {
          return " lan";
        } else if (
          [
            "5",
            "6",
            "11",
            "16",
            "17",
            "21",
            "22",
            "27",
            "28",
            "32",
            "33",
            "38",
            "39",
            "43",
            "44",
            "49"
          ].includes(num)
        ) {
          return " lv";
        } else if (
          [
            "1",
            "2",
            "7",
            "8",
            "12",
            "13",
            "18",
            "19",
            "23",
            "24",
            "29",
            "30",
            "34",
            "35",
            "40",
            "45",
            "46"
          ].includes(num)
        ) {
          return " hong";
        }
      },
      explainEvent(type) {
        this.explainShow = true;
        if (type && type != 1) {
          this.explain = this.liuhecaiwanfa[type].explain;
          this.shili = this.liuhecaiwanfa[type].shili;
        }
      },
      pickerActive(v) {
        this.playShowTxt = v;
        bus.$emit("picherActive", v);
        this.play_id = [];
        this.present_odds = [];
        this.itemData.forEach(element => {
          if (element.class_type_name == this.playShowTxt) {
            if (this.lottery_type == "PK10") {
              let haoman_arr = [
                "冠军",
                "亚军",
                "第三名",
                "第四名",
                "第五名",
                "第六名",
                "第七名",
                "第八名",
                "第九名",
                "第十名"
              ];
              if (haoman_arr.includes(this.active)) {
                this.haomaPK = element.class_type_arr;
              }
            } else if (this.lottery_type == "时时彩") {
              this.liangmianData = element.class_type_arr;
            } else if (this.lottery_type == "六合彩") {
              if (this.active == "正特码") {
                this.zhengte = element.class_type_arr;
              }
              if (this.active == "连码") {
                this.lianma = element.class_type_arr;
              }
              if (this.active == "生肖") {
                this.shengxiao = element.class_type_arr;
              }
              if (this.active == "连肖") {
                this.lianxiao = element.class_type_arr;
              }
              if (this.active == "连尾") {
                this.lianwei = element.class_type_arr;
              }
              if (this.active == "正码1~6") {
                this.zhengma16 = element.class_type_arr;
              }
              if (this.active == "自选不中") {
                this.zixuan = element.class_type_arr;
              }
            }
          }
          this.$forceUpdate();
        });
      },

      // 点击上方选项栏
      picker() {
        this.$emit("ThrowInToShow", false);
        this.pickerShow = !this.pickerShow;
        if (this.lottery_type == "时时彩") {
          this.clearData(this.liangmianData);
          bus.$emit("playId", this.play_id);
        }
        if (this.lottery_type == "PK10") {
          if (this.active == "冠军") {
            this.clearData(this.liangmianPK);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "亚军") {
            this.clearData(this.haomaPK);
            bus.$emit("playId", this.play_id);
          }
        }
        if (this.lottery_type == "六合彩") {
          if (this.active == "正特码") {
            this.clearData(this.zhengte);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "连码") {
            this.clearData(this.lianma);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "生肖") {
            this.clearData(this.shengxiao);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "连肖") {
            this.clearData(this.lianxiao);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "连尾") {
            this.clearData(this.lianwei);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "正码1~6") {
            this.clearData(this.zixuan);
            bus.$emit("playId", this.play_id);
          }
        }
      },
      // 将当前为点击状态的值添加到数组中
      addData(item, play_id, odds, present_odds) {
        if (this.active == "猜冠亚") {
          if (item.active) {
            play_id.push(item.play_id);
            present_odds = item.present_odds;
          } else {
            play_id.remove(item.play_id);
            present_odds = 0;
          }
        } else {
          if (item.active) {
            play_id.push(item.play_id);
            if (Array.isArray(item.play_name)) {
              present_odds.push(item.play_name[0]);
            } else {
              present_odds.push(item.play_name);
            }
          } else {
            play_id.remove(item.play_id);
            if (Array.isArray(item.play_name)) {
              present_odds.remove(item.play_name[0]);
            } else {
              present_odds.remove(item.play_name);
            }
          }
        }
      },
      // 点击后为选中状态
      betting(item) {
        item.active = !item.active;
        this.addData(item, this.play_id, this.odds, this.present_odds);
        if (this.active == "猜冠亚") {
          var data = [];
          if (this.play_id.length > 0) {
            for (let i = 0; i < this.play_id.length; i++) {
              let j = i + 1;
              for (let k = j; k < this.play_id.length; k++) {
                data.push(this.play_id[i] + "_" + this.play_id[k]);
              }
            }
          }
          this.itemData.forEach(e => {
            data.forEach(element => {
              if (e.class_type_arr.play_name == element) {
                if (
                  e.class_type_arr.play_id &&
                  e.class_type_arr.odds &&
                  e.class_type_arr.present_odds
                ) {
                  this.play_id.push(e.class_type_arr.play_id);
                  this.odds.push(e.class_type_arr.odds);
                  this.present_odds.push(e.class_type_arr.present_odds);
                }
              }
            });
          });
          bus.$emit("present_odds", this.present_odds);
          bus.$emit("playId", this.play_id);
        } else {
          bus.$emit("playId", this.play_id);
          bus.$emit("present_odds", this.present_odds);
          if (this.play_id.length > 0) {
            this.$emit("ThrowInToShow", true);
          } else {
            this.$emit("ThrowInToShow", false);
          }
        }
        this.$forceUpdate();
      },
      // 加入图片路径
      dataHandle(item) {
        item.active = false;
        if (item.is_img == "1") {
          var imgClassify = item.play_name;
          if (imgClassify.length == 1) {
            switch (item.play_name) {
              case "1":
                item.play_img = this.shaiImgs.se1;
                break;
              case "2":
                item.play_img = this.shaiImgs.se2;
                break;
              case "3":
                item.play_img = this.shaiImgs.se3;
                break;
              case "4":
                item.play_img = this.shaiImgs.se4;
                break;
              case "5":
                item.play_img = this.shaiImgs.se5;
                break;
              case "6":
                item.play_img = this.shaiImgs.se6;
                break;
              default:
                item.play_img = "";
                break;
            }
          }
          if (imgClassify.length == 3) {
            switch (item.play_name) {
              case "111":
                item.play_img = this.shaiImgs.se1;
                break;
              case "222":
                item.play_img = this.shaiImgs.se2;
                break;
              case "333":
                item.play_img = this.shaiImgs.se3;
                break;
              case "444":
                item.play_img = this.shaiImgs.se4;
                break;
              case "555":
                item.play_img = this.shaiImgs.se5;
                break;
              case "666":
                item.play_img = this.shaiImgs.se6;
                break;
              default:
                item.play_img = "";
                break;
            }
          }
          if (imgClassify.length == 2) {
            item.img = [];
            for (let i = 0; i < imgClassify.length; i++) {
              switch (imgClassify[i]) {
                case "1":
                  item.img.push(this.shaiImgs.se1);
                  break;
                case "2":
                  item.img.push(this.shaiImgs.se2);
                  break;
                case "3":
                  item.img.push(this.shaiImgs.se3);
                  break;
                case "4":
                  item.img.push(this.shaiImgs.se4);
                  break;
                case "5":
                  item.img.push(this.shaiImgs.se5);
                  break;
                case "6":
                  item.img.push(this.shaiImgs.se6);
                  break;

                default:
                  item.img = null;
                  break;
              }
            }
          }
        }
      },
      getItemData(i) {
        this.bettingData.forEach(element => {
          var elem = element.play_type_name;

          if (element.play_type_name == i) {
            if (element.play_type_name == "围骰") {
              this.weitou = element.play_type_arr[0].class_type_arr;
              this.quantou = element.play_type_arr[1].class_type_arr[0];
            }
            if (element.play_type_name == "长短牌") {
              this.changpai = element.play_type_arr[0].class_type_arr;
              this.changpaiodds = this.changpai[0].odds;
              this.duanpai = element.play_type_arr[1].class_type_arr;
              this.duanpaiodds = this.duanpai[0].odds;
            }
            if (this.lottery_type == "时时彩") {
              if (
                element.play_type_name == "两面" ||
                element.play_type_name == "数字"
              ) {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.liangmianData = element.play_type_arr[0].class_type_arr;
                this.playShowTxt = this.pullPickerData[0];
              }
            }
            if (this.lottery_type == "11选5") {

              if (
                element.play_type_name == "整合"
              // || element.play_type_name == "数字"
              ) {

                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.zhenghe = element.play_type_arr[0].class_type_arr;
                this.playShowTxt = this.pullPickerData[0];
              }
            }
            if (this.lottery_type == "PK10") {
              const {play_type_name, play_type_arr} = element;

              let haoman_arr = [
                "冠军",
                "亚军",
                "第三名",
                "第四名",
                "第五名",
                "第六名",
                "第七名",
                "第八名",
                "第九名",
                "第十名"
              ];

              if (element.play_type_name == "两面") {
                this.liangmianPK = element.play_type_arr[0].class_type_arr;
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
              }

              if (haoman_arr.includes(play_type_name)) {
                play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];

                this.haomaPK = play_type_arr.map(item => {
                  return item.class_type_arr;
                });
              }
            }

            if (this.lottery_type == "六合彩") {
              if (element.play_type_name == "正特码") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.zhengte = element.play_type_arr[0].class_type_arr;
              }
              if (element.play_type_name == "连码") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.lianma = element.play_type_arr[0].class_type_arr;
              }
              if (element.play_type_name == "生肖") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.shengxiao = element.play_type_arr[0].class_type_arr;
              }
              if (element.play_type_name == "连肖") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.lianxiao = element.play_type_arr[0].class_type_arr;
              }
              if (element.play_type_name == "连尾") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.lianwei = element.play_type_arr[0].class_type_arr;
              }
              if (element.play_type_name == "正码1~6") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.zhengma16 = element.play_type_arr[0].class_type_arr;
              }
              if (element.play_type_name == "自选不中") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.zixuan = element.play_type_arr[0].class_type_arr;
              }
            }
            if (element.play_type_name == "龙虎斗") {
              if (this.lottery_type == "时时彩") {
                element.play_type_arr.forEach(e => {
                  switch (e.class_type_name) {
                    case "1v2":
                      e.class_type_name = "第一球 VS 第二球";
                      break;
                    case "1v3":
                      e.class_type_name = "第一球 VS 第三球";
                      break;
                    case "1v4":
                      e.class_type_name = "第一球 VS 第四球";
                      break;
                    case "1v5":
                      e.class_type_name = "第一球 VS 第五球";
                      break;
                    case "2v3":
                      e.class_type_name = "第二球 VS 第三球";
                      break;
                    case "2v4":
                      e.class_type_name = "第二球 VS 第四球";
                      break;
                    case "2v5":
                      e.class_type_name = "第二球 VS 第五球";
                      break;
                    case "3v4":
                      e.class_type_name = "第三球 VS 第四球";
                      break;
                    case "3v5":
                      e.class_type_name = "第三球 VS 第五球";
                      break;
                    case "4v5":
                      e.class_type_name = "第四球 VS 第五球";
                      break;
                    default:
                      break;
                  }
                });
              }
              if (this.lottery_type == "PK10") {
                element.play_type_arr.forEach(e => {
                  switch (e.class_type_name) {
                    case "1v2":
                      e.class_type_name = "第一名 VS 第二名";
                      break;
                    case "1v3":
                      e.class_type_name = "第一名 VS 第三名";
                      break;
                    case "1v4":
                      e.class_type_name = "第一名 VS 第四名";
                      break;
                    case "1v5":
                      e.class_type_name = "第一名 VS 第五名";
                      break;
                    case "1v6":
                      e.class_type_name = "第一名 VS 第六名";
                      break;
                    case "1v7":
                      e.class_type_name = "第一名 VS 第七名";
                      break;
                    case "1v8":
                      e.class_type_name = "第一名 VS 第八名";
                      break;
                    case "1v9":
                      e.class_type_name = "第一名 VS 第九名";
                      break;
                    case "1v10":
                      e.class_type_name = "第一名 VS 第十名";
                      break;

                    case "2v3":
                      e.class_type_name = "第二名 VS 第三名";
                      break;
                    case "2v4":
                      e.class_type_name = "第二名 VS 第四名";
                      break;
                    case "2v5":
                      e.class_type_name = "第二名 VS 第五名";
                      break;
                    case "2v6":
                      e.class_type_name = "第二名 VS 第六名";
                      break;
                    case "2v7":
                      e.class_type_name = "第二名 VS 第七名";
                      break;
                    case "2v8":
                      e.class_type_name = "第二名 VS 第八名";
                      break;
                    case "2v9":
                      e.class_type_name = "第二名 VS 第九名";
                      break;
                    case "2v10":
                      e.class_type_name = "第二名 VS 第十名";
                      break;

                    case "3v4":
                      e.class_type_name = "第三名 VS 第四名";
                      break;
                    case "3v5":
                      e.class_type_name = "第三名 VS 第五名";
                      break;
                    case "3v6":
                      e.class_type_name = "第三名 VS 第六名";
                      break;
                    case "3v7":
                      e.class_type_name = "第三名 VS 第七名";
                      break;
                    case "3v8":
                      e.class_type_name = "第三名 VS 第八名";
                      break;
                    case "3v9":
                      e.class_type_name = "第三名 VS 第九名";
                      break;
                    case "3v10":
                      e.class_type_name = "第三名 VS 第十名";
                      break;

                    case "4v5":
                      e.class_type_name = "第四名 VS 第五名";
                      break;
                    case "4v6":
                      e.class_type_name = "第四名 VS 第六名";
                      break;
                    case "4v7":
                      e.class_type_name = "第四名 VS 第七名";
                      break;
                    case "4v8":
                      e.class_type_name = "第四名 VS 第八名";
                      break;
                    case "4v9":
                      e.class_type_name = "第四名 VS 第九名";
                      break;
                    case "4v10":
                      e.class_type_name = "第四名 VS 第十名";
                      break;

                    case "5v6":
                      e.class_type_name = "第五名 VS 第六名";
                      break;
                    case "5v7":
                      e.class_type_name = "第五名 VS 第七名";
                      break;
                    case "5v8":
                      e.class_type_name = "第五名 VS 第八名";
                      break;
                    case "5v9":
                      e.class_type_name = "第五名 VS 第九名";
                      break;
                    case "5v10":
                      e.class_type_name = "第五名 VS 第十名";
                      break;

                    case "6v7":
                      e.class_type_name = "第六名 VS 第七名";
                      break;
                    case "6v8":
                      e.class_type_name = "第六名 VS 第八名";
                      break;
                    case "6v9":
                      e.class_type_name = "第六名 VS 第九名";
                      break;
                    case "6v10":
                      e.class_type_name = "第六名 VS 第十名";
                      break;

                    case "7v8":
                      e.class_type_name = "第七名 VS 第八名";
                      break;
                    case "7v9":
                      e.class_type_name = "第七名 VS 第九名";
                      break;
                    case "7v10":
                      e.class_type_name = "第七名 VS 第十名";
                      break;

                    case "8v9":
                      e.class_type_name = "第八名 VS 第九名";
                      break;
                    case "8v10":
                      e.class_type_name = "第八名 VS 第十名";
                      break;

                    case "9v10":
                      e.class_type_name = "第九名 VS 第十名";
                      break;

                    default:
                      break;
                  }
                });
              }
            }

            this.itemData = element.play_type_arr;
          }
        });
      },
      // 删除点击效果和数组id
      clearData(n) {
        if (!this.one) {
          this.one = 1;
          return;
        }
        n.forEach(e => {
          if (e.class_type_name) {
            if (e.class_type_arr instanceof Array) {
              e.class_type_arr.forEach(items => {
                if (items.class_type_arr) {
                  items.class_type_arr.active = false;
                } else {
                  items.active = false;
                }
              });
            }
          } else if (e.class_type_arr) {
            e.class_type_arr.active = false;
          } else {
            e.active = false;
          }
        });

        this.play_id = [];
        this.odds = [];
      }
    },
    watch: {
      bettingMsg(n) {
        n.forEach(key => {
          key.play_type_arr.forEach(element => {
            if (element.class_type_arr instanceof Array) {
              element.class_type_arr.forEach(items => {
                this.dataHandle(items);
              });
            } else {
              this.dataHandle(element.class_type_arr);
            }
          });
        });

        this.bettingData = n;
      },
      active(n, o) {
        this.pickerShow = false;
        this.pickerShow1 = false;
        this.getItemData(n);
        if (n != o) {
          this.clearData(this.itemData);
          this.present_odds = [];
        }

        if (this.lottery_type != "28") {
          if (
            n == "两面" ||
            n == "号码" ||
            n == "数字" ||
            n == "正特码" ||
            n == "连码" ||
            n == "生肖" ||
            n == "连肖" ||
            n == "连尾" ||
            n == "正码1~6" ||
            n == "整合" ||
            n == "自选不中"
          ) {
            if (this.lottery_type == '11选5' && n == "两面") {
              this.onePull = false;
            } else {
              this.onePull = true;
            }

          } else {
            this.onePull = false;
          }
        }

        this.bettingMsg.map(msg => {
          if (msg.play_type_name == this.active) {
            this.explain = msg.game_instruction;
            this.shili = msg.case_instruction;
          }
        });
      },
      present_odds(n, o) {
        if (n != o) {
          bus.$emit("present_odds", n);
          bus.$emit("playId", this.play_id);
        }
      },
      playShowTxt(n, o) {
        bus.$emit("picherActive", n);
      }
    }
  };
</script>

<style scoped lang="less">
  .v-modal {
    z-index: 12;
  }

  .file {
    background: url('~@/assets/file.png') no-repeat;
    background-size: cover;
  }

  .bulb {
    background: url('~@/assets/bulb.png') no-repeat;
    background-size: cover;
  }

  .mint-msgbox {
    z-index: 13;
    padding: 0.4rem;
    width: 70%;
    color: #333;

    > .icon-fork {
      float: right;
      font-size: 16px;
    }

    > h4 {
      text-align: center;
      margin: 0.3rem 0 0;
    }

    > li {
      font-size: 15px;
      margin-bottom: .3rem;

      > div {
        color: #666;
      }

      > b {
        display: inline-block;
        margin: 0.3rem 0 0.2rem;

        > i {
          display: inline-block;
          width: .25rem;
          height: .3rem;
          margin-right: .2rem;
        }
      }

    }

    > div {
      width: 50%;
      margin: 0.2rem auto;
      background: #ffce6f;
      padding: 0.2rem 0.4rem;
      text-align: center;
      border-radius: 5px;
    }
  }

  .touzhu {
    padding: 3px 16px;
  }

  .main {
    width: 100%;

    -webkit-overflow-scrolling: touch;
  }

  .zonghe > li {
    width: 48%;
  }

  .sanjun,
  .dianshu {
    justify-content: flex-start;
  }

  .sanjun > li:nth-child(3n + 3),
  .dianshu > li:nth-child(3n + 3) {
    margin-right: 0;
  }

  .sanjun > li,
  .dianshu > li {
    width: 31%;
    margin: 0 3% 3% 0;
  }

  .dianshu > li span,
  .zonghe > li span {
    font-size: 15px;
    font-weight: bold;
  }

  .quanbu {
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
  }

  .quanbu > div,
  .quanbu > p {
    display: flex;
    flex-wrap: wrap;
  }

  .quanbu > div {
    padding: 0.1rem;
    flex: 1;
  }

  .quanbu > div > p {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .quanbu > div > p:nth-child(2) {
    margin: 0.1rem 0;
  }

  .quanbu > p {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .changduanpai {
    display: block;
  }

  .changduanpai li {
    width: 30%;
    height: 0.8rem;
    align-items: center;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    justify-content: space-around;
  }

  .changduanpai > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .changduanpai p {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
  }

  .weishai p > img:nth-child(2) {
    margin: 0 0.5px;
  }

  .main .active {
    background: #4a73c5;
    color: #fff;
  }

  .main .active > small,
  .main .active > p small,
  .main .active > div > small {
    color: #fff;
  }

  select {
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  select::-ms-expand {
    display: none;
  }

  .main > .selects {
    font-size: 15px;
    text-align: center;
    height: 0.8rem;
    line-height: 0.8rem;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border: 0.5px solid #b0b0b0;
    color: #6a6a6a;
    position: relative;
  }

  .main > .selects > .selectUl {
    width: 98%;
    flex-direction: column;
    //  height: 5rem;
    padding-bottom: 0;
    overflow-y: auto;
    flex-wrap: nowrap;
    border: 1px solid #ccc;
  }

  .main > .selects > .selectUl > li {
    display: block;
    width: 100%;
    height: 1rem;
    background: #f2f2f2;
    margin: 0;
  }

  .icon-sanjiao1:after {
    color: #999;
    margin-left: 5px;
  }

  .liangmian > li {
    flex-direction: row;
    justify-content: space-around;
    height: 0.8rem;
  }

  .longhu {
    flex-direction: column;
  }

  .longhu > p {
    text-align: center;
    margin: 0.2rem 0;
    color: #666;
  }

  .longhu > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .longhu > div > li {
    display: flex;
    flex-direction: column;
    padding: 0.1rem 0;
    width: 30%;
    background: #f2f2f2;

  }

  .longhu > div > li:nth-child(3), .longhu > div > li:nth-child(4) {
    margin-top: .2rem;
  }

  .longhu > div > li > span,
  .longhu > div > li > small {
    text-align: center;
  }

  .explain {
    font-size: 12px;
    margin-left: 76%;
    color: #3d71ff;
  }

  .banbo {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
  }

  .bose {
    display: inline-block;
    width: 0.5rem;
    line-height: 0.5rem;
    height: 0.5rem;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    margin: 2px 1%;
  }

  .hong {
    color: #fe397f;
  }

  .lv {
    color: #04c67d;
  }

  .lan {
    color: #3d71ff;
  }

  /* .active >span{
                                                                                                                                                                                                                                                                                                                                                                                  color: #fff;
                                                                                                                                                                                                                                                                                                                                                                                } */
</style>
