<template>
  <div class="throwIntoMain">
    <div class="page">
      <!--<slide-bar :slideMsg="slideMsg"></slide-bar>-->
      <kuai-san :bettingMsg="bettingMsg" :periods="periods" @ThrowInToShow="isShow"></kuai-san>
    </div>
    <ThrowIntoXy v-if="type==='xy'" :periods="periods" @closeIndex="closeIndex" v-show="throwInToShow"></ThrowIntoXy>
    <ThrowIntoGf v-if="type==='gf'" :periods="periods" @closeIndex="closeIndex" v-show="throwInToShow"></ThrowIntoGf>
  </div>
</template>

<script type="text/ecmascript-6">
  import KuaiSan from "./kuaisan";
  import SlideBar from "./slideBar";
  import ThrowIntoGf from "../throwIntoMain/official/gf_throwIntoMain";
  import ThrowIntoXy from "../throwIntoMain/credit/xy_throwIntoMain";
  import {mapState} from "vuex";

  export default {
    components: {
      KuaiSan,
      SlideBar,
      ThrowIntoGf,
      ThrowIntoXy
    },
    data() {
      return {
        close: false, //关闭投注首页
        slideMsg: [], // 左侧选项条
        bettingMsg: [], // 右侧投注信息
        gamesList: {},
        throwInToShow: true // 底部投注显示
      };
    },
    computed: {
      ...mapState({
        type: state => state.activeType.type,
      })
    },
    props: {selectData: Array, periods: Object, mainShow: Boolean},
    methods: {
      isShow(msg) {
        // this.throwInToShow = msg
      },
      // closeMain() {
      //   this.$emit("closeMain", this.close);
      // },
      closeIndex(msg) {
        this.$emit("closeMain", msg);
      }
    },
    watch: {
      selectData(newVal, oldVal) {
        console.log('和拉拉省的', newVal);
        this.bettingMsg = newVal;
        newVal.forEach(element => {
          if (element.play_type_name) {
            this.slideMsg.push(element.play_type_name);
          }
        });
        // for (let key in newVal) {
        //   if (newVal[key].play_type_name) {
        //     this.slideMsg.push(newVal[key].play_type_name);
        //   }
        // }
      }
    },

  };
</script>

<style scoped lang="less">
  .page {
    /* height: 59vh; */
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    display: flex;
    font-size: 15px;
    border-top: 1px solid #f2f2f2;
    z-index: 11;
    padding-bottom:120px;
  }
</style>
