<template>
  <div class="main_box">
    <lay-header>
      <lay-arrow slot="left" style="margin-left:6px;" @arrow-click="goHall"></lay-arrow>
      <div v-show="tabIndex===1" slot="title"><span style="color: #FA3B00;  border: 1px solid #FA3B00;"
                                                    class="play-types">信</span>{{title}}
        <i class="iconfont icon-xiajiantou"
           style="float:none"
           @click="controlSelectPlayShow"
        ></i>
      </div>
      <div v-show="tabIndex===0" slot="title"><span style="color: #6C2DFE;  border: 1px solid #6C2DFE;"
                                                    class="play-types">官</span>{{title}}
        <i class="iconfont icon-xiajiantou"
           style="float:none"
           @click="controlSelectPlayShow"
        ></i>
      </div>
      <mt-button style="margin-left:10px"
                 class="iconfont icon-hao"
                 slot="right"
                 @click.native="selsectPop"></mt-button>
    </lay-header>
    <ul class="title_list"
        v-show="selectShow">
      <li class="iconfont icon-guize"
          @click="backto('guize')">游戏规则
      </li>
      <li class="iconfont icon-jilu"
          @click="backto('betting')">投注记录
      </li>
      <li class="iconfont icon-zoushi"
          @click="backto('tongji')">开奖走势
      </li>
      <!-- <li class="iconfont icon-shengyinkai">关闭声音</li> -->
      <li class="iconfont icon-kefu1"
          @click="kefu">联系客服
      </li>
    </ul>
    <!-- 用户信息 -->
    <div class="header">
      <div>
        <p>距{{personalData.period}}期投注截止：</p>
        <p class="time"><span>{{formatTime(times.hourTime)}}</span><span>{{formatTime(times.minuteTime)}}</span><span>{{formatTime(times.secondTime)}}</span>
        </p>
      </div>
      <div>
        <p class="balance">我的余额：</p>
        <p class="balance">{{Number(personalData.money) | fmoney}}</p>
        <p class="balance">今日输赢：</p>
        <p class="balance">{{Number(personalData.money) | fmoney}}</p>
      </div>
    </div>
    <!-- 开奖信息列表 -->
    <div class="my_list"
         v-if="oneData">
      <p class="period"
         @click="arrowClick">
        <span>第{{filterPeriod(String(oneData.period).slice(-4))}}期</span>
        <span v-if="lottery_type==='快三'">
          <img :src="img"
               alt=""
               v-for="(img,k) in oneData.img"
               :key="k"
               width="24"
               height="24">
          <small v-if="oneData.sum">({{oneData.sum}},{{oneData.big_small}},{{oneData.single_double}})</small>
          <small v-else
                 class="weikaijiang">未开奖</small>
        </span>
        <span v-if="lottery_type==='时时彩'"
              class="pullList">
          <span v-for="(v,k) in oneData.award_number"
                :key="k">{{v}}</span>

          <small v-if="oneData.award_number">({{oneData.sum}},{{oneData.big_small}},{{oneData.single_double}})</small>
          <small v-else
                 class="weikaijiang">未开奖</small>
        </span>
        <span v-if="lottery_type==='PK10'">
          <span v-if="oneData.award_number"
                class="square"
                :style="{background:v.color}"
                v-for="(v,k) in oneData.colors"
                :key="k">{{v.num}}</span>
          <span v-if="!oneData.award_number"
                class="weikaijiang">未开奖</span>
        </span>
        <span v-if="lottery_type==='28'"
              class="pullList">
          <span class="itemI"
                v-for="(v,k) in oneData.award_number"
                :key="k">{{v}}<span v-if="k<=1"
                                    class="itemIII">+</span></span>
          <small style="    margin-left: 0;"
                 v-if="oneData.award_number"> = <span class="itemCol">{{oneData.sum}}</span> <span style="width:20px">({{oneData.big_small}}{{oneData.single_double}})</span></small>
          <small style="    margin-left: 0;"
                 v-else
                 class="weikaijiang">未开奖</small>
        </span>
        <span v-if="lottery_type==='六合彩'">
          <span v-if="oneData.award_number"
                class="bose"
                :class="filter(v)"
                v-for="(v,k) in oneData.award_number"
                :key="k">{{complete(v)}}</span>
          <span v-if="!oneData.award_number"
                class="weikaijiang">未开奖</span>
        </span>
        <i class="iconfont"
           :class="!clickArrow?'icon-shangjiantou':'icon-xiajiantou'"></i>
      </p>
      <ul v-if="personalData"
          v-show="!clickArrow">
        <li v-for="(v,i) in personalData.list"
            :key="i">
          <span>第{{filterPeriod(v.period.slice(-4))}}期</span>
          <span v-if="lottery_type==='28'"
                class="pullList">
            <span class="itemI"
                  v-for="(b,k) in v.award_number"
                  :key="k">{{b}} <span v-if="k<=1"
                                       class="itemIII">+</span></span>
            <small style="    margin-left: 0;"
                   v-if="v.award_number"> = <span class="itemCol">{{v.sum}}</span> <span style="width:20px">({{v.big_small}}{{v.single_double}})</span></small>
            <small style="    margin-left: 0;"
                   v-else
                   class="weikaijiang">未开奖</small>
          </span>

          <span v-if="lottery_type==='快三'">
            <img :src="img"
                 alt=""
                 v-for="(img,k) in v.img"
                 :key="k"
                 width="24"
                 height="24">
            <small v-if="v.award_number">({{v.sum}},{{v.big_small}},{{v.single_double}})</small>
            <small v-else
                   class="weikaijiang">未开奖</small>
          </span>
          <span v-if="lottery_type==='时时彩'"
                class="pullList">
            <span v-for="(b,k) in v.award_number"
                  :key="k">{{b}}</span>
            <small v-if="v.award_number">({{v.sum}},{{v.big_small}},{{v.single_double}})</small>
            <small v-else
                   class="weikaijiang">未开奖</small>
          </span>
          <span v-if="lottery_type==='PK10'">
            <span v-if="v.colors"
                  class="square"
                  :style="{background:n.color}"
                  v-for="(n,c) in v.colors"
                  :key="c">{{n.num}}</span>
            <span v-if="!v.colors"
                  class="weikaijiang">未开奖</span>
          </span>
          <span v-if="lottery_type==='六合彩'">
            <!-- {{v}} -->
            <span v-if="v.award_number"
                  class="bose"
                  :class="filter(s)"
                  v-for="(s,k) in v.award_number"
                  :key="k">{{complete(s)}}</span>
            <span v-if="!v.award_number"
                  class="weikaijiang">未开奖</span>
          </span>
        </li>
      </ul>
    </div>
    <transition name="slide-fade">
      <div v-show="selectTypeShow" class="slide-play">

        <!--官方玩法和信用玩法的tabs-->
        <lay-navbar :tab-items="tabs" :tab-index="tabIndex" :on-tab-click="onTabClick"></lay-navbar>

        <!--官方-->
        <div class="slide-play-content" v-show="tabIndex===0">
          <div v-for="(type,key) in lotteryLevels" :key="key"
               style="border-bottom:1px solid #E5E5E5;margin-top: 20px;padding-bottom:10px;">

            <lay-button style="width:24%;margin-left: 2%;margin-bottom: 2%"
                        :theme="item.name === activeName[key]?'positive':''"
                        v-for="(item,index) in type"
                        :key="index"
                        v-show="type&&Object.prototype.toString.call(type) ==='[object Array]'"
                        @click="selectType(item,key)">
              {{item.name}}
            </lay-button>
          </div>
        </div>

        <!--信用-->
        <div class="slide-play-content" v-show="tabIndex===1">
          <lay-button style="width:24%;margin-left: 2%;margin-bottom: 2%"
                      :theme="item.play_type_name ===activeName[0]?'positive':''"
                      v-for="(item,index) in lists"
                      :key="index"
                      v-show="lists"
                      @click="selectType(item)">
            {{item.play_type_name}}
          </lay-button>
        </div>
        <!--信用-->

      </div>
    </transition>
  </div>
</template>

<script type="text/ecmascript-6">
  import {MessageBox} from "mint-ui";
  import LayItem from "@/vlayui/List/Item";
  import LayList from "@/vlayui/List/List";
  import LaySpin from "@/vlayui/Spin";
  import LayPage from "@/vlayui/Layout/page";
  import LayHeader from "@/vlayui/Layout/header";
  import LayArrow from "@/vlayui/Arrow";
  import LayAdd from "@/vlayui/Icon/add";
  import LayMinus from "@/vlayui/Icon/minus";
  import LayButton from "@/vlayui/LayButton";
  import LayNavbar from "@/vlayui/Navbar";
  import {mapState, mapMutations} from "vuex";

  export default {
    components: {
      LayButton,
      LayItem,
      LayList,
      LaySpin,
      LayPage,
      LayHeader,
      LayArrow,
      LayAdd,
      LayMinus,
      LayNavbar
    },
    props: [
      "title",
      "personalData",
      "oneData",
      "times",
      "lottery_type",
      "periods_lotteryid",
      "selectData"
    ],
    data() {
      return {
        selectTypeShow: false,
        selectShow: false, // 头部下拉框
        clickArrow: true, // 往期开奖结果显示
        lotteryTrend: { //开奖走势
          '快三': 'TrendMain',
          '时时彩': 'awardResult',
          '六合彩': 'Markitem',
          'PK10': 'Pk10TrendMain',
          '28': 'Pcegg',
          '11选5': 'Xuan5'
        },
        tabs: [
          "官方玩法",
          "信用玩法",
        ],
        tabIndex: 0,
        shaiImgs: {
          // 筛子图片
          se1: "../../../../static/touzhu/se1.png",
          se2: "../../../../static/touzhu/se2.png",
          se3: "../../../../static/touzhu/se3.png",
          se4: "../../../../static/touzhu/se4.png",
          se5: "../../../../static/touzhu/se5.png",
          se6: "../../../../static/touzhu/se6.png"
        },
      };
    },
    computed: {
      ...mapState({
        activeName: state => state.activeType.name,
        type: state => state.activeType.type,
        lists: state => state.lotteryXyData,
        gflists: state => state.lotteryGfData,
        lotteryLevels: state => {
          return (state.lotteryLevel && Object.values(state.lotteryLevel)) || [];
        },
        levels: state => state.lotteryLevel,
      })
    },
    methods: {
      ...mapMutations({
        setXyLottery_mua: 'SET_CURRENT_XY_LOTTERY',
        setGfLottery_mua: 'SET_CURRENT_GF_LOTTERY',
        activeType_mua: 'ACTIVE_TYPE',
        lotteryLevel_mua: 'LOTTERY_LEVEL',
        setLotteryPath_mua: 'SET_LOTTERY_PATH',
        setCheckItem_mua: 'SET_CHECKED_ITEMS',
        setLotteryTotal_mua: 'SET_LOTTERY_TOTAL',
      }),
      onTabClick(index) {
        this.tabIndex = index;
        this.activeType_mua({
          name: [],
          type: index === 0 ? 'gf' : 'xy',
        })
      },
      selectType(data, current) {

        //解决快三塞子图片的问题
        // data.play_type_arr && data.play_type_arr.forEach(element => {
        //   if (element.class_type_arr instanceof Array) {
        //     element.class_type_arr.forEach(items => {
        //       this.dataHandle(items);
        //     });
        //   } else {
        //     this.dataHandle(element.class_type_arr);
        //   }
        // });

        if (this.type === 'gf') {

          let level, index;

          if (current === 0) {
            this.setLotteryPath_mua(data.lottery_path);
            this.setGfLottery_mua({
              data,
            });
          }

          //添加选择的按钮
          let names = [].concat(this.activeName).slice(0, current + 1);
          names[current] = data.name;

          this.activeType_mua({
            type: 'gf',
            name: names
          });

          //点击最后一排
          if (this.lotteryLevels && Object.keys(this.lotteryLevels).length === current + 1) {
            this.lotteryLevel_mua({
              ...this.levels
            });
            this.selectTypeShow = false;
          } else {
            if (current === 0) {
              level = {level0: this.gflists};
              index = current + 1;
              loopType(data);
            } else {
              level = {};

              Array.from({length: current + 1}).forEach((e, i) => {
                level[`level${i}`] = this.lotteryLevels[i];
              });

              index = current + 1;
              loopType(data);
            }

            this.lotteryLevel_mua(level);
          }

          //loop函数，将层级取出来
          function loopType(da) {

            if (da.children && da.children.length > 0) {
              level[`level${index}`] = da.children;
              index++;
              da.children.forEach(item => {
                loopType(item);
              })
            }

            if (da.children && da.children.length === 0 && da.data) {
              return undefined;
            }
          }
        }

        if (this.type === 'xy') {
          this.setXyLottery_mua({data});
          this.activeType_mua({
            type: 'xy',
            name: [data.play_type_name]
          });
          this.selectTypeShow = false;
        }


        this.setCheckItem_mua([]);
        this.setLotteryTotal_mua({
          win: 0,
          total: [],
          money: 0,
          single: 2,
          multiple: 1,
        })
      },

      // 加入图片路径
      dataHandle(item) {
        let result;
        item.active = false;
        if (item['is_img'] === "1") {
          let imgClassify = item['play_name'];
          if (imgClassify.length === 1) {
            switch (imgClassify) {
              case "1":
                result = this.shaiImgs.se1;
                break;
              case "2":
                result = this.shaiImgs.se2;
                break;
              case "3":
                result = this.shaiImgs.se3;
                break;
              case "4":
                result = this.shaiImgs.se4;
                break;
              case "5":
                result = this.shaiImgs.se5;
                break;
              case "6":
                result = this.shaiImgs.se6;
                break;
              default:
                result = "";
                break;
            }
          }
          if (imgClassify.length === 3) {
            switch (imgClassify) {
              case "111":
                result = this.shaiImgs.se1;
                break;
              case "222":
                result = this.shaiImgs.se2;
                break;
              case "333":
                result = this.shaiImgs.se3;
                break;
              case "444":
                result = this.shaiImgs.se4;
                break;
              case "555":
                result = this.shaiImgs.se5;
                break;
              case "666":
                result = this.shaiImgs.se6;
                break;
              default:
                result = "";
                break;
            }
          }
          if (imgClassify.length === 2) {
            result = [];
            for (let i = 0; i < imgClassify.length; i++) {
              switch (imgClassify[i]) {
                case "1":
                  result.push(this.shaiImgs.se1);
                  break;
                case "2":
                  result.push(this.shaiImgs.se2);
                  break;
                case "3":
                  result.push(this.shaiImgs.se3);
                  break;
                case "4":
                  result.push(this.shaiImgs.se4);
                  break;
                case "5":
                  result.push(this.shaiImgs.se5);
                  break;
                case "6":
                  result.push(this.shaiImgs.se6);
                  break;
                default:
                  result = [];
                  break;
              }
            }
          }
        }

        return result;
      },
      controlSelectPlayShow() {
        this.selectTypeShow = !this.selectTypeShow;
      },
      formatTime(num) {
        if (num <= 0) {
          return '00'
        } else {
          return num
        }
      },
      filterPeriod(str) {
        if (str[0] === '0') {
          return str.slice(1)
        } else {
          return str
        }
      },
      complete(num) {
        if (!isNaN(num)) {
          num = Number(num);
          if (num < 10) {
            return '0' + num
          } else {
            return num
          }
        } else {
          return num
        }
      },
      filter(num) {
        num = String(num);
        if (
          [
            "3",
            "4",
            "9",
            "10",
            "14",
            "15",
            "20",
            "25",
            "26",
            "31",
            "36",
            "37",
            "41",
            "42",
            "47",
            "48"
          ].includes(num)
        ) {
          return " lan";
        } else if (
          [
            "5",
            "6",
            "11",
            "16",
            "17",
            "21",
            "22",
            "27",
            "28",
            "32",
            "33",
            "38",
            "39",
            "43",
            "44",
            "49"
          ].includes(num)
        ) {
          return " lv";
        } else if (
          [
            "1",
            "2",
            "7",
            "8",
            "12",
            "13",
            "18",
            "19",
            "23",
            "24",
            "29",
            "30",
            "34",
            "35",
            "40",
            "45",
            "46"
          ].includes(num)
        ) {
          return " hong";
        } else {
          return ' hei'
        }
      },
      selsectPop() {
        this.selectShow = !this.selectShow;
      },
      backto(type) {
        if (type == "tongji") {

          this.$router.push({
            name: this.lotteryTrend[this.lottery_type],
            params: {id: this.periods_lotteryid.lottery_id}
          });
        } else if (type == "yuce") {
          if (this.lottery_type == "快三") {
            this.$router.push({
              name: "TrendMain",
              params: {id: this.periods_lotteryid.lottery_id, type: "3"}
            });
          }
          if (this.lottery_type == "时时彩") {
            this.$router.push({
              name: "awardResult",
              params: {id: this.periods_lotteryid.lottery_id, type: "3"}
            });
          }
          if (this.lottery_type == "PK10") {
            this.$router.push({
              name: "Pk10TrendMain",
              params: {id: this.periods_lotteryid.lottery_id, type: "5"}
            });
          }
        } else if (type == "guize") {
          this.$router.push({
            name: 'ShuoMing',
            params: {title: this.title, id: this.periods_lotteryid.lottery_id}
          });
        } else if (type == "unBound") {
          this.shiwan(type);
        } else if (type == "recharge") {
          this.shiwan(type);
        } else if (type == "betting") {
          this.$router.push(type);
        } else {
          window.history.back();
        }
      },

      // 试玩登录
      shiwan(path) {
        let isLogin = sessionStorage.getItem("isLogin");
        if (isLogin == "false") {
          MessageBox.confirm("您还未登录", "提示", {closeOnClickModal: false})
            .then(action => {
              this.$router.push("login");
            })
            .catch(res => {
              this.$router.push("center");
            });
        } else if (isLogin == "yes") {
          MessageBox.confirm("正式会员才可以使用该功能", "提示", {
            confirmButtonText: "成为会员"
          })
            .then(action => {
              this.$router.push("reg");
            })
            .catch(res => {
              this.$router.push("gamesMain");
            });
        } else {
          if (path == "unBound") {
            this.mask = sessionStorage.getItem("mask"); //打码量
            let setPwd = sessionStorage.getItem("setPwd");
            if (setPwd == "false") {
              MessageBox.confirm("您还未设置资金密码哟！", "提示", {
                closeOnClickModal: false
              })
                .then(action => {
                  this.$router.push("setPwd");
                })
                .catch(res => {
                  // window.history.back();
                });
            } else if (this.mask !== 0) {
              MessageBox.confirm(
                "您还有" +
                this.mask +
                "打码量未完成,请完成后再进行提现</br><small style='color:red'>(注: 视讯及电子游戏打码量延时10分钟结算)</small>",
                "提示",
                {
                  closeOnClickModal: false,
                  showCancelButton: true,
                  cancelButtonText: '打码量详情'
                }
              )
                .catch(() => {
                  this.$router.push('maskDetail');
                });
            } else {
              this.$router.push(path);
            }
          } else {
            this.$router.push(path);
          }
        }
      },
      // 点击箭头
      arrowClick() {
        this.clickArrow = !this.clickArrow;
      },
      goHall() {
        window.history.back();
      },
      goShare(share) {
        this.shiwan(share);
      },
      kefu() {
        this.$router.push("kefu");
      }
    },
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .main_box {
    width: 100%;
  }

  .slide-play {
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
    padding: 18px 0;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid #f7f7f7;
  }

  .slide-play-content {
    padding: 18px 0;
  }

  .slide-fade-enter-active {
    transition: all .2s ease;
  }

  .slide-fade-leave-active {
    transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateY(10px);
    opacity: 0;
  }

  .mint-button--default {
    background-color: #fff;
    box-shadow: none;
    color: #333;
  }

  .title_list {
    position: absolute;
    top: 48px;
    right: 2%;
    background: #fff;
    width: 25%;
    padding: 0.1rem;
    z-index: 14;
    border-radius: 5px;
    box-shadow: #ccc 3px 3px 4px;
    color: #333;
  }


  .play-types {
    width: 18px;
    height: 18px;

    border-radius: 4px;
    display: inline-block;
    font-size: 12px;

    letter-spacing: -0.17px;
    text-align: center;
    line-height: 18px;
    transform: translateY(-2px) translateX(-3px);
  }

  .title_list::after {
    display: block;
    content: "";
    border-width: 6px 6px 6px 6px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;

    /* 定位 */
    position: absolute;
    right: 3%;
    top: -11px;
  }

  .title_list > li {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    float: right;
    font-size: 14px;
    color: #333;
    text-align: center;
  }

  .title_list > li::before {
    margin-right: 10px;
    color: #4a73c5;
  }

  .pullList {
    display: inline-flex;

    > span {
      width: 0.4rem;
      height: 0.4rem;
      line-height: 0.4rem;
      padding: 0;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      background-color: #fe3959;
      margin: 0 2px;
    }

    > small {
      height: 0.4rem;
      line-height: 0.4rem;
      /* width: 1.6rem; */
      margin-left: 0.2rem;
    }

    .span1 {
      background-color: #fe3959;
    }
  }

  .icon-shangjiantou,
  .icon-xiajiantou {
    font-size: 14px;
    float: right;
  }

  .weikaijiang {
    margin-left: 0.15rem;
    color: #3d71ff;
  }

  .square {
    display: inline-block;
    width: 16px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 0.03rem;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
  }

  .period {
    border: 0;
  }

  .my_list {
    padding: 0 0.3rem;
    position: relative;
    background: #fff;
    height: 0.9rem;
    line-height: 0.9rem;
  }

  .my_list img {
    margin: 0 0.1rem;
    vertical-align: middle;
  }

  .itemIII {
    position: absolute;
    color: #333;
    right: -10px;
  }

  .my_list ul {
    width: 92%;

    position: absolute;
    background: #fff;
    padding: 0 0.3rem;
    top: 0.8rem;
    left: 0;
    z-index: 12;
  }

  .icon-xiajiantou,
  .icon-shangjiantou {
    font-size: 14px;
    float: right;
  }

  .my_list ul > li,
  .period {
    height: 0.9rem;
    line-height: 0.9rem;
    border-bottom: 1px solid #dfdfdf;
  }

  .my_list ul > li:last-child {
    border-bottom: 0;
  }

  .padded {
    padding: 3px 0;
    background: #fff8e9;
    color: #333;
  }

  .padded > span > span {
    color: #4a73c5;
  }

  .header {
    margin-top: 50px;
    display: flex;
    flex: 1;
    background: #fff;
    padding: .3rem 0;
    font-size: 12px;
    color: #666;

    .balance {
      display: inline-block;
      width: 46%;
    }

    .balance:nth-child(1) {
      font-size: 12px;
      color: #666666;
      text-align: right;
    }

    .balance:nth-child(2) {
      font-size: 15px;
      color: #FE3959;
      text-align: left;
    }

    .balance:nth-child(3) {
      font-size: 12px;
      color: #999999;
      text-align: right;
    }

    .balance:nth-child(4) {
      font-size: 12px;
      color: #999999;
      text-align: left;
    }

    > div {
      flex: 1;
      line-height: 0.5rem;
      text-align: center;

      .time > span {
        background: #393939;
        border-radius: 2.2px;
        padding: .1rem;
        margin-right: .1rem;
        color: #fff;
      }
    }
  }


  .pullList .itemCol {
    width: 0.4rem;
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #04c67d;
    margin: 0 2px;
    display: inline-block;
  }


  .pullList .itemI {
    position: relative;
    margin: 0 8px;
  }


  .my_btn > button {
    width: 50px;
    height: 25px;
    background: #fff;
    font-size: 12px;
  }

  .blue {
    color: #3d71ff;
    border: 1px solid #3d71ff;
  }

  .red {
    color: #3d71ff;
    border: 1px solid #3d71ff;
  }

  .bose {
    display: inline-block;
    width: 0.45rem;
    line-height: 0.45rem;
    height: 0.45rem;
    text-align: center;
    color: #fff;
    /* padding: 4px; */
    border-radius: 50%;
    margin: 2px 2px;
  }

  .hong {
    background: #fe397f;
  }

  .lv {
    background: #04c67d;
  }

  .lan {
    background: #3d71ff;
  }

  .hei {
    color: #333;
  }
</style>
