<template>
    <div class="main">
        <p>ｰ {{active}} ｰ</p>

        <ul class="liangmian" v-show="active=='两面'?true:false">
            <select class="selects">
                <option value="item-1">item-1</option>
                <option value="item-2">item-2</option>
                <option value="item-3">item-3</option>
                <option value="item-4">item-4</option>
                <option value="item-5">item-5</option>
            </select>
            <li>
                <span>大</span>
                <small>1.98</small>
            </li>
            <li>
                <span>大</span>
                <small>1.98</small>
            </li>

        </ul>

        <ul class="liangmian" v-show="active=='号码'?true:false">
            <select class="selects">
                <option value="item-1">item-1</option>
                <option value="item-2">item-2</option>
                <option value="item-3">item-3</option>
                <option value="item-4">item-4</option>
                <option value="item-5">item-5</option>
            </select>
            <li>
                <span>1</span>
                <small>1.98</small>
            </li>
            <li>
                <span>2</span>
                <small>1.98</small>
            </li>
        </ul>

        <ul class="longhu" v-show="active=='龙虎斗'?true:false">
            <p>第一名VS第十名</p>
            <div>
                <li>
                    <span>龙</span>
                    <small>1.98</small>
                </li>

                <li>
                    <span>龙</span>
                    <small>1.98</small>
                </li>
            </div>

            <p>第一名VS第十名</p>
            <div>
                <li>
                    <span>龙</span>
                    <small>1.98</small>
                </li>
                <li>
                    <span>龙</span>
                    <small>1.98</small>
                </li>
            </div>

            <p>第一名VS第十名</p>
            <div>
                <li>
                    <span>龙</span>
                    <small>1.98</small>
                </li>
                <li>
                    <span>龙</span>
                    <small>1.98</small>
                </li>
            </div>

        </ul>

        <ul class="guanya" v-show="active=='猜冠亚'?true:false">
            <div>
                <li>
                    <span>1</span>
                </li>
                <li>
                    <span>1</span>
                </li>
                <li>
                    <span>1</span>
                </li>
                <li>
                    <span>1</span>
                </li>
                <li>
                    <span>1</span>
                </li>
                <li>
                    <span>1</span>
                </li>
                <li>
                    <span>1</span>
                </li>
            </div>
            <p>
                <small>赔率：42</small>
                <span>备注：每次需要选择2个号码，顺序不限（两个号码为一注）</span>
            </p>

        </ul>

        <ul class="liangmian" v-show="active=='冠亚和'?true:false">
            <li>
                <span>大</span>
                <small>1.98</small>
            </li>
            <li>
                <span>大</span>
                <small>1.98</small>
            </li>
                    <li>
                <span>大</span>
                <small>1.98</small>
            </li>
            <li>
                <span>大</span>
                <small>1.98</small>
            </li>
        </ul>
    </div>
</template>

<script type="text/ecmascript-6">
import bus from "@/common/bus";
export default {
  data() {
    return {
      active: "",
    };
  },
  mounted() {
    bus.$on("active", msg => {
      // 接收兄弟组件传值
      console.log(msg)
      this.active = msg;
    });
  },
  components: {}
};
</script>

<style scoped>
.selects {
  font-size: 16px;
  padding: 10px 34%;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border-color: #b0b0b0;
  color: #6a6a6a;
}
.liangmian > li {
  height: 1rem;
  flex-direction: row;
  justify-content: space-around;
}
.longhu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.longhu > p {
  color: #666;
  margin-bottom: 5px;
  font-size: 12px;
}
.longhu > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.longhu > div li {
  display: flex;
  height: 0.8rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  justify-content: space-around;
  background: #f2f2f2;
  align-items: center;
  width: 47%;
  color: #333;
  text-align: center;
  margin-bottom: 5px;
}
.guanya > div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.guanya > div > li:nth-child(5) {
  margin-right: 0;
}
.guanya > div > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17%;
  background: #f2f2f2;
  margin-right: 3.5%;
  margin-bottom: 3.5%;
  height: 0.8rem;
}
.guanya > p > small {
  display: block;
}
.guanya > p > span {
  font-size: 12px;
  color: #999;
}
</style>
