<template>
  <div class="app"
       style="font-size:14px">
    <my-header :title="title"
               :personalData="personalData"
               :oneData="oneData"
               :times="times"
               :lottery_type="lottery_type"
               :periods_lotteryid='periods_lotteryid'></my-header>

    <div class="xw-content"
         @touchstart="toShowMaskInfo=false"
         ref="xwBody"
         v-if="!mainShow">
      <div class="xw-chat-wrap">
        <ul v-if="records.length>0">
          <li v-for="(messageList,i) in records"
              :key="i"
              v-if="messageList">
            <div v-if="messageList.type==1"
                 @click="getUserId(messageList)">
              <div class="xw-chat-servicer">
                <div class="xw-servicer-avantar-wrap">
                  <img :src="messageList.head_img"
                       class="xw-servicer-avantar">
                </div>
                <div style="margin-left:40px">
                  <div class="xw-chat-time"
                       style="margin-left:16px">
                    <span style="margin-right:10px">{{messageList.username}}</span>
                    <span>{{messageList.add_time}}</span>
                    <span v-if="messageList.mark==1"
                          class="shenren">赌神</span>
                  </div>
                  <p class="xw-chat-msg">{{messageList.play_type_name+' / '+messageList.order_info+' / '+messageList.money+'元'}}</p>
                </div>
              </div>
            </div>
            <!-- 用户发送的消息模板 -->
            <div v-else>
              <div class="xw-chat-customer">
                <div class="xw-customer-avantar-wrap">
                  <img src="@/assets/admin.png"
                       class="xw-customer-avantar">
                </div>
                <div>
                  <div class="xw-chat-time">
                    {{messageList.add_time}}
                    <span style="float:right;margin-left:20px;margin-bottom:10px;">管理员</span>
                    <p v-html="messageList.play_type_name"
                       class="xw-chat-msg"
                       style="display:inline-block;max-width:3.7rem;"></p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div v-show="records.length==0"
             style="text-align:center">没有更多数据哦</div>
      </div>
    </div>
    <!-- 提示音 -->
    <!-- <audio style="display:none" preload="metadata" controls="controls" autoplay="autoplay" ref="hintAudio"> -->
    <!-- <source :src="myaudio" type="audio/mpeg" /> -->
    <!-- </audio> -->
    <!-- 玩家信息 -->
    <!-- <div class="mask"
         @click="closeMainShow"
         v-show="mainShow"></div> -->
    <mt-button type="danger"
               size="large"
               @click="touzhu"
               class="gamesbtn">投注</mt-button>
    <player-msg :userMsg="userMsg"
                @closeMain="closeMain"></player-msg>
    <!-- 游戏主页 -->
    <my-main :selectData="selectData.lottery_detail"
             :periods="periods_lotteryid"
             @closeMain="closeMain"
             v-show="mainShow"
             :mainShow="mainShow"></my-main>
  </div>
</template>

<script>
import { Toast, MessageBox } from "mint-ui";
import MyHeader from "./children/myheader";
import MyMain from "./children/main";
import PlayerMsg from "./popUp/playerMsg";
import {
  lotteryDetail_api,
  lotteryAwardRecordList_api,
  lotteryRoomList_api,
  lotteryRoomDetail_api,
  userRebateRange_api,
  getLotteryAwardResult_api,
  getchatRoomAdInfo_api //聊天室广告信息接口
} from "@/common/api";
import { isArray, debug } from 'util';
export default {
  data () {
    return {
      title: "",
      lottery_type: "", //彩种类型
      personalData: {
        money: 0,
        head_img: "",
        username: ""
      },
      headerMsg: {
        money: 0,
        head_img: require("@/assets/admin.png"),
        username: "游客"
      },
      oneData: {},
      times: "", // 秒数转换后的字符
      miao: 0, // 距离封盘秒数
      shaiImgs: {
        // 筛子图片
        se1: "../../../../static/touzhu/se1.png",
        se2: "../../../../static/touzhu/se2.png",
        se3: "../../../../static/touzhu/se3.png",
        se4: "../../../../static/touzhu/se4.png",
        se5: "../../../../static/touzhu/se5.png",
        se6: "../../../../static/touzhu/se6.png"
      },
      selectData: [], //获取数据集合
      periods_lotteryid: {
        //彩种id和期数
        lottery_id: "",
        period: ""
      },
      lottery_id: {}, //彩票id参数
      Time: 0,
      // 期数
      clickArrow: true, // 往期开奖结果显示
      bellStatus: false, //头部区域铃声图标
      mainShow: false, // 投注主页面显示
      LotteryNumber: "", // 开奖号码
      userName: "",
      myaudio: "../../static/audio/touzhu.mp3", //铃音
      records: [], //聊天记录列表数据
      userMsg: {}, // 弹框信息
      adminMsg: [], // 管理员信息
      maxOrderId: 0, // 记录列表数据最后一个id值
      advertisement: {
        //广告信息
        award: "",
        seal: "",
        seal_before: "",
        welcome: ""
      }
    };
  },
  computed: {},
  created () {
    let isLogin = sessionStorage.getItem("isLogin");
    // if (isLogin == "false") {
    //   MessageBox.confirm("您还未登录", "提示", { closeOnClickModal: false })
    //     .then(action => {
    //       this.$router.push("login");
    //     })
    //     .catch(res => {
    //       this.$router.push("center");
    //     });
    // }
    if (this.$route.params.msg) {
      var item = this.$route.params.msg;
      sessionStorage.setItem("lottery", item.lottery_id);
      sessionStorage.setItem("lottery_type", item.lottery_type);
      sessionStorage.setItem("title", item.name_cn);
    }
    let lottery_id = sessionStorage.getItem("lottery");
    let title = sessionStorage.getItem("title");
    this.lottery_type = sessionStorage.getItem("lottery_type");
    this.title = title || item.name_cn;
    this.periods_lotteryid.lottery_id = lottery_id || item.lottery_id;
    this.lottery_id = {
      lottery_id: this.periods_lotteryid.lottery_id
    };

    // 投注总数据
    Promise.all([
      lotteryDetail_api(this.lottery_id),
      getchatRoomAdInfo_api(this.lottery_id)
    ]).then(([lottery, getRoom]) => {
      if (lottery.code == 200) {
        this.selectData = lottery.data;
        this.periods_lotteryid.period = lottery.data.period;
      }
      if (getRoom.code == 200) {
        getRoom.data ? this.advertisement = getRoom.data : ''
      } else {
        Toast(getRoom.data);
      }
    });
    this.lotteryAwardRecordList(this.lottery_id);

    //彩票聊天信息列表
    this.liaotianMsg();
  },
  methods: {
    // 开奖信息接口
    // 开奖记录列表数据
    lotteryAwardRecordList (id) {
      lotteryAwardRecordList_api(id).then(res => {
        if (res.code == 200) {
          this.personalData = res.data;
          // 当前时间
          let startTime = Date.parse(new Date()) / 1000;
          // 本期结束投注时间
          let endTimes = res.data.e_time;
          // 得到结束倒数秒数
          this.Time = endTimes - startTime;

          // console.log(this.Time);
          this.miao = res.data.deadline;
          // console.log(this.miao);
          this.userName = res.data.username;
          // 定时器2  显示上方倒计时

          if (window.fengpantimer) {
            clearInterval(window.fengpantimer);
          }
          window.fengpantimer = setInterval(() => {
            this.miao--;
            this.times = this.formatSeconds(this.miao);
          }, 1000);

          if (this.lottery_type == "快三") {
            this.personalData.list.forEach(element => {
              if (element.award_number) {
                element.img = [];
                for (let i = 0; i < element.award_number.length; i++) {
                  switch (element.award_number[i]) {
                    case "1":
                      element.img.push(this.shaiImgs.se1);
                      break;
                    case "2":
                      element.img.push(this.shaiImgs.se2);
                      break;
                    case "3":
                      element.img.push(this.shaiImgs.se3);
                      break;
                    case "4":
                      element.img.push(this.shaiImgs.se4);
                      break;
                    case "5":
                      element.img.push(this.shaiImgs.se5);
                      break;
                    case "6":
                      element.img.push(this.shaiImgs.se6);
                      break;
                    default:
                      element.img = null;
                      break;
                  }
                }
              }
            });
          }
          if (this.lottery_type == "PK10") {
            this.personalData.list.forEach(element => {
              if (element.award_number) {
                if (!isArray(element.award_number)) {
                  element.award_number = element.award_number.split(",");
                }

                element.colors = [];
                for (let i = 0; i < element.award_number.length; i++) {
                  switch (element.award_number[i]) {
                    case "1":
                      element.colors.push({ num: 1, color: "#ECCA00" });
                      break;
                    case "2":
                      element.colors.push({ num: 2, color: "#3CA2ED" });
                      break;
                    case "3":
                      element.colors.push({ num: 3, color: "#606060" });
                      break;
                    case "4":
                      element.colors.push({ num: 4, color: "#E8803F" });
                      break;
                    case "5":
                      element.colors.push({ num: 5, color: "#20C5D3" });
                      break;
                    case "6":
                      element.colors.push({ num: 6, color: "#5C57CC" });
                      break;
                    case "7":
                      element.colors.push({ num: 7, color: "#999999" });
                      break;
                    case "8":
                      element.colors.push({ num: 8, color: "#FE3959" });
                      break;
                    case "9":
                      element.colors.push({ num: 9, color: "#A23F4B" });
                      break;
                    case "10":
                      element.colors.push({ num: 10, color: "#5FCC49" });
                      break;
                    default:
                      element.colors = null;
                      break;
                  }
                }
              }
            });
            console.log(this.personalData);
          }

          this.oneData = res.data.list[0];

          this.personalData.list.shift();
        } else {
          if (res.code == 401) {
            MessageBox.confirm("您还未登录", "提示", {
              closeOnClickModal: false
            })
              .then(action => {
                this.$router.push("login");
              })
              .catch(res => {
                // this.$router.push("center");
              });
          } else {
            Toast(res.msg);
          }
          this.personalData = this.headerMsg;
        }
      });
    },
    //聊天信息弹框
    getUserId (item) {
      lotteryRoomDetail_api({
        order_id: item.order_id,
        lottery_id: this.periods_lotteryid.lottery_id,
        extend: item.extend
      }).then(res => {
        if (res.code == 200) {
          this.userMsg = res.data;
        } else {
          Toast(res.msg);
        }
      });
    },
    // 聊天信息列表
    liaotianMsg () {
      lotteryRoomList_api({
        lottery_id: this.periods_lotteryid.lottery_id,
        order_id: this.maxOrderId
      }).then(res => {
        if (res.code == 200) {
          if (res.data.length > 0) {
            res.data.forEach(element => {
              element.type = 1;
            });
            this.records = this.records.concat(res.data.reverse());

            var data = res.data.sort((a, b) => {
              return parseInt(b.order_id) - parseInt(a.order_id);
            });
            console.log(this.maxOrderId);

            this.maxOrderId = data[0].order_id;
            this.scrollToBottom();
          }
        }
      });
    },
    // 处理倒计时
   formatSeconds (value) {
      var secondTime = parseInt(value); // 秒
      var minuteTime = 0; // 分
      var hourTime = 0; // 小时
      if (secondTime > 60) {
        //如果秒数大于60，将秒数转换成整数
        //获取分钟，除以60取整数，得到整数分钟
        minuteTime = format(parseInt(secondTime / 60));
        //获取秒数，秒数取佘，得到整数秒数
        secondTime = format(parseInt(secondTime % 60));
        //如果分钟大于60，将分钟转换成小时
        if (minuteTime > 60) {
          //获取小时，获取分钟除以60，得到整数小时
          hourTime = format(parseInt(minuteTime / 60));
          //获取小时后取佘的分，获取分钟除以60取佘的分
          minuteTime = parseInt(minuteTime % 60);
        }
      } else {
        secondTime = format(secondTime)
      }
      var result = "" + parseInt(secondTime) + "秒";
      if (minuteTime > 0) {
        result = "" + parseInt(minuteTime) + "分" + result;
      }
      if (hourTime > 0) {
        result = "" + parseInt(hourTime) + "小时" + result;
      }
      return { result, hourTime, minuteTime, secondTime };
      function format (num) {
        if (num < 10) {
          return `0${num}`
        } else {
          return num
        }
      }
    },
    // 关闭投注主页面
    closeMain (msg) {
      // console.log(msg);
      this.mainShow = msg;
      this.liaotianMsg();
      this.lotteryAwardRecordList(this.lottery_id);
    },
    closeMainShow () {
      this.mainShow = false;
      // document.body.style.overflow = "scroll";
    },
    // 点击下方投注 显示投注主页面
    touzhu () {
      this.$router.push('/gamesMain') 
      // this.mainShow = true;
      // document.body.style.overflow = "hidden";
    },

    //提示音
    // hint(staus) {
    //   if (staus != undefined) {
    //     this.bellStatus = !this.bellStatus;
    //   }
    //   this.bellStatus
    //     ? this.$refs.hintAudio.play()
    //     : this.$refs.hintAudio.pause();
    // },
    //滚动到底
    scrollToBottom () {
      setTimeout(() => {
        // this.hint();
        if (this.$refs.xwBody) {
          var currentDistance =
            this.$refs.xwBody.scrollHeight - this.$refs.xwBody.clientHeight;

          //当前滚动条距离顶部的距离
          var currentScroll_y = this.$refs.xwBody.scrollTop;
          if (currentDistance > 0 && currentDistance > currentScroll_y) {
            currentScroll_y =
              Math.ceil((currentDistance - currentScroll_y) / 10) +
              currentScroll_y;
            currentScroll_y =
              currentScroll_y > currentDistance
                ? currentDistance
                : currentScroll_y;
            this.$refs.xwBody.scrollTop = currentScroll_y;
            this.scrollToBottom();
          }
        }
      }, 13);
    }
  },
  mounted () {
    document.body.style.background = "#F2F2F2";
    // document.body.style.overflow = "hidden";
    // 聊天室弹框数据定时器
    window.liaotianTimer = setInterval(() => {
      this.liaotianMsg();
    }, 5000);
  },
  beforeDestroy () {
    document.body.style.background = "#fff";
    document.body.style.overflow = "scroll";
  },
  destroyed () {
    clearInterval(window.liaotianTimer);
    clearInterval(window.kaijiangTimer);
  },
  watch: {
    miao (n) {
      if (n == 60) {
        this.records.push({
          type: 2,
          play_type_name:
            "距【" +
            this.personalData.period +
            "】期" +
            "封盘时间还有" +
            this.times.result +
            ",请抓紧时间下注" +
            "</br>" +
            this.advertisement["seal_before"],
          add_time: new Date().toTimeString().slice(0, 5)
        });
        // this.liaotianMsg();
        // this.scrollToBottom();
      }
      if (n == 0) {
        if (window.kaijiangTimer) {
          clearInterval(window.kaijiangTimer);
        }
        this.records.push({
          type: 2,
          play_type_name:
            "第" +
            this.personalData.period +
            "期" +
            "已封盘，当前【" +
            (parseInt(this.personalData.period) + 1) +
            "】期可投注，下注结果以系统开奖为准，如有异议，请及时联系客服" +
            "</br>" +
            this.advertisement["seal"],
          add_time: new Date().toTimeString().slice(0, 5)
        });
        // this.liaotianMsg();
        // this.scrollToBottom();
        this.lotteryAwardRecordList(this.lottery_id);
        let getLotterytime = 60;
        window.getLotteryTimer = setInterval(() => {
          getLotterytime--;
          if (getLotterytime == 0) {
            // 获取开奖结果接口定时器
            window.kaijiangTimer = setInterval(() => {
              getLotteryAwardResult_api(this.periods_lotteryid).then(res => {
                if (res.data.award_num) {
                  this.LotteryNumber = res.data.award_num;
                  this.lotteryAwardRecordList(this.lottery_id);
                  this.records.push({
                    type: 2,
                    play_type_name:
                      "第【" +
                      this.personalData.period +
                      "】期" +
                      "<br>" +
                      "开奖号码为" +
                      "</br>" +
                      this.LotteryNumber +
                      this.advertisement["award"],
                    add_time: new Date().toTimeString().slice(0, 5)
                  });
                  // this.liaotianMsg();
                  clearInterval(window.kaijiangTimer);
                }
              });
            }, 1000);
            clearInterval(window.getLotteryTimer);
          }
        }, 1000);
      }
    },
    records (n) {
      if (n && this.userName) {
      }
    },
    userName (n) {
      console.log(this.advertisement["welcome"]);
      if (!this.one) {
        this.records.push({
          type: 2,
          play_type_name:
            "欢迎 " + n + " 进入房间" + "</br>" + this.advertisement["welcome"],
          add_time: new Date().toTimeString().slice(0, 5)
        });
        // if (this.miao > 60) {
        //   this.records.push({
        //     type: 2,
        //     play_type_name:
        //       "第【" +
        //       this.personalData.period +
        //       "】期" +
        //       "<br>" +
        //       "现在可以开始下注",
        //     add_time: new Date().toTimeString().slice(0,5)
        //   });
        // }
        this.one = 1;
      }
    }
  },
  components: {
    MyHeader,
    MyMain,
    PlayerMsg
  }
};
</script>
<style scoped>
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.xw-content {
  flex: 1;
  position: relative;
  overflow: auto;
  transition: height 0.8s;
  height: 65vh;
  -webkit-overflow-scrolling: touch;
}

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

::-webkit-scrollbar-track {
  border-radius: 0;
  padding: 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}

.xw-chat-servicer:after,
.xw-chat-servicer:before,
.xw-chat-customer:after,
.xw-chat-customer:before,
.xw-chat-wrap:after,
.xw-chat-wrap:before {
  display: table;
  content: "";
}

.xw-chat-wrap {
  overflow: auto;
  padding: 15px;
  padding-bottom: 1rem;
}

.xw-chat-wrap .xw-chat-time,
.xw-chat-wrap time {
  margin-right: 65px;
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 12px;
  color: #999;
}

.xw-chat-servicer,
.xw-chat-customer {
  position: relative;
  margin-bottom: 16px;
}

.xw-servicer-avantar-wrap {
  position: absolute;
  line-height: 0;
}

.xw-customer-avantar-wrap {
  position: absolute;
  bottom: 0;
  right: 8px;
  line-height: 2;
}

.xw-chat-servicer .xw-servicer-avantar-wrap,
.xw-customer-avantar-wrap {
  left: 0;
}

.xw-servicer-avantar {
  border-radius: 100%;
}

.xw-servicer-avantar-wrap img,
.xw-customer-avantar-wrap img {
  height: 44px;
  width: 44px;
}

.xw-chat-msg {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  hyphens: auto;
  word-wrap: break-word;
  word-break: normal;
  position: relative;
  clear: both;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  max-width: 70%;
}

.xw-chat-servicer .xw-chat-msg {
  background: #fff;
  border-color: #efefef;
  margin-left: 15px;
  border-radius: 4px;
  width: 3.7rem;
}

.xw-chat-msg :last-child {
  margin-bottom: 0;
}

.xw-chat-msg span {
  white-space: pre-line;
}
.xw-chat-servicer,
.xw-chat-customer {
  position: relative;
  margin-bottom: 16px;
}

.xw-chat-customer {
  text-align: right;
}

.xw-chat-customer .xw-chat-msg {
  text-align: left;
  background: #4a73c5;
  border-color: #4a73c5;
  color: #fff;
  float: right;
  /* margin-right: 65px; */
}
.xw-customer-avantar {
  border-radius: 50%;
}
.xw-chat-msg :last-child {
  margin-bottom: 0;
}

.xw-chat-wrap .xw-system-info-time,
.xw-chat-wrap time {
  line-height: 1;
  text-align: center;
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  color: #999;
  text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.6);
}

.xw-system-info span {
  display: inline-block;
  background: rgba(0, 0, 0, 0.08);
  padding: 4px 8px;
  line-height: 1;
  color: #7c7c7c;
  border-radius: 2px;
  text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.6);
}

.xw-chat-ul-box a {
  display: block;
  height: 40px;
  width: 40px;
}

.xw-chat-servicer:after,
.xw-chat-customer:after,
.xw-chat-wrap:after {
  clear: both;
}

.xw-chat-msg:last-child:before {
  bottom: -1px;
}

.xw-chat-customer .xw-chat-msg:last-child:before {
  display: inline-block;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #ed4858;
  right: -10px;
  border-left-width: 9px;
}

.xw-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
}

.xw-header-info p {
  height: 110px;
  padding: 0 16px;
  line-height: 1.6rem;
  word-wrap: break-word;
  text-align: left;
  overflow: auto;
}

.xw-chat-msg span img {
  vertical-align: middle;
}
.mint-swipe-items-wrap > div {
  text-align: center;
}
.header > div {
  font-size: 16px;
  padding: 0.2rem;
  height: 1.22rem;
  display: flex;
  line-height: 1.22rem;
  background: #fff;
}
.header > div > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.2rem;
}
.header > div {
  font-size: 14px;
  flex: 1;
  line-height: 0.5rem;
}
.header > div > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > div > div {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.header > div > p > span > small {
  margin-left: 10px;
}
.my_btn > button {
  width: 50px;
  height: 25px;
  background: #fff;
  font-size: 12px;
}
.blue {
  color: #3d71ff;
  border: 1px solid #3d71ff;
}
.red {
  color: #3d71ff;
  border: 1px solid #3d71ff;
}
.padded {
  padding: 3px 0;
  background: #fff8e9;
  color: #333;
}
.padded > span > span {
  color: #4a73c5;
}
.my_list {
  padding: 0 0.3rem;
  position: relative;
  background: #fff;
  height: 0.9rem;
  line-height: 0.9rem;
}
.my_list img {
  margin: 0 0.1rem;
  vertical-align: middle;
}

.my_list ul {
  width: 96%;

  position: absolute;
  background: #fff;
  padding: 0 0.3rem;
  left: 0;
  z-index: 1;
}
.my_list ul > li,
.period {
  height: 0.9rem;
  line-height: 0.9rem;
  border-bottom: 1px solid #dfdfdf;
}
.my_list ul > li:last-child {
  border-bottom: 0;
}
.period {
  border: 0;
}

.my_item {
  position: fixed;
  bottom: 0;
  width: 96%;
  background: #fff;
  z-index: 10;
  padding: 2%;
}
.my_item > span {
  display: inline-block;
  width: 12%;
  padding: 2%;
  text-align: center;
  border-right: 1px solid #e7e7e7;
}
.my_item > button {
  width: 30%;
  height: 30px;
  float: right;
}
.square {
  display: inline-block;
  width: 16px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0 0.03rem;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
.pullList {
  display: inline-flex;
}
.pullList > span {
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #fe3959;
  margin: 0 2px;
}
.pullList > small {
  height: 0.4rem;
  line-height: 0.4rem;
  width: 1.6rem;
  margin-left: 0.2rem;
}
.title_list {
  position: absolute;
  top: 48px;
  right: 2%;
  background: #fff;
  width: 25%;
  padding: 0.1rem;
  z-index: 14;
  border-radius: 5px;
  box-shadow: #ccc 3px 3px 4px;
  color: #333;
}
.title_list::after {
  display: block;
  content: "";
  border-width: 6px 6px 6px 6px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;

  /* 定位 */
  position: absolute;
  right: 3%;
  top: -11px;
}
.title_list > li {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  float: right;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.title_list > li::before {
  margin-right: 10px;
  color: #4a73c5;
}
.icon-shangjiantou,
.icon-xiajiantou {
  font-size: 14px;
  float: right;
}
.weikaijiang {
  margin-left: 0.15rem;
  color: #3d71ff;
}
.shenren {
  padding: 0 5px;
  background: #fe3959;
  border-radius: 5px;
  color: #fff;
}
</style>





