<template>
  <div class="share-bg">
    <p class="img-con">
      <mt-button size="large" @click="downloadImg">分享个人二维码</mt-button>
    </p>
    <i class="icon-con iconfont icon-fork" @click="goback"></i>
    <div class="share">
      <div class="share-con">
        <div>
          <div class="member">
            <div class="left">
              <p>邀请人数</p>
              <p class="member-text">{{members}}</p>
            </div>
            <div class="right">
              <p>我的收入(元)</p>
              <p class="member-yellow-text">{{water}}</p>
            </div>
          </div>
          <div class="qrcode-con">
            <div class="img-title">
              <img src="../../assets/share2.png" alt>
            </div>
            <span class="copy">{{url}}</span>
            <span class="copy-btn" @click="copyLink">复制</span>
            <div id="qrcode" style="opacity: 0"></div>
            <img src alt id="myQrCode">
          </div>
          <div class="notice">
            <p>1. 复制链接分享给朋友，朋友通过链接注册成为下级</p>
            <p>2. 分享专属二维码，朋友通过链接注册成为下级</p>
          </div>
          <div class="rule-con">
            <div class="img-title">
              <img src="../../assets/share1.png" alt>
            </div>
            <p class="yellow-p">佣金规则（二级返佣）：</p>
            <p class="small-height-p">公司奖励办法如下：</p>
            <p class="small-height-p2">佣金 = 下级团队的打码费 + 公司额外奖励佣金</p>
            <p class="yellow-p">结算比例：</p>
            <div class="table-con">
              <table border="0">
                <thead>
                <tr>
                  <th>代理等级</th>
                  <th>真人视讯</th>
                  <th>彩票类</th>
                  <th>电子游艺</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>直属下级</td>
                  <td>25%</td>
                  <td>60%</td>
                  <td>50%</td>
                </tr>
                <tr>
                  <td>下下级</td>
                  <td>12.5%</td>
                  <td>40%</td>
                  <td>25%</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="rule-con">
            <div class="img-title">
              <img src="../../assets/share3.png" alt>
            </div>
            <p>加入互联网+分享经济，奠定您的代理收入，分享即返佣，凡因您的分享加入再分享的，恭喜您又成功的培养发展了一个代理，即您的下级，有返佣（终生自动绑定关系），层层代理新模式，谁分享，谁受益，让您躺赚乐不停。</p>
            <p class="yellow-p" style="margin:0">1. 朋友圈推广</p>
            <p class="yellow-p" style="margin:0">2. 到各个群里发二维码（扫码自动绑定）</p>
            <p class="yellow-p" style="margin:0">3. 进微社区推广</p>
            <p class="yellow-p" style="margin:0">4. 进群里加人，用一键加人软件，然后分享自己 的专属二维码</p>
            <p class="yellow-p" style="margin:0">5. 群发给每个人，别人不玩，不代理没关系，可 以让朋友转发即可</p>
            <p class="yellow-p" style="margin:0">6. 建微信群，让下级代理们进群，一对一直到教 会，下级代理进群学会以上方法，可复制建设发 展自己下级</p>
            <p>注：简单的意思就是说，您分享，别人扫码进入玩一把，您赚一份钱，真正做到人人代理，谁分享，谁受益，且层层代理之间受益不冲突</p>
          </div>
          <div class="notice">
            <p>公司郑重承诺，平台系统自动识别，凡通过您的自动生成专属二维码进入的客户，公司将不遗余力的终身免费维护及二次开发，且永属您的线下，受益与您，详情请咨询在线客服</p>
          </div>
        </div>
      </div>
    </div>
    <img class="merge-img" src="../../assets/base/image.jpg" alt>
    <img class="merge-img2" src alt>
    <div class="img-pop" v-if="imgPop">
      <div class="close-btn" v-on:click="closePop">×</div>
      <div class="img-layer">
        <img class="create-img" alt>
      </div>
      <div class="tip" v-if="showShareBtn">
        <img src="../../assets/wx_share.png" alt>
        <img src="../../assets/friend_share.png" alt>
      </div>
      <div class="tip" v-else>长按上图保存分享专属二维码</div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import QRCode from "qrcodejs2";
  import {Toast, Button} from "mint-ui";
  import copy from "copy-to-clipboard";
  import {get_team_situation, home_api} from "@/common/api";
  import k from "kiana-js";
  import {baseUrl2} from "@/config/app.config";
  import ComposeCanvas from "canvas-compose-image";
  // import WxShare from '../../../utils/wxShare';

  export default {
    created() {
      this.initData();
    },
    data() {
      return {
        imgPop: false,
        url: "",
        members: "",
        water: "",
        isLogin: "false",
        showShareBtn: false
      };
    },
    mounted() {
      setTimeout(() => {
        let q_c;
        let q_img;
        let q_code;

        q_code = document.getElementById("myQrCode");
        q_c = document.getElementById("qrcode");

        if (q_c) {
          q_img = q_c.getElementsByTagName("img")[0];
        }

        if (q_code) {
          q_code.src = q_img && q_img.src;
        }

        if (!q_img) {
          this.qrcode();
        }
      }, 1000);

      setTimeout(() => {
        window.shareTimer = window.setInterval(() => {
          let q_c;
          let q_img;
          let q_code;

          q_c = document.getElementById("qrcode");
          q_code = document.getElementById("myQrCode");
          if (q_c) {
            q_img = q_c.getElementsByTagName("img")[0];
          }

          if (q_img) {
            if (q_code) {
              q_code.src = q_img && q_img.src;
            }
            window.clearInterval(window.shareTimer);
            window.shareTimer = null;
          } else {
            this.initData();
            this.qrcode();
          }
        }, 500);
      }, 1300);
    },
    methods: {
      initData() {
        this.isLogin = sessionStorage.getItem("isLogin");
        if (this.isLogin !== "false") {
          this.url = sessionStorage.getItem("invi");

          get_team_situation().then(res => {
            const {code, data} = res;
            if (res && code === 200) {
              this.members = data["members"];
              this.water = data["water"];
              if (this.url === "") {
                //如果返回的分享链接是空,设置一个默认的链接
                this.url = `${baseUrl2}/i-PYTHON`;
              }
            }
          });
        } else {
          //未登录也能够进入分享页面
          this.members = "0";
          this.water = "0";
          this.url = `${baseUrl2}/i-PYTHON`;
        }
      },
      getBrower() {
        k.isWx() ? (this.showShareBtn = true) : (this.showShareBtn = false)
      },
      copyLink() {
        copy(this.url);
        Toast("复制成功");
      },
      closePop() {
        this.imgPop = false;
      },
      goback() {
        // window.history.back()
        window.history.back();
      },
      qrcode(id) {
        let qrcode = new QRCode("qrcode", {
          width: 150,
          height: 150, // 高度
          text: this.url // 二维码内容
        });
      },
      goToAgent() {
        this.$router.push("/agencyCenter");
      },
      downloadImg() {
        let src1 = document.querySelector(".merge-img").src;
        let src2 = document.querySelector("#qrcode")
          .getElementsByTagName("img")[0].src;

        ComposeCanvas.compose(
          [740, 1366],
          [{
            src: src1,
            type: "image",
            status: "waiting",
            pos: [0, 0, 740, 1366]
          }, {
            src: src2,
            type: "image",
            status: "waiting",
            pos: [180, 380, 380, 380]
          }],
          (img) => {
            try {
              hbuilder_share_image(img.src);
            } catch (e) {
              this.imgPop = true;
              setTimeout(function () {
                document.getElementsByClassName("create-img")[0].src = img.src;
              }, 0);
            }
          }
        );

        function hbuilder_share_image(url) {
          hbuilder_download(url, function (filename) {
            plus.share.sendWithSystem(
              {pictures: [filename]},
              function () {
                Toast("分享成功");
              },
              function (e) {
                // Toast('分享失败：' + JSON.stringify(e));
              }
            );
          });
        }

        function hbuilder_download(url, callback) {
          if (/^data:image\/(.*?);/.test(url)) {
            let sub = url.replace(/^data:image\/(.*?);.*/, "$1");
            let name =
              Date.parse(new Date()) +
              "." +
              (sub == "png" || sub == "gif" || sub == "bmp" ? sub : "jpg");
            let bitmap = new plus.nativeObj.Bitmap(name);

            bitmap.loadBase64Data(url, function () {
            }, function () {
            });

            bitmap.save(
              "_downloads/" + name,
              {overwrite: true},
              function (event) {
                callback && callback(event.target);
              },
              function () {
                Toast("保存失败");
              }
            );
          } else {
            dtask = plus.downloader.createDownload(url, {}, function (d, status) {
              if (status == 200) {
                callback(d.filename);
              } else {
                Toast("Download failed: " + status);
              }
            });

            dtask.start();
          }
        }

        function hbuilder_save_gallery(url) {
          hbuilder_download(url, function (filename) {
            plus.gallery.save(filename, function () {
            }, function () {
            });
          });
        }
      }
    },
    destroyed() {
      window.clearInterval(window.shareTimer);
      window.shareTimer = null;
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .img-pop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(7, 9, 23, 0.9);
    z-index: 9999;

    .close-btn {
      float: right;
      width: 0.5rem;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      color: #fff;
      font-size: 0.7rem;
      margin-top: 0.1rem;
      margin-right: 0.15rem;
      border-radius: 90px;
    }

    .img-layer {
      position: fixed;
      top: 0.8rem;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
    }

    .create-img {
      height: 80%;
    }

    .tip {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 1.5rem;
      text-align: center;
      color: #f1f1f1;
      height: 0.5rem;
      line-height: 0.5rem;
      font-size: 0.27rem;

      img {
        padding: 0 0.5rem;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .member {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-top: 40.5vh;
    margin-bottom: 0.14rem;
    height: 1rem;
    border-radius: 10px;
    background: #5b29c2;
    padding: 0.2rem 0;

    .left {
      width: 49%;
      font-size: 0.23rem;
      line-height: 0.5rem;
      color: #fff;
      border-right: 1px solid #9969f8;
    }

    .right {
      width: 49%;
      font-size: 0.23rem;
      line-height: 0.5rem;
      color: #fff;
    }

    .member-text {
      font-size: 0.3rem;
    }

    .member-yellow-text {
      font-size: 0.3rem;
      color: #ffee28;
    }
  }

  .copy,
  .copy-btn {
    background: rgba(0, 0, 0, 0);
    padding: 0.2rem 0;
    display: inline-block;
    font-size: 0.25rem;

    color: #fff;
  }

  .copy-btn {
    color: rgba(255, 239, 113, 1);
  }

  .notice {
    width: 90%;
    float: left;
    margin-left: 5%;
    font-size: 0.25rem;
    text-align: left;
    color: #ae88fc;
    padding: 0.2rem 0;

    p {
      padding: 0.05rem 0;
      line-height: 0.34rem;
    }
  }

  .rule-con {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-bottom: 0.14rem;
    padding: 0.8rem 0 0.3rem 0;
    border-radius: 10px;
    background: #5b29c2;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
    position: relative;
    margin-top: 0.2rem;

    p {
      padding: 0.1rem 0.34rem;
    }

    .img-title {
      position: absolute;
      width: 2.6rem;
      top: -0.14rem;
      left: 50%;
      margin-left: -1.3rem;

      img {
        width: 100%;
      }
    }

    .yellow-p {
      margin-top: 0.3rem;
      margin-bottom: 0.2rem;
      color: rgba(255, 239, 113, 1);
    }

    .small-height-p,
    .small-height-p2 {
      line-height: 0.22rem;
    }

    .small-height-p2 {
      margin-bottom: 0.1rem;
    }

    .table-con {
      padding: 0.1rem 0.34rem;

      table {
        width: 100%;
        text-align: center;
        border-top: 1px solid #b1b1b1;
        border-left: 1px solid #b1b1b1;
        border-collapse: collapse;

        th {
          padding: 0.1rem;
          border-right: 1px solid #b1b1b1;
        }

        td {
          padding: 0.1rem;
          border-right: 1px solid #b1b1b1;
        }

        tr {
          border-bottom: 1px solid #b1b1b1;
        }
      }

      thead {
        border: none;
        background: #7e47ef;
        height: 25px;

        tr {
          height: 25px;
        }

        th {
          font-weight: normal;
          height: 25px;
        }
      }
    }
  }

  .qrcode-con {
    width: 90%;
    height: 4.8rem;
    float: left;
    margin-bottom: 0.14rem;
    padding: 0.3rem 0 0.3rem 0;
    border-radius: 10px;
    background: #5b29c2;
    left: 50%;
    margin-left: -45%;
    position: relative;
    margin-top: 0.2rem;

    .img-title {
      position: absolute;
      width: 2.6rem;
      top: -0.32rem;
      left: 50%;
      margin-left: -1.3rem;

      img {
        width: 100%;
      }
    }
  }

  #qrcode {
    position: absolute;
    top: 1.8rem;
    left: 50%;
    width: 150px;
    margin-left: -75px;
  }

  #myQrCode {
    position: absolute;
    top: 1.8rem;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-left: -75px;
    background: rgba(255, 255, 255, 0.1);
  }

  .share-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #42039b;
    padding-bottom: 1.4rem;

    .share {
      width: 100%;
      height: 100%;
      padding-bottom: 51px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }

    .share-con {
      width: 100%;
      height: 100%;
      background: url(/static/share.png) no-repeat;
      background-size: 100%;
      text-align: center;
    }

    .share > div > p {
      font-size: 14px;
      color: #3f2c06;
    }
  }

  .img-con {
    background: #4b15b9;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    button {
      width: 80%;
      margin: 0.2rem 0 0.2rem 10%;
    }
  }

  .img-con img {
    margin-top: 0.1rem;
    height: 1.1rem;
  }

  .icon-con {
    position: fixed;
    z-index: 1000;
    right: 10px;
    top: 10px;
    color: #fff;
  }

  p.btn-con {
    margin-top: 20px;
  }

  p.btn-con > span {
    color: #948ce1;
    padding: 2px 20px;
  }

  p.btn-con > span:nth-child(odd) {
    border-right: 1px solid #948ce1;
  }

  .merge-img {
    display: none;
  }
</style>
