<template>
  <div class="page">
    <div class="mask" v-show="popUp" @click="clearPop"></div>
    <div class="maskdiv" v-show="popUp" v-if="userMsg.order_info">
      <img :src="userMsg.user_info.head_img" alt="" class="userImg" width="40">
      <img src="../../../../static/touzhu/dushen.png" alt="" class="dushen" style="float:right" width="50"
           v-if="userMsg.user_info.probably>=50">
      <div>
        <h3>{{userMsg.user_info.username}}</h3>
        <p>
          <small>中奖概率:</small>
          <span style="color:#ef3959;font-size:20px;margin:0 .2rem;">{{userMsg.user_info.probably}}%</span>
          <small>(过去10次)</small>
        </p>
      </div>
      <p>期数：
        <span>{{userMsg.order_info.period}}期</span></p>
      <p>玩法：
        <span>{{userMsg.order_info.play_type_name}}</span>
      </p>
      <p>投注：
        <span>{{userMsg.order_info.play_name}}</span>
      </p>
      <p style="margin-bottom:.3rem">金额：
        <span>{{userMsg.order_info.money}}元</span></p>
      <mt-button type="danger" @click="lotteryBetting">跟投</mt-button>

    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import {lotteryBetting_api} from "@/common/api";
  import {Toast} from "mint-ui";
  import {successAudio, failureAudio} from '../../../bettingAudio';

  export default {
    props: {userMsg: Object},
    data() {
      return {
        popUp: false // 弹框显示隐藏
      };
    },
    methods: {
      clearPop() {
        this.popUp = false;
      },
      lotteryBetting() {
        let order = this.userMsg.order_info;
        let money = order.money / order.play_name.split(",").length;
        let data = {
          lottery_id: order.lottery_id,
          period: order.period,
          money: money,
          play_id: order.play_ids
        };
        lotteryBetting_api(data).then(res => {
          if (res.code == 200) {
            successAudio();
            this.$emit("closeMain", false);
            Toast(res.msg);
            this.popUp = false;
          } else {
            failureAudio();
            Toast(res.msg);
          }
        });
      }
    },
    components: {},
    watch: {
      userMsg(n) {
        console.log(n)
        n ? (this.popUp = true) : (this.popUp = false);
      }
    }
  };
</script>

<style scoped>
  .maskdiv {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 10;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .userImg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .dushen {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .maskdiv > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .maskdiv h3 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 13px;
    color: #333;
  }

  .maskdiv > p {
    font-size: 12px;
    margin-bottom: 5px;
    color: #666;
  }

  .maskdiv > p > span {
    float: right;
    color: #333;
  }

  .maskdiv > div > p {
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: .5rem;
    line-height: .5rem;
    margin: .3rem 0;
  }

  .maskdiv > div > p small {
    font-size: 12px;
    color: #999;
  }

  .maskdiv > button {
    width: 100%;
    height: 0.8rem;
    background: #fe3959;
    font-size: 15px;
  }

</style>
