<template>
  <div :class="headerClass">

    <div class="lay-header-left">
      <slot name="left"></slot>
    </div>

    <h1 class="lay-header-title"
        :class="{
        'title-left': titleAlign === 'left',
        'title-right': titleAlign === 'right'
      }"
    >
      <slot name="title"></slot>
    </h1>

    <div class="lay-header-right">
      <slot name="right"></slot>
    </div>

  </div>
</template>
<script>

  export default {
    props: {
      border: {
        type: Boolean,//true or false
        default: false
      },
      title: String,
      titleAlign: {
        type: String,
        validator: function (position) {
          return position === 'left' || position === 'right' || position === 'center'
        },
        default: 'center'
      },
      theme: {
        type: String, // 'light','stable','positive','calm','balanced','energized','assertive','dark'
        default: 'light'
      },
      position: {
        type: String,
        default: 'absolute' //fixed or absolute
      },
      shadow: {
        type: Boolean, // true or false
        default: false
      }
    },
    computed: {
      headerClass: function () {
        let obj = {
          'lay-header': true,
        };

        if (this.position) {
          obj[`pos-${this.position}`] = true;
        }

        if (this.theme) {
          obj[`lay-header-${this.theme}`] = true;
        }

        if (this.shadow) {
          obj[`lay-header-shadow`] = true;
        }

        if (this.border) {
          obj[`lay-header-border`] = true;
        }

        return obj;
      }
    },
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../variables.less";

  @height: 50px;

  .lay-header {
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
    user-select: none;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9;
    box-sizing: border-box;
    padding: 6px;
    width: 100%;
    height: @height;
    border-width: 0;
    border-style: solid;
    border-top: 1px solid transparent;
    background-color: #fff;
    background-size: 0;

    .lay-header-title {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 0;
      overflow: hidden;
      margin: 0 10px;
      min-width: 30px;
      height: @height - 1px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 17px;
      font-weight: 500;
      line-height: @height;
    }


    .lay-header-right {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      z-index: 1;
      font-size: 17px;

    }

    .lay-header-left {
      position: absolute;
      top: 5px;
      left: 5px;
      bottom: 5px;
      z-index: 1;
      font-size: 17px;

      .lay-arrow-middle {
        margin-top: (36px - 24px) / 2;
      }

      .lay-arrow-small {
        margin-top: (36px - 16px) / 2;
      }
    }
  }

  .pos-absolute {
    position: absolute;
  }

  .pos-fixed {
    position: fixed;
  }

  .lay-header-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  .lay-header-border {
    border-bottom: 1px solid #ddd;
  }


  .theme(@active-color) {
    border-color: #ddd;
    background-color: @active-color;
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
    color: #444
  }

  .lay-header-light {
    .theme(@light);
  }

</style>
