<template>
  <nav class="tab-bar">
    <div class="tab-item gou-cai" @click="clickItem(item)"
         v-for="(item,index) in bgs" :key="index">
      <i class="iconfont"
         :style="active===item.path?item.active:item.default"></i>
      <span class="tab-label" :class="active===item.path?'active':''">{{item.txt}}</span>
    </div>
  </nav>
</template>

<script type="text/ecmascript-6">
  export default {
    created() {
      this.active = this.$route.path
    },
    data() {
      return {
        bgs: {
          'shouye': {
            default: {
              backgroundImage: "url(" + require('../../../assets/haocai/shouye.png') + ")",
              backgroundRepeat: "no-repeat",
              backgroundSize: "cover"
            },
            active: {
              backgroundImage: "url(" + require('../../../assets/haocai/shouye1.png') + ")",
              backgroundRepeat: "no-repeat",
              backgroundSize: "cover"
            },
            txt: '首页',
            path: '/center',

          },
          'forum': {
            default: {
              backgroundImage: "url(" + require('../../../assets/haocai/kaijiang.png') + ")",
              backgroundRepeat: "no-repeat",
              backgroundSize: "cover",
              width: '24px'
            },
            active: {
              backgroundImage: "url(" + require('../../../assets/haocai/kaijiang1.png') + ")",
              backgroundRepeat: "no-repeat",
              backgroundSize: "cover",
              width: '24px'
            },
            txt: '论坛',
            path: '/forum',
          },
          'welfare': {
            default: {
              backgroundImage: "url(" + require('../../../assets/haocai/kaijiang.png') + ")",
              backgroundRepeat: "no-repeat",
              backgroundSize: "cover",
              width: '24px'
            },
            active: {
              backgroundImage: "url(" + require('../../../assets/haocai/kaijiang1.png') + ")",
              backgroundRepeat: "no-repeat",
              backgroundSize: "cover",
              width: '24px'
            },
            txt: '福利',
            path: '/welfare',
          },
          'award': {
            default: {
              backgroundImage: "url(" + require('../../../assets/haocai/huodong.png') + ")",
              backgroundRepeat: "no-repeat",
              backgroundSize: "cover"
            },
            active: {
              backgroundImage: "url(" + require('../../../assets/haocai/huodong1.png') + ")",
              backgroundRepeat: "no-repeat",
              backgroundSize: "cover"
            },
            txt: '开奖',
            path: '/award',
          },
          'wode': {
            default: {
              backgroundImage: "url(" + require('../../../assets/haocai/wode.png') + ")",
              backgroundRepeat: "no-repeat",
              backgroundSize: "cover"
            },
            active: {
              backgroundImage: "url(" + require('../../../assets/haocai/wode1.png') + ")",
              backgroundRepeat: "no-repeat",
              backgroundSize: "cover"
            },
            txt: '我的',
            path: '/personal',
          }
        },
        active: '/center'
      }
    },
    methods: {
      clickItem(i) {
        this.active = i.path;
        this.$router.push(i.path)
      }
    },
    watch: {
      $route(to, from) {
        this.active = to.path
      }
    }
  }
</script>

<style scoped>

  .tab-bar {

  }

  .gou-cai > i {
    width: 20px;
    height: 21px;
    background-size: cover;
    font-size: 40px;
    top: -15px;
  }

  .gou-cai > span {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 4px;
  }

  .active {
    color: #6C2DFE;
  }
</style>
