<template>
  <div class="footer">
    <span class="first-floor">
      关于博天堂 | 博天堂担保 | 在线反馈
    </span>
    <span class="second-floor">
      Copyright 2019 © Bc.bet
          </span>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {}
</script>

<style scoped lang="less" rel="stylesheet/less">

  .footer {
    height: 70px;
    text-align: center;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;

    .first-floor {
      margin-top: 10px;
      display: inline-block;
      width: 100%;
      height: 17px;
      color: rgba(153, 153, 153, 1);
    }

    .second-floor {
      display: inline-block;
      width: 100%;
      height: 17px;
      color: rgba(153, 153, 153, 1);
    }
  }

</style>
