<template>
  <header class="header">
    <img class="logo-img" src="@/assets/haocai/logo.png" alt="">
    <input class="mint-field-core"
           type="text"
           v-model="search"
           placeholder="请输入要搜索的内容">
    <div class="right-header right">
      <i class="iconfont icon_header right" @click="showEvent"></i>
      <i class="iconfont icon-kefu right"></i>
    </div>

    <my-publish-pop v-on:close-event="closeEvent" v-bind:showPublish="showPublish"
                    v-bind:showPublishCon="showPublishCon"></my-publish-pop>
  </header>
</template>

<script type="text/ecmascript-6">

  import MyPublishPop from '@/components/homes/layout/publish.vue';

  export default {
    components: {
      MyPublishPop
    },
    data() {
      return {
        search: '',
        showPublish: false,
        showPublishCon: false,
      }
    },
    methods: {
      showEvent() {
        this.showPublish = true;
        setTimeout(() => {
          this.showPublishCon = true;
        }, 300)
      },
      closeEvent() {
        this.showPublishCon = false;

        setTimeout(() => {
          this.showPublish = false;
        }, 300)
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  .header {
    color: #333;
    font-size: 15px;
    align-self: center;
    padding: 0.2rem 15px;
    line-height: 1;
    display: flex;
    height: 30px;

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    .logo-img {
      width: 80px;
      height: 30px;
      flex: 0 0 80px;
    }

    .mint-field-core {
      flex: 1;
      margin: 0 10px;
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      background: rgba(245, 245, 245, 1);
      border-radius: 15px;
    }

    .right-header {
      width: 80px;
      flex: 0 0 80px;
    }
  }


  .icon_header {
    background: url("../../../assets/haocai/cebianlan.png") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin: .05rem 0 0 .1rem;
  }

  .icon-kefu {
    font-size: 24px;
  }


</style>
