<template>
  <div class="swiper-con">
    <swiper :options="swiperOption">
      <swiper-slide v-for="(item,index) in slide_menu" :key="index">
        <div class="swiper-inner">
          <img :click="goLink(item)" class="swiper-img" :src="item&&item['img_url']" :alt="item&&item['displayorder']">
        </div>
      </swiper-slide>
      <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
  </div>

</template>

<script type="text/ecmascript-6">
  import {mapGetters} from "vuex";

  export default {
    data() {
      return {
        swiperOption: {
          pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true
          }
        },
      };
    },
    computed: {
      ...mapGetters([
        'slide_menu'
      ])
    },
    methods: {
      goLink(item) {
        // window.location = item.url;
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  .swiper-con {
    margin-top: 15px;
    padding: 0 15px;
    border-radius: 4px;
    overflow: hidden;

    .swiper-container {
      height: 170px;
    }

    .swiper-pagination {
      top: 145px;
    }

    .swiper-inner {
      height: 140px;
      background: red;
    }

    .swiper-img {
      display: inline-block;
      height: 140px;
    }
  }

</style>
