<template>
  <div class="swipe-con">
    <div class="header-bar">
      <div class="left-header-bar">
        <div class="lay-tab">
          <div class="lay-tab-bar" :class="{'tab-active':active==='铂金认证'}" @click="changeActive('铂金认证')">
            铂金认证
          </div>
          <div class="lay-tab-bar" :class="{'tab-active':active==='金牌认证'}" @click="changeActive('金牌认证')">
            金牌认证
          </div>
          <div class="lay-tab-bar" :class="{'tab-active':active==='银牌认证'}" @click="changeActive('银牌认证')">
            银牌认证
          </div>
          <div class="lay-tab-bar" :class="{'tab-active':active==='铜牌认证'}" @click="changeActive('铜牌认证')">
            铜牌认证
          </div>
          <!--<div class="lay-tab-bar">-->
          <!--入驻合作-->
          <!--</div>-->
        </div>
      </div>
    </div>


    <div class="tab-container" v-if="active==='铂金认证'">
      <div v-for="(item,index) in auth_menu1" :key="index" class="outer-item">
        <div class="inner-item" @click="goLink(item.url)">
          <img :src="item['img_url']" alt="">
          <span class="item1">
              {{item['title']}}
            </span>
          <span class="item2">
             {{item['money']}}
            </span>
          <span class="item3">

            </span>
        </div>
      </div>

    </div>


    <div class="tab-container" v-if="active==='金牌认证'">
      <div v-for="(item,index) in auth_menu2" :key="index" class="outer-item">
        <div class="inner-item" @click="goLink(item.url)">
          <img :src="item['img_url']" alt="">
          <span class="item1">
              {{item['title']}}
            </span>
          <span class="item2">
             {{item['money']}}
            </span>
          <span class="item3">

            </span>
        </div>
      </div>

    </div>


    <div class="tab-container" v-if="active==='银牌认证'">
      <div v-for="(item,index) in auth_menu3" :key="index" class="outer-item">
        <div class="inner-item" @click="goLink(item.url)">
          <img :src="item['img_url']" alt="">
          <span class="item1">
              {{item['title']}}
            </span>
          <span class="item2">
             {{item['money']}}
            </span>
          <span class="item3">

            </span>
        </div>
      </div>

    </div>


    <div class="tab-container" v-if="active==='铜牌认证'">
      <div v-for="(item,index) in auth_menu4" :key="index" class="outer-item">
        <div class="inner-item" @click="goLink(item.url)">
          <img :src="item['img_url']" alt="">
          <span class="item1">
              {{item['title']}}
            </span>
          <span class="item2">
             {{item['money']}}
            </span>
          <span class="item3">

            </span>
        </div>
      </div>

    </div>

  </div>
</template>

<script type="text/ecmascript-6">
  import {mapGetters} from "vuex";

  export default {
    computed: {
      ...mapGetters([
        'auth_menu1',
        'auth_menu2',
        'auth_menu3',
        'auth_menu4',
      ])
    },
    data() {
      return {
        search: '',
        active: '铂金认证'
      }
    },
    methods: {
      changeActive(f) {
        this.active = f;
      },
      goLink(link) {
        window.location = link;
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  .lay-tab {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    border-bottom: 1px solid #E5E5E5;

    .lay-tab-bar {
      float: left;
      text-align: center;
      width: 51px;
      height: 39px;
      font-size: 12px;
      color: rgba(51, 51, 51, 1);
      line-height: 39px;
      margin-right: 15px;
    }

    .tab-active {
      color: #3D71FF;
      border-bottom: 2px solid #3D71FF;
    }
  }

  .tab-container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .outer-item {
      flex: 0 1 1;
    }

    .inner-item {
      width: 114px;
      height: 58px;
      background: rgba(255, 255, 255, 1);
      border-radius: 8px;
      position: relative;

      > img {
        position: absolute;
        left: 6px;
        top: 6px;
        width: 44px;
        height: 44px;
        background: rgba(216, 216, 216, 1);
        border-radius: 8px;
      }

      .item1 {
        position: absolute;
        left: 56px;
        top: 6px;
        width: 52px;
        height: 18px;
        font-size: 13px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 18px;
      }

      .item2 {
        position: absolute;
        left: 56px;
        top: 26px;
        width: 48px;
        height: 14px;
        font-size: 10px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 14px;
      }

      .item3 {
        position: absolute;
        left: 56px;
        top: 36px;
        width: 48px;
        height: 14px;
        font-size: 10px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 14px;
      }
    }
  }


</style>
