<!-- 展示模板 -->
<template>
  <div class="agent-info-page">
    <div class="agent-info">
      <div class="agent-info-header">
        <div class="btn">
          <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
        </div>
        <div class="title">代理中心</div>
      </div>

      <div class="agent-info-avatar">
        <div class="agent-info-balance" style="font-size: 0.25rem">
          <img class="avatar" :src="centerData.avatar" alt>
          <div>{{centerData.username}}</div>
          <div>余额：<span>{{centerData.balance}}</span></div>
        </div>

        <div class="agent-info-trade btns">
          <span @click="$router.push('/recharge')">充值</span>
          <span @click="unbound('unBound')">提现</span>
        </div>
      </div>

      <div class="agent-info-money">
        <div>
          <p>下级总人数</p>
          <p>{{centerData.team_members}}</p>
        </div>
        <div>
          <p>累计日工资</p>
          <p>{{centerData.water_total}}</p>
        </div>
        <div>
          <p>
            预计今日工资
            <i class="iconfont icon-question" @click="pop=true"></i>
          </p>
          <p>{{centerData.water_predict}}</p>
        </div>
      </div>
      <div class="pop" v-if="openValid()">
        您充值的金额< {{centerData.valid_recharge}}
        ,无法领取返水
        <router-link to="/recharge">
          <span class="yellow-span">立即充值</span>
        </router-link>
      </div>
    </div>
    <!-- selectTime  选择的时间 -->
    <div class="agent-select">
      <span class="total">团队概况</span>
      <span style="float:right;margin-right:.4rem;color:#666">
        <a
          @click="showSliderEvent(v)"
          :class="time==v.value?'active':''"
          v-for="(v,i) in tradeData"
          style="font-size: .28rem;margin-right:5px;"
        >
          {{v.name}}
        </a>
      </span>
      <!-- <router-link to="/teamReport">
        <span class="record">团队记录</span>
      </router-link>-->
    </div>
    <div class="agent-list">
      <ul>
        <li v-for="(item ,index) in agencyList" @click="paths(item.path)" :key="index">
          <div>
            <img :src="item.icon" alt>
            <span class="title">{{item.title}}</span>
          </div>
          <span class="value">
            {{item.value}}
            <span v-if="index<2">人</span>
            <span v-if="index>=2">元</span>
          </span>
        </li>
      </ul>
    </div>
    <!-- <TimeSlider v-show="showSlider"
                @bankcard="bankcard">
    </TimeSlider>-->
    <fanshui-pop v-if="pop" :waterPopData="waterPopData" @closePop="closePop"></fanshui-pop>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header2";
  import FanshuiPop from "@/bass/fanshuipop";
  import TimeSlider from "@/bass/timeSlider";
  import {fmoney} from "@/common/config";
  import {mapGetters, mapMutations} from "vuex";
  import {
    get_agent_team_home, // 首页接口
    get_agent_water_ratio, // 我的返水比例
    game_balance_api,
    game_transfer_api,
    get_team_situation,
    home_api,
    get_statistics_rank,
    get_statistics
  } from "@/common/api";
  import {Toast, MessageBox} from "mint-ui";
  import {open_valid_user} from "@/config/app.config";

  export default {
    components: {
      MyHeader,
      TimeSlider,
      FanshuiPop
    },
    computed: {
      init() {
        return this.initData ? this.initData : "";
      },
      ...mapGetters(["initData"])
    },
    created: function () {
      this.initRank();
      this.initHomeData();
      this.home(); // 首页接口
    },
    data() {
      return {
        centerData: {}, // 首页数据
        waterPopData: {}, //我的返水弹框数据
        pop: false,
        agencyList: [
          {
            icon: require(`../../assets/agency_icon01.png`),
            value: "",
            title: "新增下级",
            path: {url: "memberManage"}
          },
          {
            icon: require(`../../assets/agency_icon06.png`),
            value: "",
            title: "活跃人数",
            path: {url: "memberManage"}
          },
          {
            icon: require(`../../assets/agency_icon03.png`),
            value: "",
            title: "返点总额",
            path: {url: "myWater"}
          },
          // {
          //   icon: require(`../../assets/agency_icon04.png`),
          //   value: "",
          //   title: "总打码量",
          //   path: {url: "TeamReport", type: "下级投注"}
          // },
          {
            icon: require(`../../assets/agency_icon04.png`),
            value: "",
            title: "团队流水",
            path: {url: "TeamReport", type: "下级投注"}
          },
          // {
          //   icon: require(`../../assets/agency_icon05.png`),
          //   value: "",
          //   title: "充值金额",
          //   path: {url: "TeamReport", type: "下级充值"}
          // },
          {
            icon: require(`../../assets/agency_icon05.png`),
            value: "",
            title: "团队日工资",
            path: {url: "TeamReport", type: "下级充值"}
          },
          // {
          //   icon: require(`../../assets/agency_icon07.png`),
          //   value: "",
          //   title: "提现总额",
          //   path: {url: "TeamReport", type: "下级提现"}
          // },
          {
            icon: require(`../../assets/agency_icon07.png`),
            value: "",
            title: "团队分红",
            path: {url: "TeamReport", type: "下级提现"}
          },
        ],
        tradeData: [
          {name: "今日", value: "today"},
          {name: "昨日", value: "yesterday"},
          {name: "近7天", value: "week"},
          {name: "近30天", value: "month"},
          {name: "全部", value: "all"}
        ],
        amount: "100",
        tgp: "0.00",
        balance: "0.00",
        username: "",
        type: "",
        avatar: "",
        today: "0",
        total: "0",
        selectTime: "近30日",
        stime: undefined,
        etime: undefined,
        user_recharge: "",
        validuser: "",
        validuser_recharge: "",
        where: {
          etime: "",
          stime: ""
        },
        time: "month" // 默认显示今天
      };
    },
    methods: {
      openValid() {
        if (open_valid_user === "open") {
          return true;
        } else {
          return false;
        }
      },
      ...mapMutations({
        init_data: "INIT_DATA"
      }),
      closePop(msg) {
        this.pop = msg;
      },
      paths(data) {
        this.$router.push({
          name: data.url,
          params: {
            msg: data.type || ""
          }
        });
      },

      //  代理中心接口
      home() {
        get_agent_team_home({time: this.time}).then(res => {
          if (res.code == 200) {
            [
              "register",
              "online",
              "water",
              "betting",
              "recharge",
              "withdraw"
            ].forEach((item, index) => {
              this.agencyList[index]["value"] = res.data[item];
            });
            this.centerData = res.data;
          } else {
            Toast(res.msg);
          }
        });
      },
      initRank() {
        get_statistics_rank().then(res => {
          const {code, data} = res;
          if (res && code === 200) {
            this.today = res.data.water.today;
            this.total = res.data.water.total;
            this.validuser_recharge = res.data.water.validuser_recharge;
            this.validuser = res.data.water.validuser;
          }
        });
      },
      showSliderEvent(arg) {
        this.time = arg.value;
        this.home();
      },
      backto() {
        this.$router.push("personal");
      },
      initHomeData() {
        home_api().then(res => {
          this.isLogin = sessionStorage.getItem("isLogin");
          if (this.isLogin === "false") {
            MessageBox.confirm("您还未登录", "提示", {closeOnClickModal: false})
              .then(action => {
                this.$router.push("login");
              })
              .catch(res => {
                this.$router.push("center");
              });
            return;
          } else if (res.code === 200) {
            this.init_data(res.data);
            this.balance = fmoney(res.data.balance);
            this.isShow = res.data.bankcard;
            this.isloginPwd = res.data.password; // 是否设置登录密码
            this.setPwd = res.data.fundpwd;
            this.avatar = res.data.avatar;
            this.username = res.data.username;
            res.data.mobile.length > 0
              ? (this.mobile = res.data.mobile)
              : (this.mobile = false);

            sessionStorage.setItem("mask", res.data.mask); // 打码量
            sessionStorage.setItem("mobile", this.mobile); // 是否绑定手机号
            sessionStorage.setItem("setPwd", this.setPwd); // 是否设置资金密码
            sessionStorage.setItem("isShow", this.isShow); // 是否绑定银行卡
            sessionStorage.setItem("pwd", this.isloginPwd); // 是否设置登录密码
          } else {
            Toast(res.msg);
          }
        });
      },
      unbound(route) {
        if (route == "unBound") {
          if (this.init.trier == "false") {
            MessageBox.confirm("您还未登录")
              .then(action => {
                this.$router.push("login");
              })
              .catch(res => {
              });
          } else if (this.init.trier == "yes") {
            MessageBox.confirm("正式会员才可以使用该功能", "提示", {
              confirmButtonText: "成为会员"
            })
              .then(action => {
                this.$router.push("reg");
              })
              .catch(res => {
              });
          } else {
            if (this.init.fundpwd) {
              // 设置过资金密码
              if (this.init.mask == 0) {
                this.$router.push(route);
              } else {
                MessageBox.confirm(
                  "您还有" +
                  this.init.mask +
                  "打码量未完成,请完成后再进行提现</br><small style='color:red'>(注: 视讯及电子游戏打码量延时10分钟结算)</small>",
                  "提示",
                  {
                    closeOnClickModal: false,
                    showCancelButton: true,
                    cancelButtonText: "打码量详情"
                  }
                )
                  .then(action => {
                  })
                  .catch(res => {
                    this.$router.push("maskDetail");
                  });
              }
            } else if (!this.init.fundpwd) {
              // document.body.style.overflow = "hidden";
              MessageBox.confirm("您还未设置资金密码哟！", "提示", {
                closeOnClickModal: false
              })
                .then(action => {
                  this.$router.push("setPwd");
                })
                .catch(res => {
                  // this.$router.push("center");
                });
              // this.popMsg = true;
              this.noCard = true;
            }
          }
        } else if (route == "recharge") {
          this.isShiWan(route);
        } else if (route == "share") {
          this.isShiWan(route);
        } else {
          this.$router.push(route);
        }
      }
    }
  };
</script>

<!-- 样式代码 -->
<style scoped lang="less">
  .icon-question {
    font-size: 12px;
    color: #fff;
  }

  .active {
    color: #691ffe;
  }

  #agencyCenter {
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    overflow: auto;

    .tab-bar {
      background: #ffffff;
      border-top: 1px solid #eeeeee;
    }

    .tab-label {
      color: rgba(153, 153, 153, 1);
    }

    .agent-info {
      width: 100%;
      height: 4.8rem;
      background: linear-gradient(
        to bottom right,
        #6c2dfe,
        #b65cfa
      ); /* 标准的语法 */
      position: relative;

      .pop {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.5rem;
        line-height: 0.5rem;
        padding: 0 0.3rem;
        font-size: 0.22rem;
        background: rgba(255, 255, 255, 0.1);
        color: #fafafa;
      }

      .yellow-span {
        margin-left: 10px;
        color: #e5ca82;
      }
    }

    .agent-info-header {
      width: 100%;
      height: 1rem;
      position: relative;

      .mint-button {
        position: absolute;
        left: 0;
        top: 0;
        height: 1rem;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: inline-block;
        color: #fff;
      }

      .mint-button:not(.is-disabled):active::after {
        background: rgba(0, 0, 0, 0);
      }

      .mintui-back {
        font-size: 0.5rem;
        font-weight: bold;
        line-height: 1rem;
      }

      .btn {
        display: inline-block;
      }

      .title {
        position: absolute;
        left: 50%;
        top: 0;
        display: inline-block;
        text-align: center;
        color: #fff;
        font-size: 0.38rem;
        line-height: 1rem;
        width: 3rem;
        margin-left: -1.5rem;
      }
    }

    .avatar{
      width: 1rem;
      height: 1rem;
      float: left;
      border-radius: 0.5rem;
      margin: 0.2rem;
    }

    .agent-info-avatar {
      height: 1.5rem;
      font-size: 0.28rem;
      padding: 0 0.3rem;
      color: #fff;

      .btns {
        float: right;
        width: 2rem;
        height: 100%;
        span{
          float: right;
          margin-bottom: 0.2rem;
        }
      }
    }

    .agent-info-balance {
      width: 4.8rem;
      height: 100%;
      float: left;
      div{
        width: 68%;
        float: left;
        height: 0.6rem;
        line-height: 0.7rem;
        font-size: 16px;
      }
    }

    .agent-info-trade {
      > span {
        padding: 4px 0.45rem;
        border-radius: 3px;
      }

      > span:nth-child(1) {
        background: #f7a623;
      }

      > span:nth-child(2) {
        border: 1px solid #fff;
      }
    }

    .agent-info-money {
      position: absolute;
      top: 3rem;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: space-around;

      > div {
        display: flex;
        flex-direction: column;

        p:nth-child(1) {
          font-size: 0.25rem;
          color: rgba(216, 216, 216, 1);
          margin-bottom: 0.1rem;
        }

        p:nth-child(2) {
          font-size: 0.5rem;
          color: #fff;
          font-family: "DINPro";
        }
      }
    }

    .agent-list {
      ul {
        padding: 0.4rem;
      }

      li {
        height: 0.9rem;
        margin-bottom: 0.2rem;
        background-color: #f2f2f2;
        border-radius: 10px;

        img {
          display: inline-block;
          float: left;
          height: 0.4rem;
          margin-top: 0.25rem;
          margin-left: 0.3rem;
        }

        .value {
          display: inline-block;
          float: right;
          color: rgba(51, 51, 51, 1);
          margin-top: 0.25rem;
          font-size: 0.38rem;
          margin-right: 0.4rem;
          font-weight: bold;
        }

        .title {
          display: inline-block;
          float: left;
          color: rgba(102, 102, 102, 1);
          margin-top: 0.25rem;
          font-size: 0.28rem;
          margin-right: 0.4rem;
          margin-left: 0.25rem;
        }
      }
    }

    .agent-select {
      height: 0.8rem;
      line-height: 0.8rem;

      .record {
        float: right;
        font-size: 0.28rem;
        margin-left: 0.3rem;
        color: rgba(105, 31, 254, 1);
        margin-top: 0.2rem;
        margin-right: 0.3rem;
      }

      .total {
        font-size: 0.32rem;
        margin-left: 0.5rem;
        color: rgba(51, 51, 51, 1);
        font-weight: bold;
      }
    }

    .top-item {
      flex: 0 0 25%;

      a {
        width: 100%;
        height: 1rem;
        padding: 0.3rem 0;
      }

      img {
        display: inline-block;
        text-align: center;
        height: 0.9rem;
      }

      span {
        display: inline-block;
        font-size: 0.2rem;
      }
    }

    .agency-bottom {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      .bottom-item {
        flex: 0 0 45%;
        margin: 1.5% 2.5%;
        width: 3.32rem;
        height: 1.74rem;
        background-color: #fff;
        border-radius: 0.16rem;
        display: flex;
        flex-direction: column;
      }

      img {
        display: inline-block;
        text-align: center;
        margin-top: 20%;
        margin-left: 20%;
        height: 0.34rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
      }

      .icon {
        align-self: flex-start;
        width: 0.96rem;
        height: 0.94rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 0.44rem;
      }

      .number {
        align-self: flex-end;
        height: 0.66rem;
        font-size: 0.48rem;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 0.66rem;
        margin-right: 0.1rem;
      }
    }
  }
</style>
