<template>
  <div class="chat">
    <mt-header class="my-header2"
               title="上下级聊天">
      <mt-button slot="left"
                 icon="back"
                 @click.native="backTo"></mt-button>
      <mt-button slot="right"
                 @click.native="surrogateShow"
                 style="font-size:.3rem">联系人
      </mt-button>
    </mt-header>
    <form action="" v-on:submit.prevent="">
      <mt-search cancel-text
                 v-model="value"
                 @keyup.enter.native="chatSearch">
        <div v-if="searchData.length>0"
             class="search-lists"
             v-for="(item,i) in searchData"
             :key="i"
             @click="goChat(item.sender_uid,item['sender_name'])">
          <img :src="item['sender_avatar']"
               alt>
          <span>{{item['sender_name']}}</span>
        </div>
        <div v-if="searchData.length===0"
             class="text-center">未找到相关联系人
        </div>
      </mt-search>
    </form>
    <!-- 未读联系人列表 -->
    <!-- 上级 -->
    <div v-if="notRead_higher_level"
         class="lists"
         @click="goChat(notRead_higher_level.sender_uid,notRead_higher_level['sender_name'],Object.assign({},notRead_higher_level,{level:'我是上级'}))">
      <img :src="notRead_higher_level['sender_avatar']"
           alt>
      <div>
        <p>
          <b>{{notRead_higher_level['sender_name']}}</b>
          <b class="contents">{{backFilter(notRead_higher_level.content)}}</b>
        </p>
        <p>
          <span>{{notRead_higher_level['sendtime']}}</span>
          <small class="ball"
                 v-show="notRead_higher_level.count>0">{{notRead_higher_level.count}}
          </small>
        </p>
      </div>
    </div>
    <!-- 下级 -->
    <div v-if="notRead_lower_level.length>0"
         class="lists"
         v-for="(item,i) in notRead_lower_level"
         :key="i"
         @click="goChat(item.sender_uid,item['sender_name'],item)">
      <i class="dot"></i>
      <img :src="item['sender_avatar']" alt>
      <div>
        <p>
          <b>{{item['sender_name']}}</b>
          <b class="contents">{{backFilter(item.content)}}</b>
        </p>
        <p>
          <span>{{item['sendtime']}}</span>
          <small class="ball" v-show="item.count>0">{{item.count}}</small>
        </p>
      </div>
    </div>
    <!-- 联系人 -->
    <div class="v-modal"
         v-show="modalShow"
         @click="hide"></div>
    <div class="surrogate"
         v-show="surrogate">
      <p class="chat_header">
        <img :src="user_info.avatar"
             alt>
        <span>{{user_info.username}}</span>
      </p>
      <div class="chat_cont">
        <div v-if="lower_level.length>0">
          <span @click="hideSurrogate('v3')">
            我的下级
            <i class="iconfont icon-xiajiantou"></i>
          </span>
          <transition name="hide_surrogate2">
            <div v-show="hideItem.v3">
              <p v-for="(item,i) in lower_level"
                 :key="i"
                 @click="goChat(item.uid,item.username,item)">
                <img :src="item.avatar"
                     alt>
                <span>{{item.username}}</span>
              </p>
            </div>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import {
    submit_tranfer,
    level_list_api,
    chat_seach_api,
    not_read_list_api
  } from "@/common/api";
  import {Toast} from "mint-ui";

  export default {
    created() {
      this.levelList();
    },
    data() {
      return {
        value: "", // 搜索数据
        searchData: [], //搜索返回数据
        chatList: [], // 聊天列表数据
        modalShow: false,
        surrogate: false,
        hideItem: {
          v1: true,
          v2: true,
          v3: true
        },
        user_info: [],
        higher_level: [],
        lower_level: [],
        notRead_service: [],
        notRead_higher_level: [],
        notRead_lower_level: []
      };
    },
    methods: {
      backFilter(str) {
        if (String(str).indexOf('http') !== -1) {
          return '[图片]'
        } else {
          return str
        }
      },
      //隐藏上下级
      hideSurrogate(i) {
        this.hideItem[i] = !this.hideItem[i];
      },
      backTo() {
        this.$router.push("agentInfo");
      },
      levelList() {
        level_list_api().then(res => {
          if (res.code === 200) {
            this.user_info = res.data.user_info;
            this.higher_level = res.data.higher_level;
            this.lower_level = res.data.lower_level;
          } else {
            Toast(res.msg);
          }
        });
        not_read_list_api().then(res => {
          if (res.code === 200) {
            this.notRead_service = res.data.service;
            this.notRead_higher_level = res.data.higher_level;
            this.notRead_lower_level = res.data.lower_level;
          } else {
            Toast(res.msg);
          }
        });
      },
      chatSearch() {
        chat_seach_api({keys: this.value}).then(res => {
          if (res.code === 200) {
            this.searchData = res.data;
            document.activeElement.blur();
          }
        });
      },
      surrogateShow() {
        this.modalShow = true;
        this.surrogate = true;
      },
      hide() {
        this.modalShow = false;
        this.surrogate = false;
      },
      goChat(id, username, user) {
        this.$router.push({
          name: "ChatPage",
          params: {id, username, user}
        });
      }
    },
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .v-modal {
    z-index: 12;
  }

  .surrogate {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 99vh;
    background: #fff;
    z-index: 12;
    font-size: 16px;
    color: #333;
    overflow-y: scroll;
    padding-bottom: 1vh;
  }

  .chat_header {
    height: 2rem;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    align-items: center;

    > img {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }

    > span {
      font-weight: 600;
      margin-top: 0.15rem;
    }
  }

  .chat_cont {
    padding: 0 0.3rem;

    > div {
      margin-top: 0.3rem;

      > span {
        font-weight: 600;

        > i {
          margin-left: 0.2rem;
          font-size: 13px;
          color: #999;
        }
      }

      > div > p {
        align-items: center;
        margin-top: 0.2rem;
        height: 1.2rem;
        overflow: hidden;

        > span {
          vertical-align: middle;
        }
      }

      img {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        margin-right: 0.2rem;
        vertical-align: middle;
      }

      > p {
        margin-top: 0.2rem;
      }
    }
  }

  .lists {
    background: #fff;
    display: flex;
    font-size: 15px;
    padding: 0.2rem 0.3rem;
    height: 1rem;
    position: relative;

    > .dot {
      position: absolute;
      bottom: .25rem;
      left: 1.1rem;
      width: .2rem;
      height: .2rem;
      background: #3ACE01;
      border-radius: 50%;
      box-shadow: -1px -1px 2px 2px #fff;
    }

    > div {
      flex: 2;
      display: flex;
      justify-content: space-between;
      padding-top: 0.1rem;

      p {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > b {
          // flex: 2;
          font-size: 16px;
          font-weight: normal;
          color: #333;
        }

        > span {
          font-size: 12px;
          color: #999;
          text-align: end;
        }

        .ball {
          color: #fff;
          height: 12px;
          padding: 3px 5px;
          background: #ed566d;
          border-radius: 20px;
        }
      }

      > p:last-child {
        align-items: flex-end;
      }
    }

    .contents {
      width: 2rem;
      margin-left: 4px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; /*强制不换行*/
    }

    > img {
      width: 1rem;
      height: 1rem;
      margin-right: 10px;
      border-radius: 50%;
    }
  }

  .search-lists {
    font-size: 16px;
    padding: 0.2rem 0.3rem;
    height: 1rem;

    > img {
      width: 1rem;
      height: 1rem;
      margin-right: 10px;
      border-radius: 50%;
      vertical-align: middle;
    }

    > span {
      vertical-align: middle;
    }
  }

  .text-center {
    font-size: 14px;
    text-align: center;
  }

  .hide_surrogate1-enter-active,
  .hide_surrogate1-leave-active {
    transition: all 0.5s ease;
  }

  .hide_surrogate1-enter,
  .hide_surrogate1-leave-to {
    height: 0;
    opacity: 0;
  }

  .hide_surrogate2-enter-active,
  .hide_surrogate2-leave-active {
    transition: all 0.5s ease;
  }

  .hide_surrogate2-enter,
  .hide_surrogate2-leave-to {
    height: 0;
    opacity: 0;
  }
</style>
