<template>
  <div id="createUserCenter" class="grayPage">
    <mt-header class="my-header2" title="开户管理">
      <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
      <mt-button slot="right" @click.native="$router.push('/quickAdd')">快速添加</mt-button>
    </mt-header>
    <div class="tabs">
      <div>
        <span>下级总人数</span>
        <b>{{topbar.team_members}}</b>
      </div>
      <div>
        <span>下1级</span>
        <b>{{topbar.level_one}}</b>
      </div>
      <div>
        <span>今日新增</span>
        <b>{{topbar.register_today}}</b>
      </div>
      <div>
        <span>今日上线</span>
        <b>{{topbar.online_today}}</b>
      </div>
    </div>
    <p>
      <span>推广说明:</span> 推荐使用手机浏览器扫码或复制推广链接到手机浏览器打开
    </p>
    <div class="input_box">
      <span>链接:{{invi}}</span>
      <span class="last" @click="copyText">复制</span>
    </div>
    <!-- <mt-navbar v-model="selected">
      <mt-tab-item id="1">我的二维码</mt-tab-item>
      <mt-tab-item id="2">创建用户</mt-tab-item>
    </mt-navbar>-->
    <!-- <div style="background:#fff;padding:0 .3rem;">
      <mt-tab-container v-model="selected">
        <mt-tab-container-item id="1">
          <div class="content01">
            <div class="pop-con">

              <div class="pop-item">
                <div class="label-title">
                  已注册人数:
                  <span style="color:#4F32B6">{{registerMember}}</span>
                </div>
              </div>

              <div class="pop-item">
                <div class="label">
                  链接
                </div>
                <div class="link-con">
                  {{invi}}
                </div>
                <div @click="copyText"
                     class="copy-btn">
                  复制
                </div>
              </div>

              <div class="pop-item">
                <div id="imgCon"
                     class="img-con">

                </div>
              </div>

              <div class="pop-item">
                <mt-button v-if="innerWeixin"
                           type="danger"
                           style="width:4.2rem;margin-left:-2.1rem;">请长按图片保存
                </mt-button>
                <mt-button v-else
                           type="danger"
                           @click="saveCode">保存图片</mt-button>
              </div>
            </div>
          </div>
        </mt-tab-container-item>
        <mt-tab-container-item id="2">
          <div class="content02">
            <div class="form">
              <div class="form-item">
                <div class="form-con">
                  <mt-field label="用户名："
                            placeholder="请填写用户名"
                            v-model="formData['username']"></mt-field>
                </div>
              </div>

              <div class="form-item">
                <div class="form-con">
                  <mt-field label="登录密码："
                            placeholder="请输入登录密码"
                            v-model="formData['password']"></mt-field>
                </div>
              </div>

              <div class="form-item">
                <div class="btn-con">
                  <mt-button type="danger"
                             @click="createUser">创建</mt-button>
                </div>
              </div>

            </div>
          </div>
        </mt-tab-container-item>
      </mt-tab-container>
    </div>-->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src alt class="img4">
        </div>
        <div class="swiper-slide">
          <img src alt class="img5">
        </div>
        <div class="swiper-slide">
          <img src alt class="img6">
        </div>
      </div>
    </div>
    <div class="pop-item">
      <mt-button type="danger" @click="saveCode">点击分享二维码</mt-button>
    </div>
    <div style="display:none">
      <img src="@/assets/hongbao.jpg" alt class="img1">
      <img src="@/assets/xianjin.jpg" alt class="img2">
      <img src="@/assets/hongbao2.png" alt class="img3">
      <div id="imgCon" class="img-con"></div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header2";
  import {
    invitation_list_api,
    get_agent_team_topbar, // 头部信息
    home_api,
    remove_invitation_list_api,
    create_user_api,
    get_default_invitation,
    get_register_number
  } from "@/common/api";
  import { Toast, Indicator, MessageBox } from "mint-ui";
  import copy from "copy-to-clipboard";
  import qrcodejs2 from "qrcodejs2";
  import VueQArt from "vue-qart";
  import { baseUrl } from "@/config/app.config";
  import Swiper from "swiper";
  import { setTimeout } from "timers";
  import { debug, saveAsImage } from "util";
  import ComposeCanvas from "@/utils/canvas/canvas";
  export default {
    created() {
      this.invi = sessionStorage.getItem("invi");
      this.url = baseUrl;
      get_register_number().then(res => {
        if (res.code === 200) {
          this.registerMember = res.data[0].num;
        }
      });
      get_agent_team_topbar().then(res => {
        this.topbar = res.data;
      });
    },
    mounted() {
      let ua = navigator.userAgent.toLowerCase();
      if (ua.match(/MicroMessenger/i) == "micromessenger") {
        this.innerWeixin = true;
      } else if (ua.match(/QQ/i) == "qq") {
        this.innerWeixin = true;
      } else {
        this.innerWeixin = false;
      }

      new qrcodejs2("imgCon", {
        width: 200,
        height: 200, // 高度
        text: this.invi // 二维码内容
      });
      setTimeout(() => {
        this.imgList.img6 = this.downloadImg(
          "#imgCon",
          ".img1",
          240,
          710,
          260,
          "img6"
        );
        this.imgList.img5 = this.downloadImg(
          "#imgCon",
          ".img2",
          180,
          380,
          380,
          "img5"
        );
        this.imgList.img4 = this.downloadImg(
          "#imgCon",
          ".img3",
          195,
          880,
          350,
          "img4"
        );
        setTimeout(() => {
          new Swiper(".swiper-container", {
            direction: "horizontal",
            loop: true,
            autoplay: false,
            slidesPerView: "auto",
            centeredSlides: true,
            spaceBetween: 5,
            loopAdditionalSlides: 100
          });
        }, 200);
      }, 20);
    },
    data() {
      return {
        topbar: {},
        url: "",
        registerMember: "0",
        innerWeixin: false,
        key: Date.now(),
        selected: "1",
        page: 0,
        lists: [],
        imgList: {
          img4: "",
          img5: "",
          img6: ""
        },
        listEnd: false,
        loading: false,

        qrcode: null,
        rangeValue: {},
        formData: {
          username: "",
          password: "a123456"
        },
        invi: "",
        text: ""
      };
    },
    methods: {
      backto() {
        this.$router.push("agentInfo");
      },
      invitation_list() {
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        invitation_list_api({ page: this.page + 1 }).then(res => {
          Indicator.close();
          this.loading = false;
          if (res.code === 200) {
            this.page = res.data.page;
            if (res.data.list.length > 0) {
              this.lists = this.lists.concat(res.data.list);
            } else {
              this.listEnd = true;
              res.data.page !== 1 ? "" : "";
            }
          } else {
            Toast(res.msg);
          }
        });
      },
      removeItem(item) {
        MessageBox.confirm("确定要删除吗?").then(() => {
          return remove_invitation_list_api({ id: item.id }).then(res => {
            if (res && res.code === 200) {
              Toast("删除成功");
              this.lists = this.lists.filter(i => i.id !== item.id);
            } else {
              Toast(res.msg);
            }
          });
        });
      },
      copyLink(item) {
        copy(item.url);
        Toast("复制成功");
      },

      copyText() {
        let text = `${this.invi}`;
        copy(text);
        Toast("复制成功");
        this.popupVisible = false;
      },

      downloadImg(img11, img22, x, y, wh, img33) {
        let c = document.createElement("canvas");
        let ctx = c.getContext("2d");

        c.width = 740;
        c.height = 1366;
        ctx.rect(0, 0, c.width, c.height);
        ctx.fillStyle = "transparent"; // 画布填充颜色;
        ctx.fill();
        // 获取生成的二维码的src
        let imgone = document.querySelector(img11).getElementsByTagName("img")[0]
          .src;
        // 获取图片的src
        let imgtwo = document.querySelector(img22).src;
        let img1 = new Image();
        let img2 = new Image();
        img1.src = imgone;
        img2.src = imgtwo;
        // 画坐标
        ctx.drawImage(img2, 0, 0, 740, 1366);
        ctx.drawImage(img1, x, y, wh, wh);

        let img = convertCanvasToImage(c);
        document.getElementsByClassName(img33)[0].src = img.src;
        function convertCanvasToImage(canvas) {
          let image = new Image();
          image.src = canvas.toDataURL("image/jpg");
          return image;
        }
        return c;
      },
      saveCode() {
        let img = document.getElementsByClassName("swiper-slide-active")[0]
          .children[0];
        if (img) {
          let imgClass = img.className;
          try {
            hbuilder_share_image(img.src);
          } catch (e) {
            let a = document.createElement("a");
            a.style.display = "none";
            a.href = img.src;
            a.download = "推广二维码.jpg";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          }
        }

        function hbuilder_share_image(url) {
          hbuilder_download(url, function(filename) {
            plus.share.sendWithSystem(
              { pictures: [filename] },
              function() {
                // Toast("分享成功");
              },
              function(e) {
                // Toast('分享失败：' + JSON.stringify(e));
              }
            );
          });
        }
        function hbuilder_download(url, callback) {
          if (/^data:image\/(.*?);/.test(url)) {
            let sub = url.replace(/^data:image\/(.*?);.*/, "$1");
            let name =
              Date.parse(new Date()) +
              "." +
              (sub == "png" || sub == "gif" || sub == "bmp" ? sub : "jpg");
            let bitmap = new plus.nativeObj.Bitmap(name);

            bitmap.loadBase64Data(url, function() {}, function() {});

            bitmap.save(
              "_downloads/" + name,
              { overwrite: true },
              function(event) {
                callback && callback(event.target);
              },
              function() {
                Toast("保存失败");
              }
            );
          } else {
            dtask = plus.downloader.createDownload(url, {}, function(d, status) {
              if (status == 200) {
                callback(d.filename);
              } else {
                Toast("Download failed: " + status);
              }
            });

            dtask.start();
          }
        }
      },
      createUser() {
        return create_user_api(this.formData).then(res => {
          if (res && res.code === 200) {
            this.popupVisible = true;
          } else {
            Toast(res.msg);
          }
        });
      }
    },
    watch: {
      // popupVisible (n) {
      //   if (!n) {
      //     let par = document.getElementById('qrcode');
      //     let child = par && par.getElementsByTagName('img');
      //     if (par) {
      //       par.removeChild(child[0]);
      //       this.qrcode.clear();
      //     }
      //   }
      // }
    },
    components: {
      MyHeader,
      VueQArt
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .swiper-container {
    margin-top: 0.2rem;
    width: 100%;
    height: 6rem;
    overflow: hidden !important;
    position: relative;
  }
  .swiper-container .swiper-wrapper {
    display: flex;
  }
  .swiper-container .swiper-wrapper .swiper-slide {
    width: 3.5rem;
    border-radius: 0.12rem;
  }
  .swiper-container .swiper-wrapper .swiper-slide img {
    // width: 100%;
    height: 6rem;
    border-radius: 0.12rem;
  }
  .swiper-container .swiper-wrapper .swiper-slide-prev {
    margin-top: 0.18rem;
    // height: 7rem !important;
  }
  .swiper-container .swiper-wrapper .swiper-slide-prev img {
    height: 5rem !important;
  }
  .swiper-container .swiper-wrapper .swiper-slide-next {
    margin-top: 0.18rem;
    height: 6rem !important;
  }
  .swiper-container .swiper-wrapper .swiper-slide-next img {
    height: 5rem !important;
  }
  .swiper-container .swiper-wrapper .swiper-slide-active {
    width: 3.5rem;
  }
  .swiper-pagination {
    bottom: 0.1rem !important;
  }

  img {
    width: 3.5rem;
  }
  .tabs {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin: 0.3rem 0 0;
    padding-bottom: 0.3rem;
    position: relative;
    > div {
      display: flex;
      flex-direction: column;
      text-align: center;
      > span {
        margin-bottom: 0.2rem;
        color: #999;
      }
      > b {
        color: #333;
        font-size: 0.3rem;
      }
    }
  }
  .tabs:after {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    content: "";
    width: 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    /*该颜色在火狐下会生成两条线*/
    background-color: rgba(0, 0, 0, 0.3);
  }
  .input_box {
    width: 92%;
    margin: 0 auto;
    height: 0.8rem;
    line-height: 0.8rem;
    background: #f2f2f2;
    text-align: center;
    color: #999;
    border-radius: 5px;
    font-size: 0.27rem;
    > .last {
      float: right;
      height: 0.56rem;
      width: 1rem;
      line-height: 0.56rem;
      margin-top: 0.12rem;
      margin-right: 0.2rem;
      background: #6c2dfe;
      color: #fff;
      border-radius: 5px;
    }
  }
  #createUserCenter {
    width: 7.5rem;
    // min-height: 13.24rem;
    background: #fff;
    padding-bottom: 0.3rem;
    font-size: 12px;
    #imgCon {
      text-align: center;
    }
    > p {
      padding: 0 0.3rem;
      color: #999;
      font-size: 13px;
      margin: 0.3rem 0;
      > span {
        color: #333;
      }
    }
    .mint-navbar {
      border-bottom: 1px solid #eaeaea;
    }

    .mint-tab-item-label {
      font-size: 0.3rem !important;
    }

    .mint-tab-item {
      margin: 0 0.9rem;
    }

    .is-selected {
      border-bottom: 3px solid #4f32b6;
    }

    .link-btn-con {
      display: flex;
      align-items: center;
      width: 7.5rem;
      height: 0.5rem;
      padding: 0.2rem 0;
      background: rgba(255, 255, 255, 1);

      .link-btn {
        flex: 1;
        text-align: center;
        width: 3.76rem;
        height: 0.5rem;
        background: rgba(255, 255, 255, 1);
        font-size: 0.28rem;
        color: rgba(51, 51, 51, 1);
      }

      a {
        width: 100%;
        height: 100%;
        display: inline-block;
      }

      img {
        display: inline-block;
        text-align: center;
        height: 100%;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
      }
    }

    .mint-tab-container {
      overflow: inherit;
    }

    .label-title {
      width: 100%;
      height: 0.5rem;
      line-height: 0.5rem;
      font-size: 0.38rem;
      padding: 0.4rem 0;
      text-align: center;
      font-weight: bold;
    }

    .mint-cell {
      display: flex;
      flex-wrap: wrap;
      border-radius: 0.1rem;

      .title {
        flex: 1;
        width: 3.78rem;
        height: 0.44rem;
        font-size: 0.32rem;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 0.44rem;
      }

      .qrcode {
        flex: 0 0 auto;
        align-self: flex-end;
        height: 0.4rem;
      }

      .remove {
        flex: 0 0 auto;
        align-self: flex-end;
        height: 0.44rem;
      }

      img {
        height: 0.32rem;
      }

      .link {
        width: 100%;
        font-size: 0.22rem;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 0.36rem;
        white-space: normal;
        word-break: break-all;
        word-wrap: break-word;

        span {
          margin-left: 0.1rem;
          color: red;
        }
      }

      .type {
        height: 0.34rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 0.34rem;
      }

      .members {
        height: 0.34rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(254, 57, 89, 1);
        line-height: 0.34rem;
      }
    }

    li > p,
    li > div {
      position: relative;
      padding-left: 0.3rem;
      padding-right: 0.2rem;
      margin-bottom: 0.2rem;
    }

    li > p {
      font-size: 14px;
      color: #333;
    }

    li > div {
      font-size: 13px;
      color: #666;
    }

    .font {
      text-align: center;
      font-size: 16px;
    }

    .mint-cell > .ball:before {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      z-index: 1;
      position: absolute;
      border-radius: 50%;
      top: 5px;
      left: 0;
    }

    .mint-tab-item {
      position: relative;
    }

    .is-selected::after {
      margin-bottom: -3px;
      font-size: 15px;
      position: absolute;
      right: 0;
      top: 0.8rem;
      left: 26%;
      height: 2px;
      content: "";
      width: 50%;
    }

    .grayPage {
      width: 7.5rem;
      min-height: 13.24rem;
      background: rgba(242, 242, 242, 1);
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 100%;
      background: rgba(255, 255, 255, 1);
      font-size: 0.28rem;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }

    .form-item {
      flex: 1;
    }

    .form-item:last-child {
      flex: 1;
      border-bottom: none;
    }

    .btn-con {
      padding: 0 0.5rem;

      .mint-button--danger {
        position: relative;
        left: 50%;
        width: 2.5rem;
        margin-left: -1.25rem;
        margin-top: 0.3rem;
        background-color: #6c2dfe;
      }
    }

    .copy-btn {
      font-size: 0.28rem;
      margin-left: 0.1rem;
      color: #6c2dfe;
      min-width: 0.7rem;
    }

    .form-label {
      flex: 1 1 auto;
      height: 0.7rem;
      line-height: 0.7rem;
      padding: 0 0.3rem;
      background: rgba(255, 255, 255, 1);
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .form-label-title {
      flex: 1 0 auto;
      height: 0.7rem;
      line-height: 0.7rem;
      align-items: center;
    }

    .form-label-tip {
      flex: 0 0 auto;
      align-self: flex-end;
      width: 0.68rem;
      height: 0.7rem;
      line-height: 0.7rem;
      font-size: 0.25rem;
      font-weight: 400;
      color: rgba(254, 57, 89, 1);
    }

    .form-con {
      flex: 1 1 auto;
      line-height: 0.7rem;
      padding: 0.2rem 0.3rem;
      background: rgba(255, 255, 255, 1);
    }

    .link-con {
      font-size: 0.25rem;
    }

    .img-con {
      width: 200px;
      margin-left: calc(50% - 100px);
      margin-top: 0.3rem;
    }

    .mint-cell {
      color: #666;
    }

    .mint-cell-wrapper {
      background-image: none;
    }

    .content02 {
      margin-top: 0.3rem;
    }
  }
  .pop-item {
    min-height: 0.44rem;
    font-size: 0.32rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 0.44rem;
    padding: 0.1rem 30px;
    text-align: center;
    display: flex;
    flex-direction: row;

    .label {
      float: left;
      width: 1.6rem;
      text-align: right;
      height: 0.4rem;
      font-size: 0.25rem;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 0.4rem;
    }

    .con {
      min-height: 0.4rem;
      width: 3rem;
      font-size: 0.25rem;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
      line-height: 0.4rem;
    }

    .mint-button--danger {
      position: relative;
      left: 50%;
      width: 3.8rem;
      margin-left: -1.9rem;
      margin-top: 0.3rem;
      background-color: #4f32b6;
      color: #fff;
    }
  }
</style>