<template>
  <div class="page">
    <mt-header class="my-header2"
               title="返水收入">
      <mt-button slot="left"
                 icon="back"
                 @click.native="backto"></mt-button>
      <mt-button slot="right"
                 @click="goto"
                 style="font-size:.3rem">返水明细
      </mt-button>
    </mt-header>
    <div class="mask"
         v-show="trade"></div>
    <div class="content"
         v-show="allShow">
      <div class="select">
        <div class="select-item">
          <div>累计返水</div>
          <div>{{money.total_money}}</div>
        </div>
        <div class="select-item">
          <div>本月返水收入</div>
          <div>{{money.month_money}}</div>
        </div>
        <div class="select-item">
          <div>预计今日返水</div>
          <div>{{money.day_money}}</div>
        </div>
      </div>
      <div class="gray-line"></div>
      <div class="login">
        <div class="tips">
          <span>温馨提示:</span>
          当日返水收入在第二天进行发放，返水金额为0，则列表中不显示
          <span class="blue-color" @click="pop=!pop">查看我的返水比例</span>
        </div>
        <div style="width:100%;"
             v-infinite-scroll="loadMore"
             infinite-scroll-disabled="loading"
             infinite-scroll-distance="10">
          <Table :data="tradeData"
                 :header="header"
                 :column="column"/>
        </div>
        <div style="width:100%;text-align:center;margin-top:1rem;"
             v-show="tradeData.length===0">
          <p style="margin-top: 3rem;">暂无记录哦~</p>
        </div>
      </div>
    </div>
    <fanshui-pop v-if="pop" @closePop='closePop'></fanshui-pop>
  </div>
</template>

<script type="text/ecmascript-6">
  import Date from "@/bass/date";
  import {t} from "@/common/config";
  import {Toast, Indicator} from "mint-ui";
  import {get_my_water_daily} from "@/common/api";
  import Table from "@/bass/table";
  import FanshuiPop from "@/bass/fanshuipop";

  export default {
    created() {
      this.title = sessionStorage.getItem("title");
    },
    data() {
      return {
        header: ["时间", "总计", "AG", "申博", "电子游艺", "彩票", '开元'],
        column: ["day", "water", "ag", "sb", "rt", "lottery", 'ky'],
        totalWater: "0",
        tradeData: [], //列表数据
        loading: false,
        allShow: true,
        pop: false,
        money: {
          total_money: 0,
          total_profit_money: 0,
          total_win_money: 0
        },
        defaultDate: {},
        displayData: [], // 显示的数据
        data: {
          game: "", // 彩种
          status: "", // 开奖状态
          page: 0 // 页码
        },
        trade: false //交易
      };
    },
    methods: {
      closePop() {
        this.pop = false
      },
      goto() {
        this.$router.push("waterReport");
      },
      backto() {
        this.$router.push("agentInfo");
      },
      loadMore() {
        if (this.listEnd || this.loading) return;
        if (this.data.page >= 1) return;
        Indicator.open();
        this.loading = true;
        this.data.page = this.data.page + 1;
        get_my_water_daily(this.data).then(res => {
          Indicator.close();
          this.loading = false;
          if (res.code === 200) {
            this.money.total_money = res.data.water_total || 0;
            this.money.month_money = res.data.water_month || 0;
            this.money.day_money = res.data.water_predict || 0;

            if (res.data.list.length > 0) {
              this.tradeData = res.data.list;
            } else {
              this.listEnd = true;
            }
          } else {
            if (res.code === 401) {
              this.listEnd = true;
            }
            Toast(res.msg);
          }
        });
      }
    },
    components: {
      Date,
      Table,
      FanshuiPop
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global";

  .content {
    font-size: 14px;
    position: relative;
  }

  .select {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 11;
    position: relative;
    background: #fff;

    .select-item {
      flex: 1;

      div:nth-child(1) {
        text-align: center;
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      div:nth-child(2) {
        text-align: center;
        height: 21px;
        font-size: 15px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 21px;
      }
    }
  }

  .gray-line {
    height: 16px;
    background: #f2f2f2;
  }

  .tips {
    padding: 14px 0;
    color: #999999;

    span {
      color: #333333;
    }

    .blue-color {
      color: #6c2dfe;
    }
  }

  .login {
    padding: 0 0.3rem 1.3rem;
    background: #fff;
  }
</style>
