<template>
  <div class="add_user">
    <mt-header class="my-header2"
               title="快速添加">
      <mt-button slot="left"
                 icon="back"
                 @click.native="$router.go(-1)"></mt-button>
    </mt-header>
    <div class="content02">
      <div class="form">
        <div class="form-item">
          <div class="form-con">
            <mt-field label="用户名："
                      placeholder="请填写用户名"
                      v-model="formData['username']"></mt-field>
          </div>
        </div>

        <div class="form-item">
          <div class="form-con">
            <mt-field label="登录密码："
                      placeholder="6-18位数字、字母或其组合"
                      v-model="formData['password']"></mt-field>
          </div>
        </div>

        <div class="form-item">
          <div class="btn-con">
            <mt-button type="danger"
                       @click="createUser">创建</mt-button>
          </div>
        </div>

      </div>
    </div>
    <mt-popup v-model="popupVisible"
              position="center"
              popup-transition="popup-fade">
      <div class="pop-con">

        <div class="pop-title">
          <span>
            <img class="create-img"
                 src="../../assets/create_success.png"
                 alt="">
          </span>
          <span @click="closePop">
            x
          </span>
        </div>

        <div class="pop-item">
          <div class="label">
            平台地址：
          </div>
          <div class="con">
            {{baseUrl}}
          </div>
        </div>

        <div class="pop-item">
          <div class="label">
            用户名：
          </div>
          <div class="con">
            {{formData['username']}}
          </div>
        </div>

        <div class="pop-item">
          <div class="label">
            登录密码：
          </div>
          <div class="con">
            {{formData['password']}}
          </div>
        </div>
        <div class="pop-item">
          <mt-button type="danger"
                     size="large"
                     @click="copyText2">复制</mt-button>
        </div>
      </div>
    </mt-popup>
  </div>
</template>

<script type="text/ecmascript-6">
import MyHeader from "@/bass/header";
import { create_user_api } from '@/common/api'
import copy from 'copy-to-clipboard';
import { Toast } from "mint-ui";
import { baseUrl } from '@/config/app.config';
export default {
  data () {
    return {
      formData: {
        username: '',
        password: '',
      },
      popupVisible: false
    }
  },
  created(){
    this.baseUrl = baseUrl
  },
  methods: {
    createUser () {
      return create_user_api(this.formData)
        .then(res => {
          if (res && res.code === 200) {
            this.popupVisible = true;
          } else {
            Toast(res.msg);
          }
        })
    },
    copyText2 () {
      let text = `
         平台地址:${this.baseUrl}\r\n
         用户名:${this.formData['username']}\r\n
         密码:${this.formData['password']}
         `;
      console.log(text);
      copy(text);
      Toast('复制成功');
      this.popupVisible = false;
      this.$router.push('/memberManage');
    },
    closePop () {
      this.popupVisible = false;
      this.$router.push('/memberManage');
    },
  },
  components: {

  }
}
</script>

<style scoped lang="less" rel="stylesheet/less">
.content02 {
  margin-top: 0.3rem;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  font-size: 0.28rem;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.form-item {
  flex: 1;
}

.form-item:last-child {
  flex: 1;
  border-bottom: none;
}
.form-con {
  flex: 1 1 auto;
  line-height: 0.7rem;
  padding: 0.2rem 0.3rem;
  background: rgba(255, 255, 255, 1);
}
.btn-con {
  padding: 0 0.5rem;

  .mint-button--danger {
    position: relative;
    left: 50%;
    width: 2.5rem;
    margin-left: -1.25rem;
    margin-top: 0.3rem;
    background-color: #6c2dfe;
  }
}
.mint-popup {
  width: 6rem;
  border-radius: 8px;

  .pop-con {
    width: 100%;
    min-height: 4.3rem;
    color: #666;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
  }
}

.pop-item {
  min-height: 0.44rem;
  font-size: 0.32rem;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  line-height: 0.44rem;
  padding: 0.1rem 30px;
  text-align: center;
  display: flex;
  flex-direction: row;

  .label {
    float: left;
    width: 1.6rem;
    text-align: right;
    height: 0.4rem;
    font-size: 0.25rem;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 0.4rem;
  }

  .con {
    min-height: 0.4rem;
    width: 3rem;
    font-size: 0.25rem;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 0.4rem;
  }

  .mint-button--danger {
    position: relative;
    left: 50%;
    width: 3.8rem;
    margin-left: -1.9rem;
    margin-top: 0.3rem;
    background-color: #4f32b6;
    color: #fff;
  }
}

.pop-title {
  height: 0.44rem;
  font-size: 0.32rem;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  line-height: 0.44rem;
  padding: 0.1rem 0.3rem;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.pop-title > span:nth-child(0) {
  flex: 1;
  border-radius: 0.02rem;
}

.pop-title > span:nth-child(1) {
  flex: 1;
  align-self: flex-end;
}
.create-img {
  margin-bottom: -0.15rem;
  height: 0.46rem;
}
</style>
