<template>
  <div class="team-report-page">
    <div class="my-header2">
      <i class="mintui mintui-back" @click="backTo"></i>
      <p>
        <span
          @click="changeActive(item.name)"
          :class="activeBtn==item.name?'btn-active':''"
          v-for="(item,i) in select"
          :key="i"
        >{{item.name}}</span>
      </p>
    </div>
    <TeamBettingReport v-if="activeBtn==='下级投注'" :uname="uname"></TeamBettingReport>
    <TeamRechargeReport v-if="activeBtn==='下级充值'" :uname="uname"></TeamRechargeReport>
    <TeamWithdrawReport v-if="activeBtn==='下级提现'" :uname="uname"></TeamWithdrawReport>
  </div>
</template>

<script type="text/ecmascript-6">
  import TeamBettingReport from "./teamBettingReport";
  import TeamWithdrawReport from "./teamWithdrawReport";
  import TeamRechargeReport from "./teamRechargeReport";
  import { debug } from "util";

  export default {
    created() {
      this.$route.params.msg && (this.activeBtn = this.$route.params.msg);
      this.$route.params.uname && (this.uname = this.$route.params.uname);
    },
    data() {
      return {
        activeBtn: "下级投注",
        uname: "",
        select: [{ name: "下级投注" }, { name: "下级充值" }, { name: "下级提现" }]
      };
    },
    methods: {
      changeActive(text) {
        this.activeBtn = text;
      },
      backTo() {
        this.$router.go(-1);
      }
    },
    components: {
      Date,
      TeamBettingReport,
      TeamWithdrawReport,
      TeamRechargeReport
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global";
  .team-report-page {
    .my-header2 {
      z-index: 11;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      box-sizing: border-box;
      color: #fff;
      display: flex;
      font-size: 14px;
      height: 40px;
      line-height: 1;
      padding: 0 10px;
      position: relative;
      text-align: center;
      white-space: nowrap;

      > p {
        align-items: center;
        background: #fff;
        padding: 2px;
        border-radius: 5px;
      }

      > i {
        flex: 0.5;
      }

      > .mintui-back {
        text-align: left;
        flex: 0.5;
      }

      span {
        float: left;
        width: 1.5rem;
        height: 0.5rem;
        font-size: 0.28rem;
        line-height: 0.5rem;
        text-align: center;
        background: #6c2dfe;
        &:nth-child(1) {
          border-right: 0.01rem solid #fff;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &:nth-child(2) {
          border-right: 0.01rem solid #fff;
        }
        &:nth-child(3) {
          border-right: 0.01rem solid #fff;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }

      .btn-active {
        background: #fff !important;
        color: #6c2dfe !important;
      }
    }




    .is-right {
      position: absolute;
      top: 0.3rem;
      left: 50%;
      width: 4.52rem;
      height: 0.5rem;
      margin-left: -2.25rem;
      border-radius: 8px;
      text-align: center;
      border: 1px solid #ffffff;
      .mint-button {
        width: 4.52rem;
        height: 0.5rem;
      }
    }

    .content {
      font-size: 14px;
      position: relative;
    }
  }
</style>
