<template>
  <div class="throwInto">
    <div class="gf-throwIntoTop">
      <div class="left">
        <div>
          <lay-input-number :value="multiple" @input="getNumberValue"
                            style="width:60px;display: inline-block"></lay-input-number>
          <span style="font-size: 14px;color: #999999;margin-left: 2px">倍</span>
        </div>
        <div>
          <lay-pop :showPop="showPop">
            <div slot="pop" class="pop-list">
              <div :class="{'pop-active':popSelectValue===item}" v-for="(item,index) in ['2分','1角','2角','1元','2元']"
                   :key="index"
                   @click="selectPopValue(item)"
              >{{item}}
              </div>
            </div>
            <lay-button theme="positive"
                        style="border-radius:8px;width:60px;"
                        size="small"
                        @click="showPop=true"
            >{{popSelectValue}}
            </lay-button>
          </lay-pop>
        </div>
      </div>
      <div class="right">
        <div>{{rangeValue}}</div>
        <div>
          <lay-range :min=0
                     :max=100
                     size="small"
                     theme="balanced"
                     v-model="rangeValue"
          >
            <i class="iconfont ic-minus-circled" slot="text-left" @click="rangeValue--"></i>
            <i class="iconfont ic-plus-circled" slot="text-right" @click="rangeValue++"></i>
          </lay-range>
        </div>
      </div>
    </div>
    <div class="gf-throwIntoMoney">
      <div>
        <i class=" iconfont icon-lajitong" @click="clearData"></i>
      </div>
      <div>
        <span>共{{total}}注 总计{{totalMoney}}元</span>
        <!--<span>最多可盈利 xxx 元</span>-->
      </div>
      <div>
        <lay-button theme="violet" size="middle"
                    style="padding:0 16px;min-height: 36px;height:36px;line-height: 36px;margin-top: 6px;margin-right: 6px;"
                    @click="betting">选好了
        </lay-button>
      </div>
      <!--<mt-button type="danger"  :disabled='btnDisabled'>投注</mt-button>-->
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import Slider from "@/bass/slider";
  import bus from "@/common/bus";
  import {lotteryBetting_api} from "@/common/api";
  import LayInputNumber from "@/vlayui/Input/inputNumber";
  import LayRange from "@/vlayui/Range";
  import LayButton from "@/vlayui/LayButton";
  import LayPop from "@/vlayui/LayPop";
  import LayItem from "@/vlayui/List/Item";
  import LayList from "@/vlayui/List/List";
  import {Toast} from "mint-ui";
  import {successAudio, failureAudio} from '../../../../bettingAudio';
  import {mapState, mapMutations} from 'vuex';

  export default {
    components: {
      Slider,
      LayInputNumber,
      LayRange,
      LayButton,
      LayPop,
      LayItem,
      LayList,
    },
    computed: {
      ...mapState({
        total: state => state.lotteryTotal.total.length,//总注数
        money: state => Number(state.lotteryTotal.money),//总金额
        totalMoney: state => {
          try {
            const {total, single, multiple} = state.lotteryTotal;
            const length = total.length;

            return Number(length) * Number(single) * Number(multiple);
          } catch (err) {
            throw new Error(err);
          }
        }
      })
    },
    props: {periods: Object, close: Boolean},
    data() {
      return {
        popSelectValue: '2元',
        showPop: false,
        multiple: 1,
        rangeValue: 10,
        percent: 10,
        num: 0,
        maxScale: 1,
        scale: 0, // 比例值
        selected_play: [], // 投注号码
        active: 0, // 点击图片
        playId: "", //接收兄弟组件参数
        clear_data: false,
        throwIntoShow: false,
        fanDian: false, // 返点滑块设置
        btnDisabled: false,
        picherActive: "",
        images: [
          {
            xiao: "../../../../static/touzhu/ma10.png",
            da: "../../../../static/touzhu/activema10.png",
            value: 10
          },
          {
            xiao: "../../../../static/touzhu/ma100.png",
            da: "../../../../static/touzhu/activema100.png",
            value: 100
          },
          {
            xiao: "../../../../static/touzhu/ma500.png",
            da: "../../../../static/touzhu/activema500.png",
            value: 500
          },
          {
            xiao: "../../../../static/touzhu/ma1000.png",
            da: "../../../../static/touzhu/activema1000.png",
            value: 1000
          },
          {
            xiao: "../../../../static/touzhu/ma5000.png",
            da: "../../../../static/touzhu/activema5000.png",
            value: 5000
          },
          {
            xiao: "../../../../static/touzhu/ma10000.png",
            da: "../../../../static/touzhu/activema10000.png",
            value: 10000
          }
        ],
      };
    },
    methods: {
      ...mapMutations({
        setCheckItem_mua: 'SET_CHECKED_ITEMS',
        setLotteryTotal_mua: 'SET_LOTTERY_TOTAL',
      }),
      getNumberValue(value) {
        this.multiple = value;
        this.setLotteryTotal_mua({'multiple': value})
      },
      selectPopValue(item) {
        this.popSelectValue = item;
        this.showPop = false;

        let value = {
          '2元': 2,
          '1元': 1,
          '2角': 0.2,
          '1角': 0.1,
          '2分': 0.02,
        }[item];

        this.setLotteryTotal_mua({'single': value})
      },
      choose(arr, size) {
        let allResult = [];
        (function fn(arr, size, result) {
          let arrLen = arr.length;
          if (size > arrLen) {
            return;
          }
          if (size === arrLen) {
            allResult.push([].concat(result, arr));
          } else {
            for (let i = 0; i < arrLen; i++) {
              let newResult = [].concat(result);
              newResult.push(arr[i]);
              if (size === 1) {
                allResult.push(newResult);
              } else {
                let newArr = [].concat(arr);
                newArr.splice(0, i + 1);
                fn(newArr, size - 1, newResult);
              }
            }
          }
        })(arr, size, []);
        return allResult;
      },
      // // input输入正整数
      // handleInput(e) {
      //   this.money = e.target.value.replace(/[^\d]/g, "");
      // },
      betting() {
        if (this.num === 0) {
          if (
            this.picherActive == "二全中" ||
            this.picherActive == "二中特之中二" ||
            this.picherActive == "二中特之中特" ||
            this.picherActive == "中二特" ||
            this.picherActive == "特串" ||
            this.picherActive == "二连肖" ||
            this.picherActive == "二连尾"
          ) {
            Toast("请至少选择两个号码");
            return;
          } else if (
            this.picherActive == "三全中" ||
            this.picherActive == "三中二" ||
            this.picherActive == "三连肖" ||
            this.picherActive == "三连尾"
          ) {
            Toast("请至少选择三个号码");
            return;
          } else if (this.picherActive == "四连肖" || this.picherActive == "四连尾") {
            Toast("请至少选择四个号码");
            return;
          } else if (this.picherActive == "五连肖" || this.picherActive == "五不中") {
            Toast("请至少选择五个号码");
            return;
          } else if (this.picherActive == "六不中") {
            Toast("请至少选择六个号码");
            return;
          } else if (this.picherActive == "七不中") {
            Toast("请至少选择七个号码");
            return;
          } else if (this.picherActive == "八不中") {
            Toast("请至少选择八个号码");
            return;
          } else if (this.picherActive == "九不中") {
            Toast("请至少选择九个号码");
            return;
          } else if (this.picherActive == "十不中") {
            Toast("请至少选择十个个号码");
            return;
          } else if (this.picherActive == "十一不中") {
            Toast("请至少选择十一个号码");
            return;
          } else if (this.picherActive == "十二不中") {
            Toast("请至少选择十二个号码");
            return;
          } else {
            Toast("您还没有选择投注号码哟");
            return;
          }
        }
        if (this.money === 0) {
          Toast("金额不能是零哟");
          return;
        }
        this.selected_play.sort((a, b) => a - b);
        // 投注事件
        let bettingData = Object.assign(
          {},
          {money: this.money, play_id: this.playId, rebate: this.scale, selected_play: String(this.selected_play)},
          this.periods
        );
        this.btnDisabled = true;
        lotteryBetting_api(bettingData).then(res => {
          if (res.code === 200) {

            sessionStorage.setItem("mask", res.data.mask);
            this.selected_play = [];
            this.playId = [];
            this.num = 0;
            this.clearData();
            this.$emit("closeIndex", false);
            bus.$emit('clearSelected', false);  //清除num值
            Toast({message: res.msg, position: "bottom"});
            successAudio();

          } else {

            failureAudio();
            if (res.code === 401) {
              MessageBox.confirm("您还未登录", "提示", {closeOnClickModal: false})
                .then(action => {
                  this.$router.push("login");
                })
                .catch(res => {
                });
            } else {
              Toast(res.msg);
            }
          }
          this.btnDisabled = false;

        });
      },
      // 删除投注数据
      clearData() {
        this.setCheckItem_mua([]);
      },
      child(e) {
        const ratio = 1 / this.maxScale;
        let percent = (e / ratio).toFixed(2) * 100;
        while (percent % 5 != 0) {
          percent++;
        }
        this.scale = percent / 100;
        bus.$emit("scale", this.scale);
      },
      // clickImg(i, v) {
      //   this.active = i;
      //   this.money = v.value;
      // },
      // 返点显示隐藏
      fanDianShow() {
        this.fanDian = !this.fanDian;
      }
    },
    mounted() {
      bus.$on("playId", msg => {
        // 接收到投注的id号
        if (msg.length > 0) {
          this.id = msg[0];
          this.playId = msg.toString();
        } else {
          this.num = 0;
        }
      });
      bus.$on("present_odds", msg => {
        if (
          this.picherActive == "二全中" ||
          this.picherActive == "二中特之中二" ||
          this.picherActive == "二中特之中特" ||
          this.picherActive == "中二特" ||
          this.picherActive == "特串" ||
          this.picherActive == "二连肖" ||
          this.picherActive == "二连尾"
        ) {
          this.playId = this.id
          this.selected_play = msg;
          this.num = this.choose(msg, 2).length;
        } else if (
          this.picherActive == "三全中" ||
          this.picherActive == "三中二" ||
          this.picherActive == "三连肖" ||
          this.picherActive == "三连尾"
        ) {

          this.num = this.choose(msg, 3).length;
          // console.log(this.choose(msg, 3))
          this.playId = this.id
          this.selected_play = msg;
        } else if (
          this.picherActive == "四连肖" ||
          this.picherActive == "四连尾"
        ) {
          this.num = this.choose(msg, 4).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (
          this.picherActive == "五连肖" ||
          this.picherActive == "五不中"
        ) {
          this.selected_play = msg;
          this.playId = this.id
          this.num = this.choose(msg, 5).length;
        } else if (this.picherActive == "六不中") {
          this.num = this.choose(msg, 6).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == "七不中") {
          this.num = this.choose(msg, 7).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == "八不中") {
          this.num = this.choose(msg, 8).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == "九不中") {
          this.num = this.choose(msg, 9).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == "十不中") {
          this.num = this.choose(msg, 10).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == "十一不中") {
          this.num = this.choose(msg, 11).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == "十二不中") {
          this.num = this.choose(msg, 12).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == '特肖' || this.picherActive == '正肖') {
          console.log(this.picherActive)
          this.num = msg.length;
          this.selected_play = msg;
          this.playId = this.id
        } else {
          this.num = msg.length;
          // this.selected_play = msg;
        }

        // console.log(this.playId);
      });
      bus.$on("picherActive", msg => {
        // 接收兄弟组件传值
        this.picherActive = msg;
      });
    },

  };
</script>

<style scoped lang="less">
  /* 底部投注 */
  .throwInto {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 11;
  }

  .pop-list {
    display: flex;
    flex-direction: column;
    height: 200px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    width: 94px;

    > div {
      flex: 1;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 15px;
      color: #666666;
      border-bottom: 1px solid #ebebeb;
      box-sizing: border-box;
      padding: 0 5px;
    }

    > div:nth-child(1) {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-top: none;
    }

    > div:nth-last-child(1) {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom: none;
    }

    .pop-active {
      color: #fff;
      background: #6C2DFE;
    }
  }

  .gf-throwIntoTop {
    background: #fff;
    padding: 0.1rem 0.3rem;
    display: flex;
    justify-content: space-between;

    .left {
      padding-top: 7px;
      width: 50%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      flex: 1;

      > div:nth-child(1) {
        width: 65%;
        padding-right: 10px;
        flex: 1;
      }

      > div:nth-child(2) {
        width: 35%;
        flex: 1;
      }
    }

    .right {
      width: 50%;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      > div:nth-child(1) {
        flex: 1;
        text-align: center;
        font-size: 15px;
        color: #999999;
      }

      > div:nth-child(2) {
        flex: 1;
      }
    }
  }

  .padded {
    background: #fffde3;
  }

  .iconfont {
    font-size: 24px;
  }

  .icon-question::before {
    color: #fe3959;
    margin-right: 3px;
  }

  .gf-throwIntoMoney {
    border-top: 1px solid #e3e3e3;
    font-size: 14px;
    height: 1rem;
    line-height: 1rem;
    /* text-align: center; */
    background: #fff;
    display: flex;
    justify-content: space-between;

    > div {
      flex: 1;
      text-align: center;
    }

    > div:nth-child(3) {
      text-align: right;
    }
  }

  .icon-lajitong:before {
    position: absolute;
    left: 20px;
    font-size: 18px;
    color: #a4a4a4;
  }

  .icon-fandian::after {
    position: absolute;
    margin-left: 20px;
    font-size: 24px;
    color: #fe3959;
  }

  .icon-fork {
    float: right;
    margin-right: 5px;
    color: #c3c3c3;
  }

  .range_box {
    width: 100%;
    height: 1.4rem;
    background: #fff;
    position: fixed;
    bottom: 0;
  }

  .range_box > p {
    background: #fff;
    font-size: 12px;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: #666;
  }

  .range_box > div {
    /* padding-bottom: 10px;
      line-height: 1; */
    display: flex;
    justify-content: space-around;
  }

  .range_box > div > span {
    display: inline-block;
    color: #999;
    line-height: 1;
  }

  .fandian > i {
    font-style: normal;
    color: #333;
  }

  .tooltip {
    font-size: 36px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 3px;
    text-align: center;
    background-color: #fe3959;
    text-shadow: 0 1px 0 #f3f3f3;
  }
</style>
