<template>
  <div class="alipay">
    <mt-header title="银行卡转账"
               style="background:#fff;color:#000">
      <mt-button slot="left"
                 icon="back"
                 @click.native="backTo"></mt-button>
    </mt-header>
    <p class="txt_p">
      请先转账，完成转账后点击【已完成支付】按钮提交支付信息。
    </p>
    <img :src="msg.icon"
         class="img1"
         style="display:none"
         alt="">
    <my-payee :cashDetail="msg" type="bank"></my-payee>

    <div class="qrcode-con" v-if="msg.qrcode">
      <div style="padding: 0 .3rem .2rem;background:#fff;text-align: center;">
        <img :src="msg.qrcode" alt="">
        <!--<div id="qrcode"></div>-->
      </div>
      <p class="save">请截图保存二维码至支付宝中「扫一扫」进行充值</p>
    </div>

    <div class="btn-cons">
      <div>
        <lay-button theme="positive"
                    :block="true"
                    @click="$router.push('/personal')"
        >已完成支付
        </lay-button>
      </div>
      <div>
        <lay-button theme="gray"
                    :block="true"
                    :full="true"
                    @click="cancel"
        >未支付
        </lay-button>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import MyPayee from "@/bass/payee";
  import {offlineWayInfo_api, offlineSubmit_api, get_recharge_cancel} from "@/common/api";
  import {setTimeout} from 'timers';
  import LayButton from "@/vlayui/LayButton";
  import LayoutPage from "@/vlayui/Layout/page";
  import {Toast, MessageBox} from "mint-ui";

  export default {
    components: {
      LayButton,
      LayoutPage,
      MyHeader,
      MyPayee
    },
    created() {
      this.msg = this.$route.query;
    },
    data() {
      return {
        msg: {
          qrcode: '',
          icon: '',
          title: "",
          amount: 0,

        },
        time: ''
      };
    },
    methods: {
      backTo() {
        this.$router.push('/center');
      },
      cancel() {
        return get_recharge_cancel().then(res => {
          if (res && res.code === 200) {
            this.$router.push("recharge");
          } else {
            return Toast(res.message);
          }
        })
      }
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .div_box {
    padding: 0.2rem 0.48rem;

    > div {
      padding: 0.2rem;
      border: 1px solid #efefef;
      border-radius: 5px;
      font-size: 12px;
      color: #ff754e;

      > p {
        text-align: start;
        line-height: 1.7;
      }
    }
  }

  .btn-cons {
    width: 92%;
    margin: 0 auto;

    > div {
      float: left;
      width: calc(50% - 20px);
      padding: 10px;
    }
  }

  .qrcode-con {
    margin-top: 20px;

    img {
      width: 200px;
      margin: 0 auto;
    }

  }

  .alipay {
    color: #333;
    font-size: 14px;

    p {
      text-align: center;
    }
  }

  .sao {
    font-size: 16px;
    margin-bottom: 0.235rem;
  }

  .save {
    width: 2rem;
    margin: 0.2rem auto 0;
    padding: 0.11rem 0.18rem;
    border-radius: 5px;
    color: #6c2dfe;
  }

  .txt_p {
    height: 0.515rem;
    line-height: 0.515rem;
    font-size: 12px;
    text-align: center;
    color: #ff3f1e;
    background: #fff1ec;
  }

  .login {
    width: 92%;
    padding: 0 0.3rem;
    position: relative;
  }

  .mint-swipe {
    height: 3rem;
  }

  .mint-swipe-item > img {
    width: 100%;
    height: 100%;
  }

  .bor {
    height: 1rem;
    line-height: 1rem;
    background: #fff;
    margin-top: 10px;
  }

  .bor > small {
    float: none;
    background: #ffce6f;
    padding: 1px 5px;
    border-radius: 50%;
    color: #333;
    margin-right: 3px;
  }

  .code {
    font-size: 12px;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0.2rem 0.2rem;
  }
</style>
