<template>
  <div class="recharge">
    <!-- <mt-header title="充值">
      <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
      <mt-button style="fontSize:14px" slot="right" @click="goToRechargeReport">充值记录</mt-button>
    </mt-header> -->
    <user-msg></user-msg>
    <!-- <div style="padding:0 .3rem;fontSize:14px">
      <ul style="padding-bottom:0">
        <li class="border_bottom" v-for="(item,i) in onlineMsg" :key="i" is-link
            @click="goRecharge('/onLine',{datamsg:item})">
          <img slot="icon" :src="item.icon" width="24" height="24" style="margin-right:.2rem;">
          <span>{{item.name}}</span>
          <i class="mint-cell-allow-right"></i>
        </li>
      </ul>
      <ul style="padding-top:0">
        <li class="border_bottom" v-for="(v,s) in offlineMsg" :key="s" is-link @click="goRecharge(v.type,{id:v.id})">
          <img slot="icon" :src="v.icon" width="24" height="24" style="margin-right:.2rem;">
          <span>{{v.name}}</span>
          <i class="mint-cell-allow-right"></i>
        </li>
      </ul>
    </div>-->
  </div> 
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {Toast} from "mint-ui";
  import UserMsg from'./usermsg'

  export default {
    created() {},
    methods: {
      backto() {
        this.$router.push('/center');
      },
      goToRechargeReport() {
        this.$router.push('/rechargeRecord');
      },
      goRecharge(path, query) {
        this.$router.push({
          path: path,
          query: query
        })
      }
    },
    data() {
      return {
        onlineMsg: {},
        offlineMsg: {}
      };
    },
    components: {
      MyHeader,
      UserMsg
    }
  };
</script>

<style scoped>
  .mint-navbar .mint-tab-item.is-selected {
    border: 0;
    color: #fe3959;
  }

  .mint-tab-item {
    position: relative;
  }

  .is-selected::after {
    margin-bottom: -3px;
    font-size: 15px;
    background-color: #fe3959;
    position: absolute;
    right: 0;
    top: 0.9rem;
    left: 30%;
    height: 3px;
    content: "";
    width: 40%;
    /* -webkit-transform: scaleY(.5); */
    /* transform: scaleY(.5); */
  }

  .mint-navbar .mint-tab-item-label {
    font-size: 15px;
  }

  .mint-tab-container {
    margin-top: 0.1rem;
  }

  .recharge ul {
    padding: .3rem;

  }

  .recharge ul > li {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    height: 1rem;;
  }

  .recharge ul > li span, img {
    vertical-align: middle;
  }

  .mint-cell-allow-right::after {
    right: 0;
  }

  .border_bottom:after {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    content: '';
    width: 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    /*该颜色在火狐下会生成两条线*/
    background-color: rgba(0, 0, 0, .3);
  }
</style>
