<template>
 <div>
    <my-header></my-header>
    <div class="code">
        <p>扫描或保存下方二维码完成支付</p>
        <div id='qrcode'></div>
        <p>
            <mt-button type="danger" size="normal">立即支付</mt-button>
            <mt-button type="danger" size="normal">立即支付</mt-button>  
        </p>
        
    </div>
    <div class="msg">
        <b>温馨提示：</b>
        <p>1. 保存二维码到相册</p> 
        <p>2. 打开微信扫一扫，点击右上角相册，从相册中选择保存的二维码扫描</p>
        <p>3. 支付完成后，联系在线客服确认加钱</p> 
    </div>
 </div>
</template>

<script type="text/ecmascript-6">
import MyHeader from '@/bass/header'
import QRCode from 'qrcodejs2'
  export default{
    data(){
      return {
        codes:''
      }
    },
    mounted () {
        this.qrcode()
    },
    methods:{
        qrcode () {
        let qrcode = new QRCode('qrcode', {
            width: 200,
            height: 200, // 高度
            text: 'wanghongwei' // 二维码内容
            // render: 'canvas' // 设置渲染方式（有两种方式 table和canvas，默认是canvas）
            // background: '#f0f'
            // foreground: '#ff0'

            })
        }
    },
    components:{
        MyHeader
    }
  }
</script>

<style scoped>
.code {
  font-size: 14px;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: .5rem .2rem .2rem;
}
.code > span {
  font-size: 28px;
  color: #000;
  margin: 0 auto .5rem;
}
#qrcode{
    margin: .15rem auto 0;
}

#qrcode+p{
    margin:.5rem 0 .5rem;
    display: flex;
    justify-content: space-between;
}
.mint-button--normal{
    width: 47%;
}
</style>
