<template>
  <div class="lay-range" :class="{
    'range-assertive': theme === 'assertive',
    'range-positive': theme === 'positive',
    'range-balanced': theme === 'balanced',
    'range-energized': theme === 'energized',
    'range-calm': theme === 'calm',
    'range-royal': theme === 'royal',
    'range-dark': theme === 'dark',
    'lay-large-range': size === 'large',
    'lay-center-range': size === 'center',
    'lay-small-range': size === 'small',
  }">
    <slot name="text-left">
      <span v-text="min"></span>
    </slot>

    <input type="range" :min="min" :max="max" :value="v" @change="onChange($event.target.value)">

    <slot name="text-right">
      <span v-text="max"></span>
    </slot>
  </div>
</template>
<script>

  export default {
    props: {
      value: Number,
      min: Number,
      max: Number,
      theme: {
        type: String,
        default: 'assertive'
      },
      size: {
        type: String,
        default: 'center' //large center small
      }
    },

    computed: {
      v: function () {
        return this.value
      }
    },

    methods: {
      onChange(value) {
        console.log(value);
        this.v = value;
        this.$emit('input', parseInt(value))
      }
    }
  }
</script>


<style scoped lang="less" rel="stylesheet/less">
  .lay-range input {
    display: inline-block;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: auto;
    outline: none;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ccc), color-stop(100%, #ccc));
    background: linear-gradient(to right, #ccc 0%, #ccc 100%);
    background-position: center;
    background-size: 99% 2px;
    background-repeat: no-repeat;
    -webkit-appearance: none
  }

  .lay-range input::-moz-focus-outer {
    border: 0
  }

  .lay-range input::-webkit-slider-thumb {
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-appearance: none;
    border: 0
  }

  .lay-large-range input::-webkit-slider-thumb {
    width: 32px;
    height: 32px;
  }

  .lay-center-range input::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
  }

  .lay-small-range input::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
  }

  .lay-range input::-webkit-slider-thumb:before {
    position: absolute;
    top: 13px;
    left: -2001px;
    width: 2000px;
    height: 2px;
    background: #484746;
    content: ' '
  }

  .lay-range input::-webkit-slider-thumb:after {
    position: absolute;
    top: -15px;
    left: -15px;
    padding: 30px;
    content: ' '
  }

  .lay-range input::-ms-fill-lower {
    height: 2px;
    background: #484746
  }

  .lay-range {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }

  .lay-range.range-light input::-webkit-slider-thumb:before {
    background: #ddd
  }

  .lay-range.range-light input::-ms-fill-lower {
    background: #ddd
  }

  .lay-range.range-stable input::-webkit-slider-thumb:before {
    background: #b2b2b2
  }

  .lay-range.range-stable input::-ms-fill-lower {
    background: #b2b2b2
  }

  .lay-range.range-positive input::-webkit-slider-thumb:before {
    background: #4a90e2
  }

  .lay-range.range-positive input::-ms-fill-lower {
    background: #4a90e2
  }

  .lay-range.range-calm input::-webkit-slider-thumb:before {
    background: #11c1f3
  }

  .lay-range.range-calm input::-ms-fill-lower {
    background: #11c1f3
  }

  .lay-range.range-balanced input::-webkit-slider-thumb:before {
    background: #4c0
  }

  .lay-range.range-balanced input::-ms-fill-lower {
    background: #4c0
  }

  .lay-range.range-assertive input::-webkit-slider-thumb:before {
    background: #ea5a49
  }

  .lay-range.range-assertive input::-ms-fill-lower {
    background: #ea5a49
  }

  .lay-range.range-energized input::-webkit-slider-thumb:before {
    background: #ffbd17
  }

  .lay-range.range-energized input::-ms-fill-lower {
    background: #ffbd17
  }

  .lay-range.range-royal input::-webkit-slider-thumb:before {
    background: #b5b5b5
  }

  .lay-range.range-royal input::-ms-fill-lower {
    background: #b5b5b5
  }

  .lay-range.range-dark input::-webkit-slider-thumb:before {
    background: #484746
  }

  .lay-range.range-dark input::-ms-fill-lower {
    background: #484746
  }

  .lay-range .icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    -moz-box-flex: 0;
    -moz-flex: 0;
    -ms-flex: 0;
    flex: 0;
    display: block;
    min-width: 24px;
    text-align: center;
    font-size: 24px
  }

  .lay-range input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
  }

  .lay-range-label {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    white-space: nowrap
  }

  .lay-range-label:first-child {
    padding-left: 5px
  }

  .lay-range input + .lay-range-label {
    padding-right: 5px;
    padding-left: 0
  }
</style>


