<template>
  <div class="add-card">
      <p class="bor radius4">
        <span>开户姓名：</span>
        <i class="mint-cell-allow-right none" v-if="nameShow">{{name}}</i>
        <input
          v-if="!nameShow"
          type="text"
          class="mint-field-core"
          @change="check( /^[\u4e00-\u9fa5]{2,4}$/,req.person)"
          placeholder="请填写真实姓名，提交后无法修改"
          v-model="req.person"
        >
      </p>
      <p class="bor radius4">
        <span>银行卡号：</span>
        <input
          type="number"
          class="mint-field-core"
          @change="bankCheck(req.cardno)"
          placeholder="请输入银行卡的卡号"
          v-model="req.cardno"
        >
      </p>
      <p class="bor radius4" @click="_showBank">
        <span>开户银行：</span>
        <i class="mint-cell-allow-right" :style="color?'color:#333':'color:#ccc'">{{req.bank}}</i>
      </p>
      <p class="bor radius4" @click="_showLinkage">
        <span>开户省市：</span>
        <i class="mint-cell-allow-right" :style="req.province?'color:#333':'color:#ccc'">{{address}}</i>
      </p>
      <p class="bor radius4">
        <span>开户支行：</span>
        <input
          type="text"
          class="mint-field-core"
          @input="bankitem( /^[\u4e00-\u9fa5]+$/,req.subbranch)"
          placeholder="请输入银行账户的开户支行"
          v-model="req.subbranch"
        >
      </p>
      <transition name="fade">
        <bank @bankcard="_bank" v-show="showBank"></bank>
      </transition>
      <transition name="fade">
        <site @getLinkage="_showChildMsg" v-show="showLinkage"></site>
      </transition>
  </div>
</template>

<script>
  import Site from "@/bass/site";
  import Bank from "@/bass/bank";
  import { Toast } from "mint-ui";
  import { luhnCheckBankCard } from "@/common/config";

  export default {
    created() {
      let realName = JSON.parse(sessionStorage.getItem("msg")).realname;
      // let realName = sessionStorage.getItem('realname')
      if (
        (this.$route.params.msg && this.$route.params.msg != "") ||
        realName != ""
      ) {
        // 有姓名
        this.name = this.$route.params.msg || realName;
        this.req.person = this.name;
        this.vali.person = true
        this.nameShow = true;
      } else {
        this.nameShow = false;
      }
    },
    data() {
      return {
        name: "",
        nameShow: false,
        showBank: false,
        showLinkage: false,
        color: false,
        address: "请选择",
        vali: {
          bank: false,
          cardno: false,
          person: false,
          province: false,
          subbranch: false
        },
        req: {
          bank: "请选择银行", // 开户银行
          subbranch: "", // 开户支行
          cardno: "", //银行卡号
          person: "", //开户姓名
          province: "", // 省
          city: "" // 市
        }
      };
    },
    methods: {
      // 银行卡号格式化
      bankInput(val) {
        if (/\S{5}/.test(val)) {
          this.req.cardno = val.replace(/\s/g, "").replace(/(.{4})/g, "$1 ");
        }
      },
      // 验证
      check(reg, val) {
        if (reg.test(val)) {
          this.vali.person = true;
        } else {
          Toast("真实姓名应由2-4个汉字组成");
          this.vali.person = false;
        }
      },
      bankCheck(val) {
        // console.log(luhnCheckBankCard(val))
        if (/^(\d{16}|\d{19})$/.test(val)) {
          this.vali.cardno = true;
        } else {
          Toast("银行卡号输入不正确");
          this.vali.cardno = false;
        }
      },
      bankitem(reg, val) {
        if (reg.test(val)) {
          this.vali.subbranch = true;
        } else {
          Toast("请输入正确的支行名称");
          this.vali.subbranch = false;
        }
      },
      _bank(msg) {
        if (msg) {
          if (msg[0].length > 0) {
            this.req.bank = msg[0];
            this.vali.bank = true;
            this.color = true;
          }
        }
        this.showBank = false;
      },
      _showBank() {
        this.showBank = true;
      },
      _showChildMsg(msg) {
        //接收子组件数据
        // console.log(msg);
        if (msg) {
          this.vali.province = true;
          this.req.city = msg.id.city;
          this.req.province = msg.id.province;
          if (msg.name.city) {
            this.address = msg.name.province + " > " + msg.name.city;
          }
          // this.id = msg.id;
        }
        this.showLinkage = false;
      },
      _showLinkage() {
        this.showLinkage = true;
      }
    },
    watch: {
      vali: {
        handler(n) {
          console.log(n)
          if (n.cardno && n.person && n.province && n.bank && n.subbranch) {
            this.$emit("bankMsg", this.req);
          }
        },
        deep: true
      }
    },
    components: {
      Site,
      Bank
    }
  };
</script>

<style scoped lang="less">
.add-card {
  background: #efefef;


  .bor {
    position: relative;
    font-size: 15px;
    background: #fff;
    padding-left: 0.3rem;
    color: #000;
    margin-bottom: 10px;
  }

  .bor > i {
    font-style: normal;
    font-size: 14px;
  }

  .mint-field-core {
    width: 70%;
    padding: 0;
    margin: 0;
  }

  .mint-cell-allow-right {
    font-size: 0.28rem;
    padding-right: 0.5rem;
    color: #999;
  }

  .picker-toolbar > span {
    font-size: 16px;
    padding: 5px;
  }

  .none::after {
    display: none;
  }

  input::-webkit-input-placeholder {
    font-size: 14px;
  }

  .radius4{
    border-radius: 4px;
  }

  /* .add-card  .picker-slot {
      padding-bottom: 51px !important;
    } */
}
</style>






