<template>
 <div class="page">

 </div>
</template>

<script type="text/ecmascript-6">
export default {
 data() {
 return {

 }
 },
 components: {

 }
}
</script>

<style scoped lang="less" rel="stylesheet/less">
</style>
