<template>
  <div class="page-item">
    <p class="money_p">
      <span class="img_span">
        <img src="../assets/zhuanzhang.png"
             class="img1"
             v-show="type==='bank'"
             alt="bank"
        >
        <img src="../assets/zfb.png"
             class="img1"
             v-show="type==='alipay'"
             alt="bank"
        >
         <img src="../assets/wx.png"
              class="img1"
              v-show="type==='wxpay'"
              alt="bank"
         >
        <span>转账金额</span>
      </span>
      <span class="amount">¥{{cashDetail.amount}}</span>
    </p>
    <div class="receive">收款人信息</div>
    <p class="re-item" v-show="type==='bank'">招商银行</p>
    <p class="re-item">{{cashDetail.person}}</p>
    <p class="re-item">{{cashDetail.account}}<span @click="copyText(cashDetail.account)">复制</span></p>
  </div>
</template>

<script type="text/ecmascript-6">
  import {Toast} from "mint-ui";
  import copy from "copy-to-clipboard";

  export default {
    props: ["cashDetail", "type"],
    methods: {
      copyText(e) {
        copy(e);
        Toast("复制成功");
      }
    },
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .receive {
    font-size: 18px;
    color: #333333;
    letter-spacing: -0.25px;
    font-weight: bold;
    height: 0.9rem;
    line-height: 0.9rem;
  }

  .page-item {
    margin: 0 0.56rem;
    background: #fff;
    padding-bottom: .2rem;
    border-bottom: 1px solid #E7E7E7;
  }

  .money_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.7rem 0 0.8rem;

    .img_span {
      > img {
        width: 0.43rem;
        height: 0.43rem;
        vertical-align: middle;
        margin-right: 0.1rem;
      }

      > span {
        vertical-align: middle;
        font-size: 14px;
      }
    }

    .amount {
      font-size: 28px;
      margin-top: 0.2rem;
      font-weight: bold;
    }
  }

  .re-item {
    font-size: 16px;
    color: #333333;
    letter-spacing: -0.23px;
    height: 0.6rem;
    line-height: 0.6rem;

    > span {
      float: right;
      font-size: 13px;
      color: #999999;
      letter-spacing: 0;
      text-align: center;
      border: 1px solid #999999;
      width: 40px;
      height: 20px;
      line-height: 20px;
      border-radius: 20px;
      margin-top: 5px;
    }
  }
</style>
