<template>
  <div>
    <div class="center">
      <div class="pay-tool-title border-bottom">
        <strong>{{title}}</strong>
      </div>
      <div class="pay-tool-content">
        <div class="pay-tool-inputs">
          <div class="item" v-for="(i,v) in items" :key="v">
            <span class="icon_dot" v-if="password[i]"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="pay-tool">

      <div class="pay-tool-keyboard">
        <ul>
          <li @click="keyUpHandle($event)" v-for="(val,i) in keys" :key="i">
            {{ val }}
          </li>
          <li class="del" @click="delHandle">
            <span class="icon-del">X</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

</template>

<script>
import { moneypwdChange_api, moneypwdCheck_api } from "@/common/api";
import { Toast } from "mint-ui";
const keys = () => [1, 2, 3, 4, 5, 6, 7, 8, 9, "", 0];
// let sendFlag = true // 防止重复发送密码
export default {
  created() {
    this.issetPwd = window.sessionStorage.getItem("setPwd");
    // console.log(this.issetPwd);
    this.issetPwd == "false"
      ? (this.title = this.msg.sz)
      : (this.title = this.msg.old);
  },
  data() {
    return {
      items: [0, 1, 2, 3, 4, 5],
      keys: keys(),
      setPwd: {}, // 参数对象
      password: [],
      state: 0, // 设置还是修改密码
      title: "",
      msg: {
        sz: "请设置资金密码",
        cf: "请再次输入资金密码",
        old: "请输入旧资金密码",
        newp: "请输入新资金密码",
        cfnewp: "再次输入新资金密码"
      }
    };
  },
  methods: {
    backHandle() {
      this.clearPasswordHandle(); // 返回时清除password
      this.$emit("backFnc"); // 返回上级
    },
    keyUpHandle(e) {
      let text = e.currentTarget.innerText;
      // console.log(text);
      let len = this.password.length;
      if (!text || len >= 6) return;
      this.password.push(text);
      this.ajaxData();
    },

    backHandle() {
      this.clearPasswordHandle(); // 返回时清除password
      this.$emit("backFnc"); // 返回上级
    },
    keyUpHandle(e) {
      let text = e.currentTarget.innerText;
      console.log(text);
      let len = this.password.length;
      if (!text || len >= 6) return;
      this.password.push(text);
      this.ajaxData();
    },
    delHandle() {
      if (this.password.length <= 0) return false;
      this.password.shift();
    },
    ajaxData() {
      if (this.password.length >= 6) {
        // console.log(this.password)
        let password = this.password.join(" ").replace(/\s/g, "");
        // 已设置支付密码需修改
        if (this.issetPwd == "true") {
          // 输入旧资金密码
          if (this.title == this.msg.old) {
            this.setPwd.fundpwd = password; // 旧资金密码验证
            this.setPwd.oldpwd = password;  // 旧资金密码赋值
            moneypwdCheck_api(this.setPwd).then(res => {
              if (res.code == 200) {
                this.title = this.msg.newp;
                this.clearPasswordHandle();
              } else {  
                this.clearPasswordHandle();  //如果失败清空密码框
                this.setPwd.fundpwd=''
                this.setPwd.oldpwd=''
                Toast(res.msg);
              }
            });
            return;
          }
          // 输入新资金密码
          if (this.title == this.msg.newp) {
             this.setPwd.oldPwd1 = password;
          
            if (this.setPwd.oldPwd1  == this.setPwd.fundpwd) {
              Toast("新密码与旧密码一致，请重新输入");
              this.clearPasswordHandle();
              this.setPwd.oldPwd1=''
              return;
            }
            this.title = this.msg.cfnewp;
            this.clearPasswordHandle();
            return;
          }
          // 再次输入新资金密码
          if (this.title == this.msg.cfnewp) {
            this.setPwd.newpwd = password;
            if (this.setPwd.oldPwd1  == this.setPwd.newpwd) {
              moneypwdChange_api(this.setPwd).then(res => {
                
                if(res.code==200){
                   // Toast({
                //   message: "操作成功",
                //   iconClass: "iconfont icon-chenggong"
                // });
                // setTimeout(() => {
               
                  this.$router.push("/personal");
                // }, 2000);
                }else{
                  Toast(res.msg)
                }
               
              });
              return;
            }else{
              Toast('两次输入不一致')
            }

            this.clearPasswordHandle();
          }
        }
        // 没有设置支付密码
        if (this.issetPwd == "false") {
          if (this.title == this.msg.sz) {
            this.setPwd.oldpwd = password;
            this.title = this.msg.cf;
            this.clearPasswordHandle();
            return;
          }
          if (this.title == this.msg.cf) {
            this.setPwd.newpwd = password;
            if (this.setPwd.newpwd == this.setPwd.oldpwd) {
              moneypwdChange_api(this.setPwd).then(res => {
                if (res.code == 200) {
                  sessionStorage.setItem("setPwd", 'true');
                  // Toast({
                  //   message: "操作成功",
                  //   iconClass: "iconfont icon-chenggong"
                  // });
                  // setTimeout(() => {
                    window.history.back();

                  // }, 2000);
                } else {
                  Toast(res.msg);
                }
              });
            } else {
              Toast("两次密码输入不一致");
            }
          }
        }
        return false;
      }
    },
    clearPasswordHandle: function() {
      this.password = [];
    }
  }
};
</script>

<style scoped>
ul {
  padding: 0;
}
li {
  list-style: none;
}

.mintui {
  float: left;
  padding-left: 10px;
}
.pay-tool {
  position: absolute;
  bottom: 0;
  height: 7.1rem;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 11;
}
.pay-tool-title {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  overflow: hidden;
}
.pay-tool-title .icon {
  float: left;
  margin-top: 0.72222222rem;
}
.pay-tool-title strong {
  font-size: 16px;
}
.pay-tool-content .pay-tool-inputs {
  /* height: 1rem; */
  width: 80%;
  margin: 0 auto;
  border: 1px solid #b9b9b9;
  /* border-radius: 0.26666666rem; */
  /* box-shadow: 0 0 1px #e6e6e6; */
  /* -webkit-box-shadow: 0 0 1px #e6e6e6; */
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
}
.pay-tool-content .pay-tool-inputs >.item {
  width: 16.4%;
  height: 1rem;
  border-right: 1px solid #b9b9b9;
  line-height: 1.4rem;
  text-align: center;
  padding: 0;
}
.pay-tool-content .pay-tool-inputs .item:last-child {
  border-right: none;
}
.pay-tool-content .pay-tool-inputs .item .icon_dot {
  display: inline-block;
  width: 0.51111111rem;
  height: 0.51111111rem;
  background: #000;
  border-radius: 50%;
  background-size: cover;
}
.pay-tool-content .pay-tool-link {
  padding: 0.2rem 0 0 0.8rem;
  text-align: right;
}
.pay-tool-content .pay-tool-link .link {
  font-size: 0.3rem;
  color: #3c8cfb;
}
.pay-tool .pay-tool-keyboard {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.pay-tool .pay-tool-keyboard ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pay-tool .pay-tool-keyboard ul li {
  width: 33%;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  border-right: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
  font-size: 0.5rem;
  font-weight: bold;
}
.pay-tool .pay-tool-keyboard ul li:nth-child(1),
.pay-tool .pay-tool-keyboard ul li:nth-child(2),
.pay-tool .pay-tool-keyboard ul li:nth-child(3) {
  border-top: 1px solid #eee;
}
.pay-tool .pay-tool-keyboard ul li:nth-child(3),
.pay-tool .pay-tool-keyboard ul li:nth-child(6),
.pay-tool .pay-tool-keyboard ul li:nth-child(9),
.pay-tool .pay-tool-keyboard ul li:nth-child(12) {
  border-right: none;
}
.pay-tool .pay-tool-keyboard ul li:nth-child(10),
.pay-tool .pay-tool-keyboard ul li:nth-child(11),
.pay-tool .pay-tool-keyboard ul li:nth-child(12) {
  border-bottom: none;
}
.pay-tool .pay-tool-keyboard ul li:nth-child(10),
.pay-tool .pay-tool-keyboard ul li:nth-child(12),
.pay-tool .pay-tool-keyboard ul li:active {
  background-color: #d1d4dd;
}
.pay-tool .pay-tool-keyboard ul li:nth-child(12):active {
  background-color: #fff;
}

.center {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 12;
}
</style>
