<template>
  <div class="ki-table-con">
    <table class="ki-table">
      <tr class="header-tr" :class="bankList?'width1':''">
        <td v-for="(item,index) in header" :key="index">{{item}}</td>
      </tr>
      
      <tr v-for="(item,index) in data"  :class="bankList?'width1':''" :key="index">
        <td v-for="(col,col_index) in column" :key="col_index">{{item[col]}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
  export default {
    props: {
      data: Array,
      header: Array,
      column: Array
    },
    computed:{
      bankList(picker, values) {
        return this.header.includes('电子游艺')
      }
    }
  };
</script>

<style scoped lang="less">
  .ki-table-con {
    width: 100%;
  }
  .ki-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: normal;

    tr {
      width: 100%;
      height: 32px;
      line-height: 32px;
      text-align: center;
      display: flex;
      border-top: 1px solid rgba(217, 217, 217, 1);
      border-left: 1px solid rgba(217, 217, 217, 1);
      border-right: 1px solid rgba(217, 217, 217, 1);
    }

    tr:nth-last-child(1) {
      border-bottom: 1px solid rgba(217, 217, 217, 1);
    }
  
    tr:nth-child(odd) {
      background: rgba(249, 249, 249, 1);
    }

    .header-tr {
      background: rgba(242, 242, 242, 1) !important;
    }

    td {
      flex: 1;
      border-right: 1px solid rgba(217, 217, 217, 1);
    }

    td:nth-last-child(1) {
      border-right: none;
    }
   .width1 td:nth-child(5) {
      flex: 1.5;
    }
  }
     
</style>






