<template>
 <div class="page">
      <mt-header title="添加银行卡">
          <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
          <mt-button v-if="list.length<5" slot="right" @click="addCard" style="fontSize:14px">新增</mt-button>
        </mt-header>
        <ul >
              <li class="picList iconfont " v-for="(item,i) in list" :key="i"  :class="active == item.id?'icon-duigou':''" @click="selected(item.id)">
                    <img :src="item.icon">
                    <div>
                        {{item.bank}}
                        <p>尾号（{{item.cardno}}）</p>
                    </div>
         
            </li>
        </ul>
           
           
 </div>
</template>

<script type="text/ecmascript-6">
import MyHeader from '@/bass/header'
import { cardList_api ,bankcard_default_api } from "@/common/api";
import { Toast } from "mint-ui";
export default {
   created() {
    cardList_api().then(res => {
      if (res.code == 200) {
        this.list = res.data;
        this.active = sessionStorage.getItem('cardNum')
        res.data.length>0?this.name = res.data[0].person: this.name = ''
      } else {
        Toast(res.msg);
      }
    });
  },
  data() {
    return {

      list: [],
      active:'',
      name:'',
      backgroundList:[]
    };
  },
 components: {
    MyHeader
 },
  methods: {
       selected(name) {
       this.active = name;
         bankcard_default_api({id:name}).then(res=>{
                if(res.code==200){
                  // Toast('修改成功')
                  sessionStorage.setItem('cardNum',this.active)
                  window.history.back();
                }else{
                  Toast(res.msg)
                }
              })
    },
    addCard() {
     this.$router.push({
        name:"AddCard",
        params:{
          msg:this.name
        }
        })
      
     
    },
    backto(){
      window.history.back()
    }
  },
  mounted() {
    (function() {
      document.body.style.background = "#f2f2f2";
    })();
  },
  watch: {
    $router: function(to, from) {
      console.log(this.$route.path);
    }
  },
  beforeDestroy() {
    (function() {
      document.body.style.background = "#fff";
    })();
  },

};

</script>

<style scoped>
.picList{
    padding: .3rem
}
.mint-cell-allow-right::after{
    display: none;
}
.iconfont::before{
    float: right;
    color: #4A73C5;
    margin-top: 2%;
}
.page ul{
    background: #fff;
    padding: 0 .3rem;
}
.page ul>li{
    border-bottom: 1px solid #e0e0e0;
}
.page ul>li:last-child{
  border-bottom: 0;
}
</style>
