<template>
  <div class="zoushi">
    <header>
      <span>{{title}}</span>
      <i class="iconfont icon-fork" @click="goBack"></i>
    </header>
    <div class="my_content">
      <!-- <mt-navbar v-model="selected">
         <mt-tab-item id="1" @click.native="tabItem('result')">结果</mt-tab-item>
         <mt-tab-item id="2" @click.native="tabItem('total_num')">总和</mt-tab-item>
         <mt-tab-item id="3" @click.native="tabItem('special_code')">特码</mt-tab-item>
         <mt-tab-item id="4" @click.native="tabItem('prophecy')">预测</mt-tab-item>
       </mt-navbar>-->

      <mt-tab-container v-model="selected">

        <mt-tab-container-item id="1">
          <div class="item1" style="display:block;">
            <p class="my_title">
              <span style="flex:0.98;">期数</span>
              <span style="flex: 1;">时间</span>
              <span style="flex: 7;">开奖结果</span>
              <!--  <span>正一</span>
                <span>正二</span>
                <span>正三</span>
                <span>正四</span>
                <span>正五</span>
                <span>正六</span>
                <span>特码</span>-->
            </p>
            <p class="my_cont" v-for="(item,i) in trend_info" :key="i">
              <span style="flex: 2;">{{filterPeriod(item.period.slice(-4))}}</span>
              <span>{{(item.time).slice(-5)}}</span>
              <span v-for="(item,i) in item.award_number" :key="i">
<!--                  <i class='Mcolor' :class="filter1(item.num)">{{item.num}}</i>-->
                  <i class='Mcolor' :class="filterDHF(i)">{{item.num}}</i>
                  <span style="color: #999;font-weight: bold;font-size: 12px;">{{item.shengxiao}}</span>
              </span>

            </p>
            <span style="display: block" class="borders"></span>
          </div>
        </mt-tab-container-item>


        <mt-tab-container-item id="2">
          <div class="item1" style="display:block">
            <p class="my_title">
              <span style="flex: 2;">期数</span>
              <span>时间</span>
              <span>总数</span>
              <span>单双</span>
              <span>大小</span>

            </p>
            <p class="my_cont" v-for="(item,i) in trend_info" :key="i">
              <!-- {{item}} -->
              <span style="flex: 2;">{{filterPeriod(item.period.slice(-4))}}</span>
              <span>{{(item.time).slice(-5)}}</span>
              <span>{{item.total_count}}</span>
              <span>{{item.single_double}}</span>
              <span>{{item.small_big}}</span>

            </p>
          </div>
        </mt-tab-container-item>

        <mt-tab-container-item id="3">

          <div class="item1" style="display:block">
            <p class="my_title">
              <span style="flex: 2;">期数</span>
              <span>时间</span>
              <span>单双</span>
              <span>大小</span>
              <span>合单双</span>
              <span>合大小</span>
              <span>大小尾</span>
            </p>
            <p class="my_cont" v-for="(item,i) in trend_info" :key="i">
              <!-- {{item}} -->
              <span style="flex: 2;">{{filterPeriod(item.period.slice(-4))}}</span>
              <span>{{(item.time).slice(-5)}}</span>

              <span :class="filter(item.single_double)">{{item.single_double}}</span>
              <span :class="filter(item.small_big)">{{item.small_big}}</span>
              <span :class="filter(item.he_single_double)">{{item.he_single_double}}</span>

              <span :class="filter(item.he_small_big)">{{item.he_small_big}}</span>

              <span :class="filter(item.wei_small_big)">{{item.wei_small_big}}</span>

            </p>
          </div>
        </mt-tab-container-item>

        <mt-tab-container-item id="4">
          <div class="forecast" v-for="(item,i) in trend_info" :key="i">
            <p>{{item.time}}
              <span style="color:#4A73C5">第{{item.period}}期</span>
            </p>
            <div class="item1">
              <div class="zuo">
                <p>
                  <b style="color:#333">位置</b>
                </p>
                <p>
                  <b class="">正码一</b>
                </p>
                <p>
                  <b class="">正码二</b>
                </p>
                <p>
                  <b class="">正码三</b>
                </p>
                <p>
                  <b class="">正码四</b>
                </p>

                <p>
                  <b class="">正码五</b>
                </p>
                <p>
                  <b class="">正码六</b>
                </p>
                <p>
                  <b class="">特码</b>
                </p>
                <p>
                  <b class="">总肖</b>
                </p>
                <p>
                  <b class="">五行</b>
                </p>

              </div>
              <div class="you2">
                <p>
                  <b>预测</b>
                </p>
                <p v-for="(v,k) in item.pro_info" :key="k">
                  {{(v).join(' ')}}
                </p>
              </div>
            </div>
          </div>
        </mt-tab-container-item>
      </mt-tab-container>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import {lotteryAwardTrend_api} from "@/common/api";
  import {stringColors} from "@/common/config";

  export default {
    created() {
      this.data.lottery_id = this.$route.params.id;
      this.title = this.$route.params.title;
      if (this.$route.params.type) {
        this.selected = this.$route.params.type;
        this.data.index_select = "prophecy";
      }
      this.ajax();
    },
    data() {
      return {
        selected: "1",
        active: "号码",
        numberActive: "",
        awardnumber: "",
        title: "",
        type_select: [
          {name: "正一", type_select: "num"},
          {name: "正二", type_select: "big_small "},
          {name: "正三", type_select: "num"},
          {name: "正四", type_select: "big_small "},
          {name: "正五", type_select: "num"},
          {name: "正六", type_select: "big_small "},
          {name: "特码", type_select: "big_small "}
        ],
        number: [
          {num: "1", active: false},
          {num: "2", active: false},
          {num: "3", active: false},
          {num: "4", active: false},
          {num: "5", active: false},
          {num: "6", active: false},
          {num: "7", active: false},
          {num: "8", active: false},
          {num: "9", active: false},
          {num: "10", active: false}
        ],
        type: [
          {num: "大", active: false},
          {num: "小", active: false},
          {num: "单", active: false},
          {num: "双", active: false},
          {num: "清除", active: false}
        ],
        data: {
          lottery_id: 0,
          index_select: ""
        },
        trend_info: [],
        hot: []
      };
    },
    methods: {
      filterPeriod(str) {
        if (str[0] == '0') {
          return str.slice(1)
        } else {
          return str
        }
      },
      filter1(num) {
        num = String(num);
        if ([
          "3",
          "4",
          "9",
          "10",
          "14",
          "15",
          "20",
          "25",
          "26",
          "31",
          "36",
          "37",
          "41",
          "42",
          "47",
          "48"
        ].includes(num)) {
          return " lan";
        } else if (
          ["5",
            "6",
            "11",
            "16",
            "17",
            "21",
            "22",
            "27",
            "28",
            "32",
            "33",
            "38",
            "39",
            "43",
            "44",
            "49"].includes(num)) {
          return " lv";
        } else if (
          ["1",
            "2",
            "7",
            "8",
            "12",
            "13",
            "18",
            "19",
            "23",
            "24",
            "29",
            "30",
            "34",
            "35",
            "40",
            "45",
            "46"].includes(num)) {
          return " hong";
        }
      },
      filterDHF(index) {
        console.log(index);
        if (index < 5) {
          return "LHC_hong"
        } else {
          return "LHC_green"
        }
      },
      filter(num) {
        num = String(num);
        if (["大", "双", "合双", "合大", "尾大"].includes(num)) {
          return " red";
        } else {
          return "";
        }
      },

      tabItem(msg) {
        console.log(msg);
        this.data.index_select = msg;

        this.data.type_select = "prophecy";

        this.ajax(msg);
      },
      childItem(item) {
        this.active = item.name;
        this.data.type_select = item.type_select;
        if (this.selected == 1) {
          this.ajax();
        }
      },

      goBack() {
        window.history.back();
      },
      ajax(msg) {
        lotteryAwardTrend_api(this.data).then(res => {
          if (res.code == 200) {
            this.trend_info = res.data.trend_info;
            // console.log(res.data.trend_info);
          }
        });
      }
    },
    components: {}
  };
</script>

<style lang="less" scoped>
  .lv {
    color: #04c67d;
  }

  .lan {
    color: #3d71ff;
  }

  i {
    font-style: normal;
  }

  .Mcolor:nth-child(2n-1) {
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid;
    line-height: 0.5rem;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  .Mcolor:nth-child(2n) {
    width: 0.5rem;
    height: 0.5rem;

    line-height: 0.5rem;
    text-align: center;

    display: block;
  }

  .red {
    color: red !important;
  }


  b {
    font-weight: 500;
  }

  .zoushi {
    padding: 0.3rem;
    color: #333;

    > header {
      font-size: 24px;
      margin-bottom: 10px;

      > i {
        float: right;
        color: #979797;
      }
    }
  }

  .item1 {
    margin-top: 0.3rem;
    border: 1px solid #cdcdcd;
    display: flex;
    font-size: 0px;
    box-sizing: border-box;

    .zuo {
      display: inline-block;
      width: 30%;
      font-size: 14px;

      p {
        height: .6rem;
        line-height: 0.6rem;
        display: flex;
        box-sizing: border-box;
        border-bottom: 1px solid #cdcdcd;

        span {
          color: #999;
        }

        span,
        b {
          display: inline-block;
          width: 50%;
          text-align: center;
          border-right: 1px solid #cdcdcd;
        }
      }

      & > p:last-child {
        border-bottom: 0;
      }
    }

    .you {
      display: inline-block;
      width: 70%;
      font-size: 14px;

      p {
        box-sizing: border-box;
        height: 0.6rem;
        width: 100%;
        line-height: 0.6rem;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #cdcdcd;

        b {
          border-right: 1px solid #cdcdcd;
        }

        span {
          color: #666;
          height: 0.4rem;
          display: inline-block;
          width: 25%;
          flex: 1;
          box-sizing: border-box;
          line-height: 1.3px;
          border-radius: 5px;
          text-align: center;
          color: #fff;
        }

        .color_999 {
          color: #999;
        }
      }

      .type span {
        color: #4a73c5;
      }

      & > p:last-child {
        border-bottom: 0;
      }
    }

    .you4 {
      display: inline-block;
      width: 20%;
      font-size: 14px;
      border-right: 1px solid #cdcdcd;

      p {
        box-sizing: border-box;
        height: 0.6rem;
        line-height: 0.6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #cdcdcd;

        span {
          border: 1px solid #000;
        }
      }

      .type span {
        width: 1.2rem;
      }
    }

    .you3 {
      display: inline-block;
      width: 50%;
      font-size: 14px;

      p {
        box-sizing: border-box;
        height: 0.6rem;
        line-height: 0.6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #cdcdcd;
      }

      span {
        color: #666;
        height: 0.4rem;
        width: 25%;
        box-sizing: border-box;
        line-height: 0.4rem;
        padding: 0 0.15rem;
        border-radius: 5px;
        text-align: center;
      }
    }

    .type span {
      width: 50%;
    }

    & > p:last-child {
      border-bottom: 0;
    }

    .you2 {
      display: inline-block;
      width: 70%;
      font-size: 14px;

      & > p:last-child {
        border-bottom: 0;
      }

      p {
        box-sizing: border-box;
        height: 0.6rem;
        line-height: 0.6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #cdcdcd;

        b {
          span {
            color: #666;
            height: 0.4rem;
            width: 25%;
            box-sizing: border-box;
            line-height: 0.4rem;
            padding: 0 0.15rem;
            border-radius: 5px;
            text-align: center;
          }
        }

        .type span {
          color: #fe3959;
          width: 3.2rem;
        }
      }

      & > p:last-child {
        border-bottom: 0;
      }
    }

    .active {
      border: 1px solid #4a73c5;
    }
  }

  .numberActive {
    background: #fe3959;
    color: #fff;
  }

  .my_cont .borders {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50%;
    display: block;
  }

  .numBox {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 0.3rem;

    span {
      border: 1px solid #cdcdcd;
      box-sizing: border-box;
      width: 1rem;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
    }
  }

  .typeBox {
    margin-top: 0.2rem;

    span {
      width: 18%;
    }
  }

  .forecast {
    font-size: 14px;

    > p {
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
    }

    > .item1 {
      margin-top: 0;
    }

    .zuo > p > b {
      width: 100%;
      color: #999;
    }

    .you > p > b {
      border-right: 0;
      color: #333;
    }
  }

  .my_title {
    height: 0.5rem;
    display: flex;
    width: 100%;
    font-size: 13px;
  }

  .my_title > span:first-child {
    flex: 1;
    border-left: 0;
  }

  .my_title > span {
    flex: 2;
    text-align: center;
    line-height: 0.5rem;
    border-bottom: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  .my_cont {
    height: 1.2rem;
    display: flex;
    width: 100%;
    font-size: 13px;
  }

  .my_cont > span:first-child {
    flex: 1;
    border-left: 0;
    text-align: center;
  }

  .my_cont > span {
    display: inline-flex;
    flex: 2;
    text-align: center;
    // line-height: 1.2rem;
    border-bottom: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    justify-content: center;
    padding-left: 1px;
    flex-direction: column;
  }

  .my_cont > span > div i {
    font-style: normal;
  }

  .red1 {
    background: #3d71ff;
  }

  .blue1 {
    background: #3d71ff;
  }

  .hong {
    color: #fe397f;
  }

  .lv {
    color: #04c67d;
  }

  .lan {
    color: #3d71ff;
  }

  .LHC_hong {
    color: #fff;
    background:#FE3959 ;
  }

  .LHC_green {
    color: #fff;
    background:#35C36A ;
  }

</style>
