<template>
  <div class="zoushi">
    <header>
      <span>{{title}}</span>
      <i
        class="iconfont icon-fork"
        @click="goBack"
      ></i>
    </header>
    <div class="my_content">
      <!-- <mt-navbar v-model="selected">
         <mt-tab-item
           id="1"
           @click.native="tabItem('result')"
         >结果</mt-tab-item>
         <mt-tab-item
           id="2"
           @click.native="tabItem('trend')"
         >走势</mt-tab-item>
         <mt-tab-item
           id="3"
           @click.native="tabItem('census')"
         >统计</mt-tab-item>
         <mt-tab-item
           id="4"
           @click.native="tabItem('prophecy')"
         >预测</mt-tab-item>
         <mt-tab-item
           id="5"
           @click.native="tabItem('kill')"
         >杀组</mt-tab-item>
       </mt-navbar>-->

      <mt-tab-container v-model="selected">
        <mt-tab-container-item id="1" v-if="data.index_select=='result'">
          <div class="item1">
            <div class="zuo">
              <p>
                <b>期数</b>
                <b>时间</b>
                <b style="width:60%">开奖结果</b>
              </p>

              <p
                v-for="(item,i) in trend_info"
                :key="i"
              >
                <span>{{(item.period)}}</span>
                <span style="font-size:12px">{{item.time}}</span>
                <span style="width:60%;color:#363636;">
<!--                  {{item.award_res}}-->
                   <span class="itemI"
                         style="
                         background:#FE3959;
                         color:#fff;
                         width: 0.4rem;
                         height:0.4rem;
                         border-radius: 0.2rem;
                         line-height: 0.4rem;
                         font-size: 0.3rem;
                         margin-top: 0.1rem; float: left;margin-left: 0.4rem"
                         v-for="(v,k) in item['award_number']"
                         :key="k"
                   >
                      {{v}}
                     <span v-if="k<=1" class="itemIII" style="border: 0;"> + </span>
                     <span v-if="k === item['award_number'].length - 1 " class="itemIII" style="border: 0;"> = </span>
                    </span>

                    <span
                      style="
                       background:#35C36A;
                       color:#fff;
                       width: 0.44rem;
                       height:0.44rem;
                       border-radius: 0.22rem;
                       line-height: 0.46rem;
                       font-size: 0.26rem;
                       margin-top: 0.06rem;margin-left: 0.1rem; "
                    >
                      {{contedBallBallNum(item['award_number'])}}
                    </span>
                </span>
              </p>

            </div>

          </div>
        </mt-tab-container-item>
        <mt-tab-container-item id="2" v-if="data.index_select=='trend'">
          <div
            class="item1"
            style="display:block"
          >
            <p class="my_title">
              <span>期号</span>
              <span>开奖结果</span>
              <span>走势</span>
            </p>
            <p
              class="my_cont"
              v-for="(item,i) in trend_info"
              :key="i"
            >
              <span>{{(item.period)}}</span>
              <span>{{item.award_res}}</span>
              <span>
                <span
                  :class="item.trend[index]?'itemds':''"
                  :style="{'color':item.trend[index],'padding':' 0 3px',}"
                  v-for="(itemtrend,index) in trendColor"
                  :key="index"
                >
                  {{itemtrend.num}}
                </span>
              </span>
            </p>
          </div>
        </mt-tab-container-item>
        <mt-tab-container-item id="3" v-if="tongji">

          <h1>组合</h1>
          <div class="item1">
            <div class="zuo">
              <p>
                <span style="width:50%;color:#363636">大单（未开 {{zuhe.big_single}} 期 ）</span>
                <span style="width:50%;color:#363636">小单（未开 {{zuhe.small_single}} 期）</span>
              </p>
              <p>
                <span style="width:50%;color:#363636">大双（未开 {{zuhe.big_double}} 期）</span>
                <span style="width:50%;color:#363636">小双（未开 {{zuhe.small_double}} 期）</span>
              </p>
            </div>
          </div>
          <h1>极大极小</h1>
          <div class="item1">

            <div class="zuo">

              <p>

                <span style="width:50%;color:#363636">极大（未开 {{jizhi.big_big}} 期 ）</span>
                <span style="width:50%;color:#363636">极小（未开 {{jizhi.small_small}} 期）</span>

              </p>

            </div>

          </div>
          <h1>豹顺对杂</h1>
          <div class="item1">
            <div class="zuo">
              <p>
                <span style="width:50%;color:#363636">大单（未开 {{teshu.baozi}} 期）</span>
                <span style="width:50%;color:#363636">小单（未开 {{teshu.duizi}} 期）</span>
              </p>
              <p>
                <span style="width:50%;color:#363636">大双（未开 {{teshu.shunzi}} 期）</span>
                <span style="width:50%;color:#363636">小双（未开 {{teshu.zapai}} 期）</span>
              </p>
            </div>
          </div>
          <h1>数字</h1>
          <div class="item1 item2">
            <div class="zuo zuoyou">
              <p>
                <span
                  v-for="(item,i) in number"
                  :key="i"
                >{{i}}（ 未开 {{ item }}期 ）</span>
              </p>
            </div>
          </div>
        </mt-tab-container-item>
        <mt-tab-container-item id="4" v-if="data.index_select=='prophecy'">
          <div class="item1">
            <div class="zuo">
              <p>
                <b>期号</b>
                <b>预测</b>
                <b>开奖</b>
                <b>结果</b>
              </p>

              <p
                v-for="(item,i) in trend_info"
                :key="i"
              >
                <!-- {{item}} -->
                <span>{{(item.period)}}</span>

                <span>{{item.pro_info[0].award_num}}</span>
                <span v-if="item.award_number.length>0">{{(item.award_number)}}</span>
                <span v-if="item.award_number.length==0">- -</span>
                <span
                  style="position: relative;text-align:left;;left:8px;"
                  :class="item.prophecy_result == '待开奖' || item.prophecy_result=='未中奖' ? '':'color_shuang'"
                >{{item.prophecy_result}}
                  <i
                    class="zhongjiang"
                    v-if="item.prophecy_result == '待开奖' || item.prophecy_result=='未中奖' ? '':'color_shuang'"
                  >中</i>
                </span>
              </p>
            </div>
          </div>
        </mt-tab-container-item>
        <mt-tab-container-item id="5" v-if="data.index_select=='kill'">
          <div class="item1">
            <div class="zuo">
              <p>
                <b>期号</b>
                <b>预测</b>
                <b>开奖</b>
                <b>结果</b>
              </p>
              <p
                v-for="(itemTrend,i) in trend_info"
                :key="i"
              >
                <span>{{(itemTrend.period)}}</span>
                <span
                  v-for="(itemTrend,i) in itemTrend.pro_info"
                  :key="i"
                >{{itemTrend.not_award}}</span>
                <span v-if="itemTrend.award_number.length>0">{{(itemTrend.award_number)}}</span>
                <span v-if="itemTrend.award_number.length==0">- -</span>
                <span :class="itemTrend.kill_result == '中奖'?'color_shuang':''">{{itemTrend.kill_result}}</span>
              </p>
            </div>
          </div>
        </mt-tab-container-item>
      </mt-tab-container>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import {lotteryAwardTrend_api} from "@/common/api";
  import moment from 'moment'
  import {stringColors} from "@/common/config";

  export default {
    created() {
      this.title = this.$route.params.title;
      if (this.$route.params.id) {
        sessionStorage.setItem("zoushi_lottery_Id", this.$route.params.id);
        this.data.lottery_id = this.$route.params.id;
      } else {
        this.data.lottery_id = sessionStorage.getItem("zoushi_lottery_Id");
      }
      if (this.$route.params.type) {
        this.selected = this.$route.params.type;
        this.data.index_select = "prophecy";
      }
      this.ajax();
    },
    data() {
      return {
        selected: "1",
        title: "",
        trendColor: [
          {num: "大", active: false},
          {num: "小", active: false},
          {num: "单", active: false},
          {num: "双", active: false},
          {num: "顺", active: false},
          {num: "豹", active: false},
          {num: "对", active: false},
          {num: "杂", active: false}
        ],
        jizhi: {},
        number: {},
        teshu: {},
        zuhe: {},
        data: {
          lottery_id: 0,
          index_select: 'result'
        },
        trend_info: [],
        tongji: {}
      };
    },
    methods: {
      contedBallBallNum(v) {
        let a = 0
        v.forEach(item => {
          a += Number(item)
        })
        return a
      },
      filter(num) {
        num = String(num);
        if (["大"].includes(num)) {
          return " lan";
        } else if (["单"].includes(num)) {
          return " lv";
        } else if (["顺"].includes(num)) {
          return " hong";
        }
      },
      tabItem(msg) {
        this.trend_info = []
        this.data.index_select = msg;
        this.ajax(msg);
      },
      childItem(item) {
        this.active = item.name;
        this.data.type_select = item.type_select;
        if (this.selected == 1) {
          this.ajax();
        }
      },

      goBack() {
        window.history.back();
      },
      ajax(msg) {
        lotteryAwardTrend_api(this.data).then(res => {

          if (res.code == 200) {
            if (msg == "census") {
              this.tongji = res.data.trend_info;
              this.jizhi = this.tongji.jizhi;
              this.teshu = this.tongji.teshu;
              this.zuhe = this.tongji.zuhe;
              this.number = this.tongji.number;
            } else {
              this.trend_info = res.data.trend_info;
              this.trend_info.map(m => {
                return m.time = moment(m.time).format('hh:mm')
              })
            }
            this.$forceUpdate()
            console.log(this.trend_info);
          }
        });
      }
    }
  };
</script>

<style lang="less" scoped>
  h1 {
    font-size: 15px;
    color: #333333;
    text-align: center;
    font-weight: 400;
  }

  .color_blue {
    color: cornflowerblue !important;
  }

  .color_red {
    color: #fe3959 !important;
  }

  .color_01 {
    color: red !important;
  }

  .color_02 {
    color: red !important;
  }

  .item1 > .zuoyou.zuo > p {
    flex-wrap: wrap;
    height: auto;
  }

  .zuoyou span {
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    text-align: center;

    display: block;
    float: left;
    width: 50%;
  }

  .color_03 {
    color: red !important;
  }

  .color_04 {
    color: red !important;
  }

  .color_05 {
    color: red !important;
  }

  .color_06 {
    color: red !important;
  }

  .color_07 {
    color: red !important;
  }

  .color_08 {
    color: red !important;
  }

  .color_09 {
    color: red !important;
  }

  .color_010 {
    color: red !important;
  }

  .color_big {
    color: red !important;
  }

  .color_small {
    color: red !important;
  }

  .color_dan {
    color: red !important;
  }

  .color_shuang {
    color: red !important;
  }

  b {
    font-weight: 500;
  }

  .zoushi {
    padding: 0.3rem;
    color: #333;

    > header {
      font-size: 24px;
      margin-bottom: 10px;

      > i {
        float: right;
        color: #979797;
      }
    }
  }

  .item1 {
    margin-top: 0.3rem;
    border: 1px solid #cdcdcd;
    display: flex;
    font-size: 0px;
    box-sizing: border-box;

    .zuo {
      display: inline-block;
      width: 100%;
      font-size: 14px;

      p {
        height: 0.6rem;
        line-height: 0.6rem;
        display: flex;
        box-sizing: border-box;
        border-bottom: 1px solid #cdcdcd;

        span {
          color: #999;
        }

        span,
        b {
          display: inline-block;
          width: 25%;
          text-align: center;
          line-height: 0.6rem;
          border-right: 1px solid #cdcdcd;
        }
      }

      & > p:last-child {
        border-bottom: 0;
      }
    }

    .you {
      display: inline-block;
      width: 70%;
      font-size: 14px;

      p {
        box-sizing: border-box;
        height: 0.6rem;
        width: 100%;
        line-height: 0.6rem;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #cdcdcd;

        b {
          border-right: 1px solid #cdcdcd;
        }

        span {
          color: #666;
          height: 0.4rem;
          display: inline-block;
          width: 30%;
          flex: 1;
          box-sizing: border-box;
          line-height: 1.3;
          margin: 0 0.05rem;
          padding: 0 0.015rem;
          border-radius: 5px;
          text-align: center;
          color: #fff;
        }

        .color_999 {
          color: #999;
        }
      }

      .type span {
        color: #4a73c5;
      }

      & > p:last-child {
        border-bottom: 0;
      }
    }

    .you4 {
      display: inline-block;
      width: 20%;
      font-size: 14px;
      border-right: 1px solid #cdcdcd;

      p {
        box-sizing: border-box;
        height: 0.6rem;
        line-height: 0.6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #cdcdcd;

        span {
          color: #666;
          height: 0.4rem;
          width: 100%;
          box-sizing: border-box;
          line-height: 0.4rem;
          // padding: 0 0.15rem;
          border-radius: 5px;
          text-align: center;
        }
      }

      .type span {
        width: 1.2rem;
      }
    }

    .you3 {
      display: inline-block;
      width: 50%;
      font-size: 14px;

      p {
        box-sizing: border-box;
        height: 0.6rem;
        line-height: 0.6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #cdcdcd;
      }

      span {
        color: #666;
        height: 0.4rem;
        width: 25%;
        box-sizing: border-box;
        line-height: 0.4rem;
        padding: 0 0.15rem;
        border-radius: 5px;
        text-align: center;
      }
    }

    .type span {
      width: 50%;
    }

    & > p:last-child {
      border-bottom: 0;
    }

    .you2 {
      display: inline-block;
      width: 70%;
      font-size: 14px;

      & > p:last-child {
        border-bottom: 0;
      }

      p {
        box-sizing: border-box;
        height: 0.6rem;
        line-height: 0.6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #cdcdcd;

        b {
          span {
            color: #666;
            height: 0.4rem;
            width: 25%;
            box-sizing: border-box;
            line-height: 0.4rem;
            padding: 0 0.15rem;
            border-radius: 5px;
            text-align: center;
          }
        }

        .type span {
          color: #fe3959;
          width: 3.2rem;
        }
      }

      & > p:last-child {
        border-bottom: 0;
      }
    }

    .active {
      border: 1px solid #4a73c5;
    }
  }

  .numberActive {
    background: #fe3959;
    color: #fff;
  }

  .numBox {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 0.3rem;

    span {
      border: 1px solid #cdcdcd;
      box-sizing: border-box;
      width: 1rem;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
    }
  }

  .typeBox {
    margin-top: 0.2rem;

    span {
      width: 18%;
    }
  }

  .forecast {
    font-size: 14px;

    > p {
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
    }

    > .item1 {
      margin-top: 0;
    }

    .zuo > p > b {
      width: 100%;
      color: #999;
    }

    .you > p > b {
      border-right: 0;
      color: #333;
    }
  }

  .my_title {
    height: 0.5rem;
    display: flex;
    width: 100%;
    font-size: 13px;
  }

  .my_title > span:first-child {
    flex: 1;
    border-left: 0;
  }

  .my_title > span {
    flex: 2;
    text-align: center;
    line-height: 0.5rem;
    border-bottom: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  .my_cont {
    height: 0.5rem;
    display: flex;
    width: 100%;
    font-size: 13px;
  }

  .my_cont > span > i {
    color: #000;
  }

  .my_cont > span:first-child {
    flex: 1;
    border-left: 0;
    text-align: center;
  }

  .my_cont > span {
    display: inline-flex;
    flex: 2;
    text-align: center;
    line-height: 0.5rem;
    border-bottom: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    justify-content: center;
  }

  .my_cont > span > i {
    width: 15%;

    margin: 0 0.04rem;
    font-style: normal;
    color: #fff;
  }

  .red1 {
    background: #3d71ff;
  }

  .blue1 {
    background: #3d71ff;
  }

  .itemds {
    color: #fff;
  }

  .item1 .zhongjiang {
    position: absolute;
    right: .25rem;
    border: 1px solid #fe3959;
    border-radius: 50%;
    color: #fe3959 !important;
    width: .3rem !important;
    height: .3rem !important;
    line-height: .3rem;
    top: .12rem;
  }

  i {
    font-style: normal;
    font-size: 10px;
    text-align: center;
  }

  .itemIII {
    position: absolute;
    top: -0.1rem;
    right: -0.19rem;
    color: #333;
  }

  .itemI {
    position: relative;
    margin-left: 0.3rem;
  }
</style>
