<template>
  <div class="page">
    <my-header></my-header>
    <div class="login2" v-if="success">
      <mt-field label="手机号" @change="check( reg,getPwd.mobile)" placeholder="请输入11位有效手机号" type='number'
                v-model="getPwd.mobile"></mt-field>
      <mt-field label="验证码" v-model="getPwd.vcode" placeholder="请输入手机验证码" type='number'>
        <mt-button class="code" :class="active ? 'red':''" @click.native="getCode" :disabled="!active">{{prompt}}
        </mt-button>
      </mt-field>
      <mt-button type="danger" size="large" @click="login" :disabled="btn">确认</mt-button>
      <p class="padded">绑定成功后可以通过手机号快速登录</p>
    </div>
    <div class="logo" v-else>
      <img :src="paymsg.img" alt="暂无加载" width="70">
      <p>{{paymsg.txt}}</p>
      <span>28元彩金已到账</span>
      <div class="mint-cell-wrapper">
        <mt-button type="danger" size="large" @click="goHome">立即投注</mt-button>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {Toast, MessageBox} from "mint-ui";
  import {mobile_api, mobile_bind_api} from "@/common/api";

  export default {
    data() {
      return {
        prompt: "获取验证码",
        active: false,
        btn: true,
        reg: /^[1][3,4,5,6,7,8,9][0-9]{9}$/,
        success: true,
        number: 0,
        getPwd: {
          mobile: "",
          vcode: ""
        },
        // 正则验证
        checked: {
          mobile: false
        },
        paymsg: {
          img: require("@/assets/success.png"),
          txt: '绑定成功',
        },
      };
    },
    methods: {
      // 获取验证码
      getCode() {

        if (this.getPwd.mobile && this.number === 0) {
          this.checked.mobile = false;
          this.number = 60;
          this.prompt = "重新发送" + this.number;
          let timer = setInterval(() => {
            this.number--;
            this.prompt = "重新发送" + this.number;
            if (this.number < 1) {
              clearInterval(timer);
              this.prompt = "获取验证码";
              this.checked.mobile = true;
            }
          }, 1000);
          return mobile_api({type: "register", mobile: this.getPwd.mobile}).then(
            res => {
              this.active = false;
              Toast(res.msg);
            }
          );
        } else if (this.number !== 0) {
          return Toast('请不要重复发送')

        } else {
          return Toast("请输入手机号码");

        }
      },
      check(reg, val) {
        reg.test(val.trim())
          ? (this.checked.mobile = true)
          : Toast("您输入的手机号格式不正确");
      },
      login() {
        mobile_bind_api(this.getPwd).then(res => {
          if (res.code === 200) {
            this.success = true;
            Toast('手机号绑定成功');
            setTimeout(() => {
              this.$router.push("/personal");
            }, 1000);
          } else {
            Toast(res.msg);
            MessageBox.confirm(res.msg, {confirmButtonText: '联系客服'})
              .then(() => {
                this.$router.push("/kefu");
              })
              .catch(err => {

              });
          }
        });
      },
      goHome() {
        this.$router.push('/gamesMain')
      }
    },
    mounted() {
      document.body.style.background = "#f7f7f7";
    },
    beforeDestroy() {
      document.body.style.background = "#fff";
    },
    components: {
      MyHeader
    },
    watch: {
      "getPwd.mobile": {
        handler: function (n) {
          this.reg.test(n) ? (this.active = true) : (this.active = false);
          return true;
        },
        deep: true
      },
      getPwd: {
        handler: function (n) {
          if (n.vcode.length == 6) {
            this.btn = false;
          } else {
            this.btn = true;
          }
        },
        deep: true
      }
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .code {
    display: inline-block;
    padding: 0.15rem 0.2rem;
    background: #fff;
    border-radius: 20px;
    border: none !important;
    font-size: 14px;
    height: 0.55rem;
    line-height: 0.25rem;
    opacity: 1;
    color: #6C2DFE;
    box-shadow: 0 0 1px #fff;
    letter-spacing: 0;
  }

  .logo {
    font-size: 16px;
  }

  .logo > img {
    width: 70px;
    margin-bottom: .2rem;
  }

  .logo > span {
    display: inline-block;
    font-size: 12px;
    color: #c5c5c5;
    margin-top: .2rem;
  }


  .login2 {

    padding: 20px;

    > button {
      color: #fff;
      background: #6C2DFE;
      border-radius: 8px;
    }

    > p {
      width: calc(100% - 40px);
      position: fixed;
      bottom: 10px;
      text-align: center;
      font-size: 12px;
      color: #4A73C5;
    }

    .mint-cell {
      background: #fff;
      margin-bottom: 14px;
      border-radius: 8px;

    }

    .mint-tab-item, .mint-cell-text {
      color: #333 !important;
    }

    .mint-cell-title {
      color: #333 !important;
      font-size: 16px;
      letter-spacing: 0;
    }

    .mint-field-core {
      background-color: #fff;
    }
  }
</style>
