<template>
  <div class="forum-detail-page">
    <div class="swipe-con">

      <forum-header></forum-header>

      <div class="detail">
        <img :src="forum.icon" alt="">
        <span class="title">{{forum.name}}</span>
        <div class="guanzhu">
          <!--<span>今日：40</span>-->
          <span>帖子：{{forum.posts}}</span>
          <!--<span>关注：56</span>-->
        </div>
        <span class="text">{{forum.description}}</span>
        <div class="btn">
          + 关注
        </div>
      </div>

      <forum-tabs :currentInfo="currentInfo" @change-info="changeInfo"></forum-tabs>

    </div>

    <div class="post-list">
      <div class="post-item" v-for="(item,index) in forum_threadlist" :key="index">

        <div class="post-title">
          <img src="" alt="">
          <div class="pos">{{item['author']}}</div>
          <div class="level">LV7审核员</div>
        </div>

        <div class="text">
          {{item['subject']}}
        </div>

        <div class="content">
          网上玩百家乐要懂得百家乐小路怎么看，我在这方面积累了一些百家乐心得，在这里不妨和大家分享我怎么看怎么算
        </div>

        <div class="time">
          <div class="time-left">
            {{item['dateline']}}
          </div>
          <div class="time-right">
            <img src="" alt="">
          </div>
        </div>

        <div class="review">
          <div class="review-item" v-for="(item2,index2) in item['reply']" :key="index2">
            <div class="review-con">
              <span class="review-user">
              {{item2['author']}}:
            </span>
              {{item2['message']}}
            </div>
          </div>
        </div>
      </div>

    </div>

    <forum-footer></forum-footer>

  </div>
</template>

<script type="text/ecmascript-6">
  import Cycle from "@/bass/cycle";
  import {mapMutations, mapGetters} from "vuex";
  import {
    get_forum_posts,
    get_forum_posts_hot,
    get_forum_posts_better,
    get_forum_posts_new
  } from "@/common/api";
  import {Indicator, MessageBox, Toast} from "mint-ui";
  import ForumFooter from '@/components/forums/layout/forumFooter.vue';
  import MySlide from '@/components/homes/layout/slide.vue';
  import ForumHeader from '@/components/forums/layout/forumHeader.vue';
  import ForumTabs from '@/components/forums/layout/forumTabs.vue';

  export default {
    components: {
      Cycle,
      ForumFooter,
      MySlide,
      ForumHeader,
      ForumTabs,
    },
    computed: {
      username() {
        return this.initData.username;
      },
      transform: function () {
        return "translateY(-" + this.num * this.height + "px)";
      },
      ...mapGetters(["initData"])
    },
    data() {
      return {
        search: '',
        forum: {
          "description": "",
          "icon": "",
          "name": "",
          "posts": "71655",
        },
        forum_threadlist: [],
        info: {
          all: [],
          hot: [],
          better: [],
          news: []
        },
        currentInfo: [],
      };
    },
    created: function () {

      let query = JSON.parse(this.$route.query.forum);

      get_forum_posts({}, query.fid || 1, 1).then(res => {
        this.forum = res.Variables.forum;
        this.forum_threadlist = res.Variables.forum_threadlist;
      });

      Promise.all([
        get_forum_posts_hot({}, query.fid || 1),
        get_forum_posts_better({}, query.fid || 1),
        get_forum_posts_new({}, query.fid || 1)
      ]).then(([hot, better, news]) => {

        let all = [].concat(hot.Variables.forum_threadlist).concat(better.Variables.forum_threadlist).concat(news.Variables.forum_threadlist);

        this.info.all = all;
        this.info.news = news.Variables.forum_threadlist;
        this.info.better = better.Variables.forum_threadlist;
        this.info.hot = hot.Variables.forum_threadlist;
        this.currentInfo = all;
      })
    },
    methods: {
      changeInfo(sel) {
        console.log(sel);
        this.currentInfo = this.info[sel];
      },
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global.less";

  .gray-line {
    height: 10px;
    background: rgba(248, 248, 248, 1);
  }

  .post-left {
    background: rgba(248, 248, 248, 1);
  }

  .post-item {
    padding: 0 15px 20px;
    border-bottom: 10px solid rgba(248, 248, 248, 1);

    .post-title {
      margin-top: 10px;
      height: 32px;

      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 32px;
        height: 32px;
        background: red;
      }

      .pos {
        float: left;
        margin-left: 45px;
        height: 32px;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 32px;
      }

      .level {
        text-align: center;
        float: left;
        margin-top: 8px;
        margin-left: 14px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        width: 62px;
        height: 16px;
        background: rgba(247, 181, 0, 1);
        border-radius: 2px;
      }
    }

    .text {
      height: 22px;
      font-size: 16px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 22px;
      margin: 10px 0;
    }

    .content {
      font-size: 14px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 20px;
    }

    .time {
      height: 20px;
      margin: 20px 0;

      .time-left {
        float: left;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .time-right {
        float: right;
        width: 24px;
        height: 15px;
        background: rgba(236, 236, 236, 1);
        border-radius: 2px;
      }
    }


    .review {
      padding: 10px;
      background: rgba(248, 248, 248, 1);
      display: flex;
      flex-direction: column;

      .review-item {
        flex: 1;
      }

      .review-user {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(84, 134, 204, 1);
      }

      .review-con {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 22px;
      }
    }
  }


  .detail {
    margin: 0 15px 10px;
    height: 81px;
    background: rgba(255, 255, 255, 1);
    position: relative;

    > img {
      position: absolute;
      top: 10px;
      left: 0;
      width: 60px;
      height: 60px;
      background: linear-gradient(180deg, rgba(42, 132, 251, 1) 0%, rgba(97, 226, 255, 1) 100%);
    }

    .title {
      position: absolute;
      top: 5px;
      left: 70px;
      right: 65px;
      height: 25px;
      font-size: 18px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 25px;
    }

    .text {
      position: absolute;
      top: 56px;
      left: 70px;
      right: 65px;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .guanzhu {
      position: absolute;
      top: 34px;
      left: 70px;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;

      > span:nth-child(1) {
        color: rgba(247, 181, 0, 1);
      }
    }

    .btn {
      position: absolute;
      top: 28px;
      right: 5px;
      width: 51px;
      height: 28px;
      background: rgba(61, 113, 255, 1);
      border-radius: 2px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 28px;
      text-align: center;
    }
  }

  .play-tab {
    padding: 0 15px;
    display: flex;
    height: 75px;

    .play-tab-bar {
      flex: 1;
      text-align: center;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -25px;
        display: inline-block;
        height: 50px;
        width: 50px;
      }

      > span {
        position: absolute;
        top: 55px;
        display: inline-block;
        height: 25px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
      }

    }
  }

  .titles {
    margin: 15px;
    border-left: 3px solid #3D71FF;
    padding-left: 10px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
  }

  .right_pop {
    width: 100%;
    height: 100%;
  }

  .pop_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: #fff;
    z-index: 12;
    font-size: 16px;
    color: #333;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0.5rem 0.3rem 0;

    > div > p {
      margin-bottom: 0.3rem;
      font-weight: bold;
    }

    .pop_lottery {
      display: flex;
      flex-flow: wrap;
      margin-bottom: 0.5rem;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        margin-bottom: 0.2rem;

        > img {
          width: 1rem;
          height: 1rem;
        }

        > span {
          margin-top: 0.1rem;
        }
      }
    }
  }


  .other-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    .other-con-item {
      flex: 0 0 23%;
      position: relative;
      text-align: center;
      height: 69px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      border: 1px solid rgba(214, 214, 214, 1);
      overflow: hidden;

      > span:nth-child(1) {
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 50%;
        margin-left: -28px;
        width: 56px;
        height: 20px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
      }

      > span:nth-child(2) {
        display: inline-block;
        position: absolute;
        top: 33px;
        left: 50%;
        margin-left: -20px;
        width: 40px;
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      > img {
        display: inline-block;
        width: 27px;
        height: 27px;
        position: absolute;
        bottom: -7px;
        right: -7px;
        background: black;
      }
    }
  }


  .activity-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .activity-con-item {
      flex: 0 0 48%;
      position: relative;
      height: 94px;
      background: rgba(216, 216, 216, 1);
      border-radius: 4px;
      margin-bottom: 10px;

      > img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }

      .pop {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20px;
        background: rgba(0, 0, 0, 1);
        opacity: 0.5;
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
        line-height: 20px;
        text-align: center;
      }
    }
  }


  .media-con {
    margin: 0 15px;
    height: 163px;
    background: rgba(216, 216, 216, 1);
    border-radius: 4px;
  }


  .forum-detail-page {
    width: 100%;
    height: 100%;

    .tab-bar {
      position: relative;
      border: 0;
      background-color: #fff;
      height: 5.3rem;

      .tab-item {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 15px;
        margin-bottom: 20px;
        border-right: 1px solid #20294e;

        &:nth-child(4) {
          border-right: none;
        }

        img.icon2 {
          width: 0.6rem;
          height: 0.6rem;
        }
      }
    }

    .game2 {
      margin-top: 1rem;
      position: relative;

      .tab-item {
        height: auto;
        padding: 3%;
        width: 27%;

        .icon {
          width: 72px;
          height: 72px;
        }
      }

      .games_tab-bar {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        justify-content: flex-start;
        padding: 0.2rem 0 1.2rem;
      }

      .lastBox {
        width: 100%;
        position: absolute;
        top: -0.8rem;
        height: 0.8rem;
        line-height: 0.8rem;

        > span {
          display: inline-block;
          margin-left: 3%;
          margin-right: 3%;
          width: 44%;
          height: 0.8rem;
          border-radius: 10px 10px 0 0;
          background: #1b233e;
          text-align: center;
          color: #fff;
        }

        > .active {
          background: #2c3353;
          color: #f8c96e;
        }
      }
    }
  }
</style>
