<template>
  <div class="lay-pop">
    <transition name="slide-fade">
      <div class="lay-pop-parent" :style="style">
        <slot name="pop"></slot>
      </div>
    </transition>
    <div class="lay-pop-child" id="LayPop">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      showPop: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      style: function () {
        let result = `top:${this.pos.y - this.wh2.h - 22}px;left:${this.pos.x + this.wh.w / 2 - this.wh2.w / 2}px;`;
        if (!this.showPop) {
          result += 'visibility: hidden;'
        }
        return result;
      }
    },
    data() {
      return {
        pos: {
          x: undefined, y: undefined
        },
        wh: {
          w: undefined, h: undefined
        },
        wh2: {
          w: undefined, h: undefined
        }
      }
    },
    mounted() {
      try {
        let getFirstChild = document.getElementById("LayPop").children[0];

        let X = getFirstChild.getBoundingClientRect().left;
        let Y = getFirstChild.getBoundingClientRect().top;
        let W = getFirstChild.offsetWidth;
        let H = getFirstChild.offsetHeight;

        let parent = document.getElementsByClassName('lay-pop-parent')[0];

        let W2 = parent.offsetWidth;
        let H2 = parent.offsetHeight;

        this.pos.x = X;
        this.pos.y = Y;
        this.wh.w = W;
        this.wh.h = H;
        this.wh2.w = W2;
        this.wh2.h = H2;

      } catch (error) {
        throw new Error(error);
      }
    },
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  .lay-pop-parent {
    z-index: 4;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: calc(50% - 12px);
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 16px solid #fff;
    }
  }

  .lay-pop-visible {

  }

  .slide-fade-enter-active {
    transition: all .2s ease;
  }

  .slide-fade-leave-active {
    transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateY(-10px);
    opacity: 0;
  }

</style>
