<template>
  <div class="download-page">
    <div class="back-btn" @click="goBack">返回</div>
    <div class="download">
      <img src="../../assets/base/download-bg.jpg" alt="">
    </div>
    <div class="btn">
      <span @click='download(spanText)' class="main-btn">
        {{spanText}}
      </span>
    </div>
    <div v-if="showScroll" class="bottom-scroll">
      <mt-swipe :auto="4000">
        <mt-swipe-item><img src="../../assets/ios01.jpg" alt=""></mt-swipe-item>
        <mt-swipe-item><img src="../../assets/ios02.jpg" alt=""></mt-swipe-item>
        <mt-swipe-item><img src="../../assets/ios03.jpg" alt=""></mt-swipe-item>
        <mt-swipe-item><img src="../../assets/ios04.jpg" alt=""></mt-swipe-item>
        <mt-swipe-item><img src="../../assets/ios05.jpg" alt=""></mt-swipe-item>
        <mt-swipe-item><img src="../../assets/ios07.jpg" alt=""></mt-swipe-item>
      </mt-swipe>
    </div>
    <div class="v-modal" style="opacity:0.7" v-if="imgShow">
    </div>
    <img src="../../assets/downImg.png" alt="" style="z-index:1000" v-if="imgShow">
  </div>
</template>

<script type="text/ecmascript-6">
  import {baseUrl} from "@/config/app.config";
  import k from "kiana-js";
  import {mapState} from "vuex";

  export default {
    created() {
      if (k.isIphone()) {
        this.showScroll = true;
      }
      if (k.isAndroid()) {
        this.showScroll = false;
        if (k.isWx()) {
          console.log('是微信且不是ios');
          this.spanText = '立即下载';
        }
      }
    },
    computed: {
      ...mapState({
        siteBaseInfo: "siteBaseInfo",
      }),
      download_url: (state) => state.siteBaseInfo.download
    },
    data() {
      return {
        spanText: '立即安装',
        showScroll: false,
        imgShow: false,
      }
    },
    methods: {
      openPhoneSetting() {
        let a3 = document.createElement('a');
        a3.setAttribute('href', `${baseUrl}/pub/app/app.mobileprovision`);
        a3.click();
      },
      goBack() {
        window.history.back();
      },
      download(text) {
        if (text === '正在下载中...') {
          return;
        } else if (text === '立即下载') {
          this.imgShow = true;
          return
        } else if (text === '点击信任开发者') {
          this.openPhoneSetting();
        } else {
          let a = document.createElement('a');
          a.setAttribute('href', `${this.download_url}`);
          a.setAttribute('target', `_blank`);
          a.click();

          setTimeout(() => {
            this.spanText = '正在下载中...';
          }, 2500);

          setTimeout(() => {
            if (k.isIphone()) {
              this.spanText = '点击信任开发者';
            } else {
              this.spanText = '立即安装';
            }
          }, 20000);
        }
      },
    }
  };
</script>

<style scoped lang="less">

  .download-setting {
    position: fixed;
    top: 2rem;
    color: #fff;
  }

  .back-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 16px;
    color: #FFCE6F;
  }

  .main-btn {
    display: inline-block;
    width: 4rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 45px;
    color: #F5C362;
    font-size: .36rem;
    font-weight: bold;
    background: #1C0F0F;
  }

  .download-page {
    height: 100%;
    position: relative;

    > img {
      width: 6rem;
      position: fixed;
      top: 10px;
      right: 10%;
    }

    .download {
      width: 100%;
      background: rgba(52, 23, 51, 1);
      height: 100%;

      img {
        margin-top: -45px;
        width: 100%;
        min-height: 100vh;
        height: 100%;
      }
    }

    .btn {
      position: fixed;
      top: 46%;
      left: 50%;
      width: 4rem;
      margin-left: -2rem;

      img {
        width: 100%;
      }
    }

    .bottom-scroll {
      height: 4.2rem;
      width: 100%;
      background: #000000;
      position: fixed;
      bottom: 0;

      img {
        width: 100%;
      }
    }
  }
</style>
