<template>
  <div class="msg-page">
    <mt-header title="公告详情">
      <mt-button slot="left"
                 icon="back"
                 @click.native="backto"></mt-button>
    </mt-header>
    <div class="login">
      <p style="margin:.3rem 0;text-align: left;">{{msgDetail.title}}</p>
      <!-- <p style="margin:.3rem 0;text-align: left;color:#777">{{msgDetail.dateline | moment('YYYY-MM-DD')}}</p> -->
      <p style="margin-top:.2rem;line-height:1.8"
         v-html="msgDetail.content"></p>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import MyHeader from "@/bass/header";

export default {
  created () {
    if (this.$route.params.msg) {
      this.msgDetail = this.$route.params.msg;
      console.log(this.msgDetail);
      // sessionStorage.setItem("msgId", JSON.stringify(this.msgDetail));
    } else {
      // this.msgDetail = JSON.parse(sessionStorage.getItem("msgId"));
    }
  },
  methods: {
    backto () {
      window.history.back();
    }
  },
  data () {
    return {
      msgDetail: {}
    };
  },
  components: {
    MyHeader
  }
};
</script>

<style scoped>
.msg-page {
  font-size: 16px;
}

.msg-page > h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 5px;
}

.msg-page > p {
  color: #666;
  margin: 0.3rem 0;
  line-height: 0.5rem;
}
.login p:nth-child(1) {
  text-align: center;
  font-weight: 600;
  display: block;
  color: #333333;
  font-size: 0.4rem;
}

.login > p:nth-child(3) {
  color: #666;
  margin: 0.3rem 0;
  /* line-height: 0.5rem; */
}
</style>
