<template>
  <div>
    <mt-header :title="pwd ? '修改登录密码' :'设置登录密码'">
      <router-link to="" slot="left" @click.native="goBack">
        <mt-button icon="back"></mt-button>
      </router-link>
    </mt-header>
    <div class="login2">
      <mt-field v-if="pwd" label="旧密码" placeholder="请输入旧密码" type="password"
                v-model="changePwd.oldpwd"></mt-field>
      <mt-field :label="pwd?'新密码':'登录密码'" placeholder="6-18位数字、字母或其组合" type="password"
                v-model="changePwd.newpwd"></mt-field>
      <mt-field label="确认密码" placeholder="请再次输入密码" type="password" v-model="changePwd.password"></mt-field>
      <lay-button @click="confirmPwd"
                  :block="true"
                  :full="true"
                  theme="positive"
      >确定
      </lay-button>
      <p @click="judge">{{text}}</p>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {pwdChange_api} from "@/common/api";
  import {Toast} from "mint-ui";
  import {mapMutations, mapGetters, mapActions} from "vuex";
  import LayButton from "@/vlayui/LayButton";

  export default {
    components: {
      LayButton,
      MyHeader
    },
    created() {
      // 是否设置登录密码
      // this.pwd ? this.text = '忘记密码' : this.text = '联系客服'
    },
    computed: {
      isMobile() {
        return this.initData.isMobile; // 是否设置资金密码
      },
      pwd() {
        return this.initData.password; // 是否设置登录密码
      },
      ...mapGetters(["initData"])
    },
    mounted() {
      document.body.style.background = "#f7f7f7";
    },
    data() {
      return {
        text: '联系客服',
        changePwd: {
          oldpwd: "",
          newpwd: "",
          password: ""
        }
      };
    },
    methods: {
      ...mapMutations({
        initData_Mua: "INIT_DATA" // 将 `this.add()` 映射为 `this.$store.commit('increment')`
      }),
      ...mapActions([
        'amount'
      ]),
      judge() {
        if (this.text == '联系客服') {
          this.$router.push('kefu')
        } else if (this.text == '忘记密码') {
          if (this.isMobile != false) {
            this.$router.push('forgotPwd')
          } else {
            MessageBox.confirm('您未绑定手机，为保证您的资金安全，请联系客服处理')
              .then(action => {
                this.$router.push("kefu");
              })
              .catch(res => {

              });
          }
        }
      },
      confirmPwd() {
        if (this.changePwd.oldpwd == this.changePwd.newpwd) {
          return Toast('密码未作改动')

        } else if (this.changePwd.newpwd === this.changePwd.password) {
          pwdChange_api(this.changePwd).then(res => {
            if (res.code === 200) {
              // if(this.title=='忘记密码'){
              //   Toast({
              //     message: "密码修改成功",
              //     iconClass: "iconfont icon-chenggong"
              //   });
              //   setTimeout(() => {
              //     this.$router.push('/personal')
              //   }, 1500);
              // }else
              if (this.title === '联系客服') {
                Toast(res.msg)
              } else {
                Toast('密码设置成功');
                this.initData.password = true
                this.amount(this.initData);
                setTimeout(() => {
                  this.$router.push('/personal')
                }, 1500);
              }
            } else {
              Toast(res.msg);
            }
          });
        } else {
          Toast("两次输入不一致");
        }
      },
      goBack() {
        window.history.back();
      }
    },

  };
</script>
<style scoped lang="less" rel="stylesheet/less">
  .iconfont {
    font-size: 80px;
  }

  .login2 {
    padding: 20px;

    > button {
      color: #fff;
      background: #6C2DFE;
      border-radius: 8px;
    }

    > p {
      width: calc(100% - 40px);
      position: fixed;
      bottom: 10px;
      text-align: center;
      font-size: 12px;
      color: #4A73C5;
    }

    .mint-cell {
      background: #fff;
      margin-bottom: 14px;
      border-radius: 8px;
    }

    .mint-tab-item, .mint-cell-text {
      color: #333 !important;
    }

    .mint-cell-title {
      color: #333 !important;
      font-size: 16px;
      letter-spacing: 0;
    }

    .mint-field-core {
      background-color: #fff;
    }
  }
</style>
