<template>
  <div class="recharge">
    <my-header></my-header>
    <div style="padding:0 .3rem">
      <mt-tab-container v-model="selected">
        <mt-tab-container-item id="1">
          <ul v-infinite-scroll="msgList_list" infinite-scroll-disabled="listEnd" infinite-scroll-distance="10">

            <li class="mint-ce" v-for="(v,i) in msgList" :key="i" @click="goDetail(v,1);changePanel(v)">

              <div class="bssorpao">

                <i v-if="v.isread===0"></i>
                <p :class="{ball:v.isread==0}">{{v.title}}</p>

                <div style="color: #666">{{v.sendtime | moment}}</div>
              </div>
              <!-- <i v-if="v.isread==1" class="mint-cell-allow-right"></i> -->
            </li>

            <div class="font" v-if="msgList.length==0">暂无更多数据</div>

          </ul>
        </mt-tab-container-item>
        <!--<mt-tab-container-item id="1">-->
        <!--<ul v-infinite-scroll="announcement_list" infinite-scroll-disabled="listEnd" infinite-scroll-distance="10">-->
        <!--<li class="mint-cell" v-for="(v,i) in announcement" :key="i" @click="goDetail(v,2)">-->
        <!--<div class="font" v-if="announcement.length==0">没有更多数据哦</div>-->
        <!--<p>{{v.title}}</p>-->
        <!--<div style=" color: #666;">{{v.dateline | moment}}</div>-->
        <!--&lt;!&ndash; <i class="mint-cell-allow-right"></i> &ndash;&gt;-->
        <!--</li>-->
        <!--</ul>-->
        <!--</mt-tab-container-item>-->
      </mt-tab-container>
    </div>
    <!-- <div class="login">
      <ul v-infinite-scroll="announcement_list" infinite-scroll-disabled="listEnd" infinite-scroll-distance="10">
        <li class="mint-cell" v-for="(v,i) in msgList" :key="i" @click="goDetail(v)">
          {{msgList}}
          <p>{{v.title}}</p>
          <div style=" color: #666;">{{v.deteline | moment}}</div>
          <i class="mint-cell-allow-right"></i>
        </li>
      </ul>
    </div> -->
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {msgList_api, announcement_api, notice_read_api} from "@/common/api";

  import {Toast, Indicator} from "mint-ui";

  export default {
    created() {
      // this.msgList_api = announcement_api
      // this.announcement_api = announcement_api
      sessionStorage.getItem("msgNotice")
        ? (this.selected = sessionStorage.getItem("msgNotice"))
        : "";
    },
    mounted() {
      document.body.style.background = "#f7f7f7";
    },
    data() {
      return {
        selected: "1",
        page: 0,
        msgList: [],
        announcement: [],
        msgList_api,
        announcement_api,
        listEnd: false,
        loading: false,
        announcementEnd: false,
        announcementLoad: false
      };
    },
    methods: {
      announcement_list() {
        if (this.announcementEnd || this.announcementLoad) return;
        Indicator.open();
        this.announcementLoad = true;

        announcement_api({page: this.page + 1}).then(res => {
          Indicator.close();
          this.announcementLoad = false;
          if (res.code == 200) {
            console.log(res);
            this.page = res.data.page;
            if (res.data.list.length > 0) {
              this.announcement = this.announcement.concat(res.data.list);
            } else {
              this.announcementEnd = true;
              res.data.page != 1 ? Toast("没有更多数据了!") : "";
            }
          } else {
            Toast(res.msg);
          }
        });
      },
      msgList_list() {
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        msgList_api({page: this.page + 1}).then(res => {
          Indicator.close();
          this.loading = false;
          if (res.code == 200) {
            this.page = res.data.page;
            if (res.data.list.length > 0) {
              this.msgList = this.msgList.concat(res.data.list);
            } else {
              this.listEnd = true;
              // res.data.page != 1 ? Toast("没有更多数据了!") : ''
            }
          } else {
            Toast(res.msg);
          }
        });
      },
      goDetail(item, type) {
        if (type == 1) {
          this.$router.push({
            name: "MsgDetail",
            params: {
              msg: item
            }
          });
        }
        if (type == 2) {
          this.$router.push({
            name: "AnnouncementDetail",
            params: {
              msg: item
            }
          });
        }
      },
      changePanel(item) {
        notice_read_api({
          id: item.id
        }).then(res => {
          if (res.code === 200) {
            this.msgList_list();
          }
        });
      }
    },
    components: {
      MyHeader
    },
    watch: {
      selected(n, o) {
        n && sessionStorage.setItem("msgNotice", n);
      }
    }
  };
</script>

<style scoped>
  .mint-ce {
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    min-height: 48px;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .bssorpao {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #F0F0F0; */
  }

  .bssorpao i {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: red;
    /* border: 1px solid #666; */
    top: 5px;
    left: 0;
  }

  .bssorpao p {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
  }

  .bssorpao .wity {
    background: #fff;
    border: 1px solid #666;
  }

  .bssorpao div {
    color: #666666;
    font-size: 14px;
  }

  li > p,
  li > div {
    position: relative;
    padding-left: 0.3rem;
    margin-bottom: 0.2rem;
  }

  li > p {
    font-size: 14px;
    color: #333;
  }

  li > div {
    font-size: 13px;
    color: #666;
  }

  .font {
    text-align: center;
    font-size: 16px;
    margin-top: 3.5rem;
  }

  .mint-cell {
    padding: 15px 0;
  }

  .mint-cell > .ball:before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 0;
    background: #ff4d55;
  }

  .mint-navbar .mint-tab-item.is-selected {
    border: 0;
    color: #4a73c5;
  }

  .mint-tab-item {
    position: relative;
  }

  .is-selected::after {
    margin-bottom: -3px;
    font-size: 15px;
    background-color: #4a73c5;
    position: absolute;
    right: 0;
    top: 0.8rem;
    left: 26%;
    height: 2px;
    content: "";
    width: 50%;
  }
</style>
