<template>
  <div class="page">
    <mt-header :title="issetPwd==true ? '修改资金密码' :'设置资金密码'">
      <router-link to="" slot="left" @click.native="goBack">
        <mt-button icon="back"></mt-button>
      </router-link>
    </mt-header>
    <div class="setPwd">
      <mt-field id="pass" v-if="issetPwd==true" label="旧资金密码" placeholder="请输入6位数字" type="number"
                v-model="changePwd.oldpwd"></mt-field>
      <mt-field id="pass" label="新资金密码" placeholder="请输入6位数字" type="number" v-model="changePwd.newpwd"></mt-field>
      <mt-field id="pass" label="确认资金密码" placeholder="请重新输入密码" type="number" v-model="changePwd.password"></mt-field>
      <lay-button @click="pwd"
                  :block="true"
                  :full="true"
                  theme="positive"
      >确定
      </lay-button>
      <p @click="goCode">{{text}}</p>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import {moneypwdChange_api, moneypwdCheck_api} from "@/common/api";
  import {Toast, MessageBox} from "mint-ui";
  import {mapMutations, mapGetters, mapActions} from "vuex";
  import LayButton from "@/vlayui/LayButton";
  export default {
    components: {
      LayButton
    },
    data() {
      return {
        text: "联系客服",
        changePwd: {
          oldpwd: "",
          newpwd: "",
          password: ""
        }
      };
    },
    mounted() {
      document.body.style.background = "#f7f7f7";
      var x = document.getElementById("pass");
      var style = window.getComputedStyle(x);
      if (style.webkitTextSecurity) {
        //do nothing
      } else {
        x.setAttribute("type", "password");
      }

    },
    computed: {
      issetPwd() {
        return this.initData.setPwd
      },
      isMobile() {
        return this.initData.isMobile
      },
      ...mapGetters(["initData"])
    },
    methods: {
      ...mapMutations({
        initData_Mua: "INIT_DATA"
      }),
      ...mapActions([
        'amount'
      ]),
      // 忘记密码
      goCode() {
        if (this.text === "联系客服") {
          this.$router.push("kefu");
        } else {
          if (this.isMobile !== 'false') {
            this.$router.push("getCode");
          } else {
            MessageBox.confirm("您未绑定手机，为保证您的资金安全，请联系客服处理")
              .then(action => {
                this.$router.push("kefu");
              })
              .catch(res => {
              });
          }
        }
      },
      pwd() {
        if (this.changePwd.newpwd === this.changePwd.password) {
          moneypwdChange_api(this.changePwd).then(res => {
            if (res.code === 200) {
              if (this.issetPwd === "true") {
                Toast({
                  message: "资金密码修改成功",
                  iconClass: "iconfont icon-chenggong"
                });
              } else {
                Toast({
                  message: "资金密码设置成功",
                  iconClass: "iconfont icon-chenggong"
                });
                sessionStorage.setItem('setPwd', true)
                this.initData.setPwd = true
                this.amount(this.initData);
              }

              setTimeout(() => {
                window.history.back();
              }, 1500);
            } else {
              Toast(res.msg);
            }
          });
        } else {
          Toast("两次输入不一致");
        }
      },
      goBack() {
        window.history.back();
      }
    },
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .iconfont {
    font-size: 80px;
  }

  .setPwd {
    padding: 20px;

    > button {
      color: #fff;
      background: #6C2DFE;
      border-radius: 8px;
    }

    > p {
      width: calc(100% - 40px);
      position: fixed;
      bottom: 10px;
      text-align: center;
      font-size: 12px;
      color: #4A73C5;
    }

    .mint-cell {
      background: #fff;
      margin-bottom: 14px;
      border-radius: 8px;
    }

    .mint-tab-item, .mint-cell-text {
      color: #333 !important;
    }

    .mint-cell-title {
      color: #333 !important;
      font-size: 16px;
      letter-spacing: 0;
    }

    .mint-field-core {
      background-color: #fff;
    }

  }
</style>
