<template>
  <div class="page">
    <my-header></my-header>
    <div class="bank">
        <img :src="detailMsg.icon" alt="" width="29">
        <div style="flex-grow:1">
          <h3>银行卡：{{detailMsg.bank}}({{detailMsg.cardno.substring(detailMsg.cardno.length-4)}})</h3>
          <p>订单编号：
            <span>{{detailMsg.orderno}}</span>
            <small v-clipboard:copy="detailMsg.orderno" 　　 v-clipboard:success="onCopy" 　　v-clipboard:error="onError">复制</small>
          </p>
        </div>
        <div style="flex-grow:0;align-items: flex-end;">
          <span style="margin-bottom:.25rem; color:#fe3959">{{detailMsg.amount | fmoney}}元</span>
          <small style="color:#FE3959"></small>
        </div>
    </div>
    <div class="login">
      <ul>
        <li v-if="show">
          <div class="yd">
            <p>{{resultDate[0]}}</p>
            <small>{{resultDate[1]}}</small>
          </div>

          <div v-if="suc">{{messageList[0].state}}</div>

          <div v-if="!suc">
            <p>{{messageList[1].err}}</p>
            <p class="remark">{{messageList[1].tit}}</p>
          </div>
        </li>
        <li>
          <div :class="pending? ' ':'yd'">
            <p>{{submitDate[0]}}</p>
            <small>{{submitDate[1]}}</small>
          </div>
          <div>
            <p>审核中</p>
          </div>
        </li>
        <li>
          <div :class="post ?'yd' :' '">
            <p>{{submitDate[0]}}</p>
            <small>{{submitDate[1]}}</small>
          </div>
          <div>
            <p>提交申请成功</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import MyHeader from "@/bass/header";
import moment from "moment/moment";
import {Toast} from 'mint-ui'
export default {
  data() {
    return {
      submitDate: "",
      resultDate: "",
      detailMsg: {},
      status: "",
      show: false, // 外层显示
      pending: false, //审核中红点显示
      post: true, // 提交成功红点显示
      suc: false,
      messageList: [
        { state: "提现成功" },
        { err: "提现失败", tit: "银行正在结算" }
      ]
    };
  },
  created() {
    (function() {
      document.body.style.background = "#F2F2F2";
    })();
    let msg = this.$route.params.msg;
    console.log(msg);
    this.detailMsg = msg;
    this.submitDate = moment
      .unix(msg.dateline)
      .format("MM-DD HH:mm")
      .split(" ");

    if (msg["audittime"] === "0") {
      // 如果未审核
      this.show = false; // 不显示第一条
    } else {
      this.show = true; // 显示第一条
      this.pending = false; // 显示小红点   
      this.resultDate = moment
        .unix(msg["audittime"])
        .format("MM-DD HH:mm")
        .split(" ");
      if (msg["status"] === "提现成功") {
        this.suc = true;
      }
      if (msg.status === "提现失败") {
        this.suc = false;
        this.messageList[1]["tit"] = msg["remark"];
      }
    }
  },
    methods:{
     onCopy: function (e) {
         Toast('复制成功')
    },
     onError: function (e) {
      alert('复制失败')
    },
    gokefu(){
      this.$router.push('kefu')
    }
  },
  destroyed() {
    (function() {
      document.body.style.background = "#fff";
    })();
  },
  components: {
    MyHeader
  }
};
</script>


<style scoped lang="less" rel="stylesheet/less">
.login ul {
  background: #fff;
  border-radius: 5px;
  padding: 0.3rem;
}

.login li:last-child > div:first-child {
  border: 0;
}

.login li {
  display: flex;
  color: #999;
}

.login li > div:first-child {
  padding-right: 0.3rem;
  border-right: 1px solid #ccc;
  position: relative;
  padding-bottom: 1rem;
}

.login li > div:last-child {
  margin-left: 0.3rem;
}
.login li > div>p{
  color: #999;
}
.bank{
  height: 1.5rem;
  line-height: 2;
  padding: 0 .3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  background-color: #fff;
  > img {
    flex-grow: 0;
    margin-right: 0.3rem;
  }
  h3 {
    font-size: 16px;

    font-weight: normal;
  }
  small{
    color: #4A73C5;

  }
  p{
    color: #999;
    >span{
      color: #000;
   margin-right: 5px;
  }
  }
}
li > div:first-child:before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: -7px;
  background: #d8d8d8;
}

li > div.yd::before {
  background: #EC3224;
}

.yd > p {
  min-width: 40px;
}

.yd + div {
  color: #000;
}

p.remark {
  color: #666;
  font-size: 13px;
  line-height: 20px;
  margin-top: 5px;
}
.login > p {
    width: 100%;
    position: fixed;
    bottom: 10px;
    text-align: center;
    font-size: 12px;
    color: #4A73C5;
}
</style>