<template>
  <div :class="classObject" @click="onClick($event)">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    props: {
      border: Boolean, // true or false
      padding: Boolean, // true or false
    },
    computed: {
      classObject: function () {
        let obj = {
          'lay-item': true,
          'lay-item-border': false,
          'lay-item-padding': false,
        };

        if (this.border) {
          obj[`lay-item-border`] = true;
        }

        if (this.padding) {
          obj[`lay-item-padding`] = true;
        }

        return obj;
      }
    },
    methods: {
      onClick: function (e) {
        e && e.preventDefault();
        this.$emit("item-click");
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  .lay-item {
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 14px;
  }

  .lay-item-border {
    border-width: 1px;
    border-style: solid none solid none;
    border-color: #E2E2E2;
  }

  .lay-item-padding {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .lay-item-icon-left {
    padding-left: 54px;
  }
</style>
